openapi: 3.2.0
info:
  title: Parties Identity verification API
  description: Create parties, manage your payout instruments and beneficial owners and carry out identity verification checks.
  contact:
    name: Team Fusion
  version: '2025-01-01'
  x-metadata:
    catalog-list: true
    business:
    - Marketplaces
    category:
    - Parties
    generated: true
servers:
- url: https://try.access.worldpay.com
  description: Test (Try)
- url: https://access.worldpay.com
  description: Live
security:
- basicAuth: []
tags:
- name: Identity Verification
  description: Enable identity verification check on a party.
paths:
  /parties/{partyId}/identityVerification:
    post:
      tags:
      - Identity Verification
      summary: Perform identity verification
      operationId: performIdentityVerification
      parameters:
      - name: partyId
        in: path
        description: A unique identifier for the party generated by us. This is sent in the response of your party creation call.
        required: true
        schema:
          type: string
          maxLength: 25
          minLength: 25
          pattern: ^par[a-zA-Z0-9-_]*0$
      - name: WP-Api-Version
        in: header
        description: The API version.
        required: true
        schema:
          type: string
          format: date
        example: '2025-01-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityVerification'
            examples:
              Perform an Identity Verification request for a company with beneficial owners (modular):
                $ref: '#/components/examples/Perform_IVS_Company_modular'
              URL with invalid value:
                $ref: '#/components/examples/400_Invalid_Url'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerificationResponse'
              examples:
                Identity Verification response for a company with beneficial owners (modular):
                  $ref: '#/components/examples/Perform_IVS_Company_200_modular'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
                URL with invalid value:
                  $ref: '#/components/examples/400_Invalid_Url'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal error occurred:
                  $ref: '#/components/examples/500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Service Unavailable:
                  $ref: '#/components/examples/503'
    get:
      tags:
      - Identity Verification
      summary: View identity verification status
      operationId: getIdentityVerificationStatus
      parameters:
      - name: partyId
        in: path
        description: A unique identifier for the party generated by us. This is sent in the response of your party creation call.
        required: true
        schema:
          type: string
          maxLength: 25
          minLength: 25
          pattern: ^par[a-zA-Z0-9-_]*0$
      - name: WP-Api-Version
        in: header
        description: The API version.
        required: true
        schema:
          type: string
          format: date
        example: '2025-01-01'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerificationResponse'
              examples:
                Verify an Identity Verification status for a company with beneficial owners (modular):
                  $ref: '#/components/examples/Get_IVS_Company_200_modular'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                URL with invalid value:
                  $ref: '#/components/examples/400_Invalid_Url'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal error occurred:
                  $ref: '#/components/examples/500'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Service Unavailable:
                  $ref: '#/components/examples/503'
components:
  examples:
    Perform_IVS_Company_modular:
      value:
        performIdentityVerification: true
    '500':
      value:
        errorName: internalErrorOccurred
        message: An error occurred within the service (potentially due to an interaction with a downstream service).
    Get_IVS_Company_200_modular:
      description: Get Identiy Verification Status on a party of a company (modular)
      value:
        overall:
          identityVerificationState: started
          identityVerificationMethod: identityVerificationService
        party:
          identityVerificationState: started
          partyReference: Linnea474
          partyId: parWcAyq5G2-1KwvsEkFAKwz0
        beneficialOwners:
        - identityVerificationState: started
          beneficialOwnerReference: Mac551
          beneficialOwnerId: parAZo80iViOTdKRJi4Oq14Z0
        - identityVerificationState: started
          beneficialOwnerReference: Thea799
          beneficialOwnerId: parB5ON-IEK4olrLuHvjEDpE0
        - identityVerificationState: started
          beneficialOwnerReference: Santino227
          beneficialOwnerId: parNKRss9vllWyX1MUVOj7b-0
    '400':
      value:
        errorName: bodyDoesNotMatchSchema
        message: There were field validation errors. The errors that occurred are within the validationErrors array.
        validationErrors:
        - errorName: fieldIsNotAllowed
          message: The identified field is present when it is explicitly not allowed in the request.
          jsonPath: $.additionalData
    Perform_IVS_Company_200_modular:
      description: Identity Verification Status on a party of a company (modular)
      value:
        overall:
          identityVerificationState: started
          identityVerificationMethod: identityVerificationService
        party:
          identityVerificationState: started
          partyReference: Euna925
          partyId: par1Bbf6r80Q3mEvhp_xBKNM0
        beneficialOwners:
        - identityVerificationState: started
          beneficialOwnerReference: Floy829
          beneficialOwnerId: parsH2dSCcczQveB-GQNx0qq0
        - identityVerificationState: started
          beneficialOwnerReference: Christina843
          beneficialOwnerId: parbQR-8sRkYASaOzOVPX5d10
        - identityVerificationState: started
          beneficialOwnerReference: Arlo912
          beneficialOwnerId: pargosUuzW0vv8HrWsCTuadb0
    400_Invalid_Url:
      value:
        errorName: urlContainsInvalidValue
        message: The URL contains a value or values that are invalid.
        validationErrors:
        - errorName: fieldHasInvalidValue
          message: Party 'parDgfhD9O5lWVjWiUOo3Cdf0' was not found.
          jsonPath: $.partyId
    '503':
      value:
        errorName: serviceUnavailable
        message: Service cannot fulfil the request even though service functions witout internal errors.
  schemas:
    IdentityVerificationInfo:
      type: object
      properties:
        identityVerificationState:
          type: string
          enum:
          - verified
          - notVerified
          - pending
          - rejected
          - notApplicable
          - started
          - startedAction
          - pendingStepUpAction
          - pendingManualReview - stepUpReceived
          readOnly: true
        identityVerificationMethod:
          type: string
          enum:
          - merchantCompliant
          - identityVerificationService
          readOnly: true
        identityVerificationDate:
          type: string
          format: date
          description: A valid date as YYYY-MM-DD
          example: '2033-11-22'
          readOnly: true
        url:
          type: string
          description: The link returned from Identity Verification Status (IVS) used to retrieve additional details from the user.
          readOnly: true
        message:
          type: string
          description: The message associated with link returned from Identity Verification Status (IVS).
          readOnly: true
    ErrorResponse:
      type: object
      properties:
        errorName:
          type: string
          description: An ordinal error type that is part of the API contract. It is machine readable, but also human readable for clarity and semantic understanding of the error.
          example: bodyDoesNotMatchSchema
        message:
          type: string
          description: A human readable message giving a corrective action for the error. THIS IS NOT FOR MACHINE CONSUMPTION.
        validationErrors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseItem'
        pathParameter:
          type: string
        queryParameter:
          type: string
        jsonPath:
          type: string
      readOnly: true
      title: Error Response
    PartyIdentityVerificationInfo:
      type: object
      properties:
        identityVerificationState:
          type: string
          enum:
          - verified
          - notVerified
          - pending
          - rejected
          - notApplicable
          - started
          - startedAction
          - pendingStepUpAction
          - pendingManualReview
          - stepUpReceived
          readOnly: true
        identityVerificationMethod:
          type: string
          enum:
          - merchantCompliant
          - identityVerificationService
          readOnly: true
        identityVerificationDate:
          type: string
          format: date
          description: A valid date as YYYY-MM-DD
          example: '2033-11-22'
          readOnly: true
        url:
          type: string
          description: The link returned from Identity Verification Status (IVS) used to retrieve additional details from the user.
          readOnly: true
        message:
          type: string
          description: The message associated with link returned from Identity Verification Status (IVS).
          readOnly: true
        partyId:
          type: string
          description: A unique identifier for the party generated by us.
          readOnly: true
        partyReference:
          type: string
          description: 'Your reference for this party, must be unique within an entity.


            '
          example: Hosaka27384910
          maxLength: 64
          minLength: 3
          pattern: ^[A-Za-z0-9\-_ ]*$
    ErrorResponseItem:
      type: object
      properties:
        errorName:
          type: string
        message:
          type: string
        path:
          type: string
        jsonPath:
          type: string
        queryParameter:
          type: string
        pathParameter:
          type: string
    IdentityVerification:
      type: object
      properties:
        performIdentityVerification:
          type: boolean
          writeOnly: true
    BeneficialOwnerIdentityVerificationInfo:
      type: object
      properties:
        identityVerificationState:
          type: string
          enum:
          - verified
          - notVerified
          - pending
          - rejected
          - notApplicable
          - started
          - startedAction
          - pendingStepUpAction
          - pendingManualReview - stepUpReceived
          readOnly: true
        identityVerificationMethod:
          type: string
          enum:
          - merchantCompliant
          - identityVerificationService
          readOnly: true
        identityVerificationDate:
          type: string
          format: date
          description: A valid date as YYYY-MM-DD
          example: '2033-11-22'
          readOnly: true
        url:
          type: string
          description: The link returned from Identity Verification Status (IVS) used to retrieve additional details from the user.
          readOnly: true
        message:
          type: string
          description: The message associated with link returned from Identity Verification Status (IVS).
          readOnly: true
        beneficialOwnerReference:
          type: string
          description: 'Your reference for this beneficial owner, must be unique within an entity.


            '
          example: Hosaka27384910
          maxLength: 64
          minLength: 3
          pattern: ^[A-Za-z0-9\-_ ]*$
        beneficialOwnerId:
          type: string
          description: A unique identifier for the beneficial owner generated by us.
          readOnly: true
    IdentityVerificationResponse:
      type: object
      properties:
        errorName:
          type: string
          description: An ordinal error type that is part of the API contract. It is machine readable, but also human readable for clarity and semantic understanding of the error.
          example: bodyDoesNotMatchSchema
        message:
          type: string
          description: A human readable message giving a corrective action for the error. THIS IS NOT FOR MACHINE CONSUMPTION.
        validationErrors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseItem'
        pathParameter:
          type: string
        queryParameter:
          type: string
        jsonPath:
          type: string
        overall:
          $ref: '#/components/schemas/IdentityVerificationInfo'
        party:
          $ref: '#/components/schemas/PartyIdentityVerificationInfo'
        beneficialOwners:
          type: array
          items:
            $ref: '#/components/schemas/BeneficialOwnerIdentityVerificationInfo'
  securitySchemes:
    basicAuth:
      type: http
      description: Basic authentication with user name and password
      scheme: basic
