openapi: 3.2.0
info:
  title: Account Payouts Get payouts by Payout Request ID API
  description: Send funds to your customer's bank accounts and search for payouts using parameters.
  version: '2025-01-01'
  x-metadata:
    business:
    - Enterprise
    - Marketplaces
    catalog-list: true
    category:
    - Payouts
    generated: true
servers:
- url: https://try.access.worldpay.com
  description: Test (Try)
- url: https://access.worldpay.com
  description: Live
security:
- BasicAuth: []
tags:
- name: Get payouts by Payout Request ID
  description: Search for payout details by using a Payout Request ID.
paths:
  /accountPayouts/{payoutRequestId}:
    get:
      tags:
      - Get payouts by Payout Request ID
      summary: Retrieve payout details
      operationId: GetByPayoutRequestId
      parameters:
      - name: payoutRequestId
        in: path
        required: true
        schema:
          type: string
          description: Unique payout request ID associated with the original payout. We have returned this in the payout response. PN/PZ/PO prefix plus 6 characters.
          example: PZ000N65
      - name: WP-CorrelationId
        in: header
        description: A unique identifier used to trace and correlate a request across systems. Must be a GUID.
        schema:
          type: string
        example: 15cd16b2-7b82-41cb-9b11-21be9dacad88
      - name: WP-Timestamp
        in: header
        schema:
          type: string
          default: '1755681620'
      - name: WP-Api-Version
        in: header
        description: The version of the API you are using.
        schema:
          type: string
          default: '2025-01-01'
        example: '2025-01-01'
      - name: Idempotency-Key
        in: header
        description: A unique key to identify the request. This is used to prevent duplicate processing of the same request.
        schema:
          maximum: 35
          minimum: 1
          type: string
          default: mustBeUnique12345
        example: mustBeUnique12345
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
          example: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.PayoutItemSearch.V3.Models.OriginalItem'
              example:
                paymentId: 51a448e5-4430-ee11-b58a-005056b48b8e
                paymentDatetime: '2023-08-01T08:24:44.443Z'
                payeeName: John Smith
                sourceCurrency: ARS
                sourceAmount: 0
                targetCurrency: ARS
                targetAmount: 1.05
                paymentState: EXECUTED
                bankName: Test Bank
                bankCode: 10 02 04
                iban: GB29NWBK60161331926819
                channel: WIRE,ACH SD
                routedChannel: WIRE
                bankReference: ABCHK26
                payoutRequestId: PO000N65
                narrative: XYZ102025
                transactionReference: XYZ102025
                accountNumber: '45533882'
                swiftBic: BUKBGB22
                entity: default
                countryCode: AR
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwBodyErrorModel'
              example:
                errorName: unauthorized
                message: Invalid token
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwBodyErrorModel'
              example:
                errorName: Forbidden
                message: Forbidden. Unauthorized request
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwBodyErrorModel'
              example:
                errorName: notFound
                message: Payment not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwBodyErrorModel'
              example:
                errorName: null
                message: An unexpected error occurred.
components:
  schemas:
    WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwJsonPathErrorModel:
      type: object
      properties:
        errorName:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        jsonPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwBodyErrorModel:
      type: object
      properties:
        errorName:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WP.FXT.SinglePayoutApi.Domain.Shared.ErrorModels.AwJsonPathErrorModel'
      additionalProperties: false
    WP.FXT.SinglePayoutApi.Domain.PayoutItemSearch.V3.Models.OriginalItem:
      required:
      - payoutRequestId
      type: object
      properties:
        paymentId:
          type:
          - string
          - 'null'
          description: Unique identifier associated with the payment. GUID.
        paymentDatetime:
          type:
          - string
          - 'null'
          description: Date and time of the payment submission. DateTime ISO 8601.
          format: date-time
        payeeName:
          maximum: 140
          type:
          - string
          - 'null'
          description: 'Complete payee name for the payout. This will be one of (depending on the beneficiary type):

            fullName- concatenated value from title + firstName + middleName + lastName

            companyName.'
        sourceCurrency:
          maximum: 3
          type:
          - string
          - 'null'
          description: <a href="/products/reference/supported-countries-currencies#currency-codes">ISO 4217 alpha-3 currency code</a> for the remitter account.
        sourceAmount:
          type: number
          description: Source amount. 18 digit precision including 2 decimal places.
          format: double
        targetCurrency:
          maximum: 3
          minimum: 3
          type:
          - string
          - 'null'
          description: Target <a href="/products/reference/supported-countries-currencies#currency-codes">ISO 4217 alpha-3 currency codes</a> for the payout.
        targetAmount:
          type: number
          description: Target amount.
          format: double
        paymentState:
          enum:
          - AWAITING_EXECUTION
          - NEW
          - VALID
          - REJECTED
          - EXECUTED
          - IN_REVIEW
          - RFI_IN_PROGRESS
          - AWAITING_LIQUIDITY
          - COMPLETED
          - REVERSED
          - FAILED
          - INVALID
          type:
          - string
          - 'null'
          description: State of the payout.
          x-enumDescriptions:
            AWAITING_EXECUTION: Interim state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
            NEW: Interim state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
            VALID: Interim state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
            REJECTED: Interim state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
            EXECUTED: The API has accepted your payout request and it is now waiting in the queue for submission to our banking partner.
            IN_REVIEW: Payout is currently under review as part of our standard compliance procedures. No action is required from you at this time. We will notify you separately once the review is complete or if we require any further information from you.
            RFI_IN_PROGRESS: "Payout is currently on hold pending the completion of our standard compliance review. We require additional information from you and will be in touch with the specific details needed. Please respond at your earliest convenience to help us resolve this as quickly as possible.\n\n  **Note:** Please contact your Worldpay Implementation Manager if you want to receive this."
            AWAITING_LIQUIDITY: "Payout is currently on hold due to insufficient funds. Please deposit funds into your Worldpay account in order to release the payout and ensure future payouts aren't also held in this state.\n\n  **Note:** Please contact your Worldpay Implementation Manager if you want to receive this."
            COMPLETED: Our banking partner has accepted the payout request for processing. Final state or `REVERSED` in a return scenario.
            REVERSED: Our validation rules, banking partner or beneficiary bank has rejected the payout request. The funds have subsequently been returned to your account.  All rejected payouts include a description with reasoning (if available).
            FAILED: Final state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
            INVALID: Final state in the asynchronous payout request. Please contact your Relationship Manager if this persists, as this might suggest integration issues.
        bankName:
          type:
          - string
          - 'null'
          description: Name of the payee (beneficiary) bank which the payout is being made to.
        bankCode:
          type:
          - string
          - 'null'
          description: Beneficiary bank account bank code.
        iban:
          type:
          - string
          - 'null'
          description: Beneficiary IBAN.
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
        outcomeReason:
          type:
          - string
          - 'null'
        channel:
          type:
          - string
          - 'null'
          description: List of the channels that were sent in the request for this payout.
        routedChannel:
          type:
          - string
          - 'null'
          description: The channel that was used to process this payout.
        bankReference:
          type:
          - string
          - 'null'
          description: A bank-generated reference that enables your customers to track their payout within the payment network. This feature is only available for specific routes. For details on availability, please contact your Relationship Manager.
        payoutRequestId:
          maximum: 10
          minimum: 8
          pattern: AlphaNumericRegex = ^[0-9a-zA-Z]+$
          type: string
          description: Unique payout request ID associated with a payout submitted through our Account Payouts API. PN/PZ/PO prefix plus 6 characters.
        narrative:
          maximum: 50
          minimum: 0
          type:
          - string
          - 'null'
          description: Reference that may appear on beneficiary statements.
        transactionReference:
          maximum: 50
          minimum: 0
          type:
          - string
          - 'null'
          description: Unique reference provided by you.
        accountNumber:
          maximum: 50
          minimum: 0
          type:
          - string
          - 'null'
          description: Bank Account number.
        swiftBic:
          maximum: 50
          type:
          - string
          - 'null'
          description: Beneficiary bank account SWIFT/BIC.
        countryCode:
          maximum: 2
          minimum: 2
          type:
          - string
          - 'null'
          description: <a href="/products/reference/supported-countries-currencies#iso-country-codes">ISO 3166-1 Alpha-2 country code</a> of the payout destination.
      additionalProperties: false
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
