openapi: 3.0.1
info:
  title: Card Payments
  description: >-
    Take online payments with our Card Payments API.


    __Authentication header__
      ```
        Authorization: {your_credentials}
      ```
    Replace `{your_credentials}` with your base64-encoded Basic Auth username
    and password given to your by your Worldpay Implementation Manager.

    <br /> <br />


    You **must** use the `Authorization` header for any request you send to our
    Card Payments API.


    __Accept/Content-Type header__
      ```
      Content-Type: application/vnd.worldpay.payments-v7+json
      Accept: application/vnd.worldpay.payments-v7+json
      ```
    We use the Accept header to identify which version of our API you are using.
    You must use the Accept header for any request you send to our Card Payments
    API.


    We require the Content-Type header if the request you're sending includes a
    request body, and if the HTTP method is a `POST` or a `PUT`.

    <br /><br />



    __DNS whitelisting__  

    Whitelist the following URLs:

    * `https://try.access.worldpay.com/`

    * `https://access.worldpay.com/`


    Please ensure you use DNS whitelisting, not explicit IP whitelisting.
  version: '7'
  x-metadata:
    category:
      - Card Payments
      - Wallets
    business:
      - Enterprise
      - Marketplaces
    catalog-list: true
    generated: false
servers:
  - url: https://try.access.worldpay.com
    description: Test (Try)
  - url: https://access.worldpay.com
    description: Live
paths:
  /cardPayments/customerInitiatedTransactions:
    post:
      summary: Take a card payment
      description: Take online card payments using our Card Payments API.
      operationId: authorize
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/customerInitiatedTransaction'
            examples:
              Card payment authorization:
                description: Payment authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                  channel: ecom
              Card payment authorization with all optional fields:
                description: Payment authorization for GBP 2.50 with all optional fields
                value:
                  transactionReference: transaction-ref
                  merchant:
                    entity: default
                    mcc: '1234'
                    paymentFacilitator:
                      schemeId: '12345'
                      independentSalesOrganizationId: '12345'
                      subMerchant:
                        name: Merchant Plc
                        reference: '12345'
                        address:
                          postalCode: SW1 1AA
                          street: Regent Street
                          city: London
                          countryCode: GB
                          state: CA
                        taxReference: '12345'
                        phoneNumber: '0123456789'
                        email: test@email.com
                        url: developer.worldpay.com
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    consumerBillPayment: true
                    debtRepayment: true
                    narrative:
                      line1: trading name
                      line2: order number
                    value:
                      currency: GBP
                      amount: 250
                      estimated: true
                      acceptPartialAmount: true
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 12
                        year: 2024
                      cardHolderName: John Appleseed
                      billingAddress:
                        address1: address line 1
                        address2: address line 2
                        address3: address line 3
                        city: city
                        state: state
                        postalCode: '12345'
                        countryCode: IT
                      cvc: '123'
                  riskProfile: https://try.access.worldpay.com/riskProfile/
                  channel: ecom
              Card payment authorization using 3DS2 authentication:
                description: Payment authorization for GBP 2.50 using 3DS2 authentication
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                  channel: ecom
                  authentication:
                    threeDS:
                      version: 2.2.0
                      eci: '05'
                      authenticationValue: kBNHXUAy4+HT1gAMBSDajheBcxQh
                      transactionId: c5b808e7-1de1-4069-a17b-f70d3b3b1645
              Card payment with a request to store card details:
                description: Payment authorization with a request to store card on file
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                      cvc: '123'
                    customerAgreement:
                      type: cardOnFile
                      storedCardUsage: first
                  channel: ecom
              Tokenized card payment authorization:
                description: Tokenized card payment authorization
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/token
                      href: https://try.access.worldpay.com/tokens
                  channel: ecom
              Network token payment authorization:
                description: Network token payment authorization
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/networkToken
                      tokenNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                  channel: ecom
                  authentication:
                    networkToken:
                      cryptogram: BLIYQ4EA/wLF4/hK9ABFMAABAAA=
                      eci: '05'
              Checkout payment authorization:
                description: Checkout authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/checkout
                      tokenHref: https://try.access.worldpay.com/tokens
                      cvcHref: https://try.access.worldpay.com/sessions
                  channel: ecom
              Apple wallet payment authorization:
                description: Apple wallet payment authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/wallet+applepay
                      walletToken: token
                  channel: ecom
              Google wallet payment authorization:
                description: Google wallet payment authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/wallet+googlepay
                      walletToken: token
                  channel: ecom
              Decrypted Apple Pay authorization:
                description: Decrypted Apple Pay authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/networkToken+applepay
                      tokenNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                  channel: ecom
                  authentication:
                    networkToken:
                      cryptogram: BLIYQ4EA/wLF4/hK9ABFMAABAAA=
                      eci: '05'
              Decrypted Google Pay authorization:
                description: Decrypted Google Pay authorization for GBP 2.50
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/networkToken+googlepay
                      tokenNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                  channel: ecom
                  authentication:
                    networkToken:
                      cryptogram: BLIYQ4EA/wLF4/hK9ABFMAABAAA=
                      eci: '05'
      responses:
        '201':
          description: The payment authorization has been successfully created
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/payments_authorize_201_response'
                  - $ref: >-
                      #/components/schemas/payments_sentForSettlement_201_response
                  - $ref: '#/components/schemas/payments_authorize_201_refusal'
                discriminator:
                  mapping:
                    authorized: '#/components/schemas/payments_authorize_201_response'
                    Sent for Settlement: >-
                      #/components/schemas/payments_sentForSettlement_201_response
                    refused: '#/components/schemas/payments_authorize_201_refusal'
                  propertyName: outcome
              examples:
                Successful payment authorization:
                  description: Payment authorization for GBP 2.50 with a successful outcome
                  value:
                    outcome: authorized
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmd-Rjc4HJwnBdj3Ri9v10vT0
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/linkData
                      cardPayments:partialCancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/partials/linkData
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/linkData
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Successful payment authorization with estimated authorization amount:
                  description: >-
                    Payment authorization for estimated GBP 2.50 with a
                    successful outcome
                  value:
                    outcome: authorized
                    paymentId: pay9iX60mh85-FPnv4ccQ9B40
                    commandId: cmdwZ5y_rSV1VmjD6CpgCuXG0
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/linkData
                      cardPayments:partialCancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/partials/linkData
                      cardPayments:increaseAuthorizedAmount:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/incrementalAuthorizations/linkData
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/linkData
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Successful payment authorization (encrypted wallets):
                  description: Payment authorization for GBP 2.50 with a successful outcome
                  value:
                    outcome: authorized
                    paymentId: pay7FBwk30sgS4fi-Vwapb220
                    commandId: cmdvn_du3sDMwls94_xG0a_v0
                    riskFactors:
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/network+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      tokenNumber: 555555******4444
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/linkData
                      cardPayments:partialCancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/partials/linkData
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/linkData
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      tokens:token:
                        href: https://try.access.worldpay.com/tokens/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Successful payment authorization (network tokens and decrypted wallets):
                  description: Payment authorization for GBP 2.50 with a successful outcome
                  value:
                    outcome: authorized
                    paymentId: payM39vAj85naVjwpP28C3800
                    commandId: cmdRTc29vnWi5-so71qzfN900
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/network+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/linkData
                      cardPayments:partialCancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/partials/linkData
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/linkData
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Successful payment authorization (requestAutoSettlement enabled):
                  description: >-
                    Payment authorization (requestAutoSettlement enabled) for
                    GBP 2.50 with a successful outcome
                  value:
                    outcome: Sent for Settlement
                    paymentId: pay-Tb29_shVbNM2_78s_hLu0
                    commandId: cmdCG2tN9863bNw79xB23f7R0
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:refund:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/refunds/full/linkData
                      cardPayments:partialRefund:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/refunds/partials/linkData
                      cardPayments:reverse:
                        href: >-
                          https://try.access.worldpay.com/payments/sales/reversals/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Successful payment authorization for a partial amount:
                  description: >-
                    Payment authorization for GBP 2.50 with a successful outcome
                    and GBP 1.99 authorized
                  value:
                    outcome: authorized
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmd_83bNq9Df_-x32M-9sB4c0
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: T75725
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    amounts:
                      requested: 250
                      totalAuthorized: 199
                      currency: GBP
                      partialAuthorization: true
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/linkData
                      cardPayments:partialCancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/partials/linkData
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/linkData
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/linkData
                      cardPayments:events:
                        href: >-
                          https://try.access.worldpay.com/payments/events/linkData
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Refused payment authorization:
                  description: Payment authorization with a refused outcome
                  value:
                    outcome: refused
                    paymentId: pay98nf27CWQoNxm3fA6KvdY0
                    commandId: cmdtIhnZ-86r1xAam9-v47fB0
                    refusalCode: '5'
                    refusalDescription: REFUSED
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    advice:
                      code: '01'
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: internalServerError
                    message: Internal server error
  /cardPayments/merchantInitiatedTransactions:
    post:
      summary: Take a repeat card payment
      description: Take online payments using our Card Payments API.
      operationId: recurring
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/merchantInitiatedTransaction'
            examples:
              Subscriptions - MIT payment authorization:
                description: MIT authorization for subscriptions
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                    customerAgreement:
                      type: subscription
                      schemeReference: 'MCCOLXT1C0104  '
              Installments - MIT payment authorization:
                description: MIT authorization for installments
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                    customerAgreement:
                      type: installment
                      installmentType: merchant
                      schemeReference: 'MCCOLXT1C0104  '
              Unscheduled - MIT payment authorization:
                description: MIT authorization for unscheduled payments
                value:
                  transactionReference: Memory265-13/08/1876
                  merchant:
                    entity: default
                  instruction:
                    requestAutoSettlement:
                      enabled: false
                    narrative:
                      line1: MindPalace
                    value:
                      currency: GBP
                      amount: 250
                    paymentInstrument:
                      type: card/plain
                      cardNumber: '4444333322221111'
                      expiryDate:
                        month: 5
                        year: 2035
                    customerAgreement:
                      type: unscheduled
                      schemeReference: 'MCCOLXT1C0104  '
      responses:
        '201':
          description: The payment authorization has been successfully created
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/payments_authorize_201_response_mit'
                  - $ref: >-
                      #/components/schemas/payments_sentForSettlement_201_response_mit
                  - $ref: '#/components/schemas/payments_authorize_201_refusal_mit'
                discriminator:
                  mapping:
                    authorized: '#/components/schemas/payments_authorize_201_response_mit'
                    Sent for Settlement: >-
                      #/components/schemas/payments_sentForSettlement_201_response_mit
                    refused: '#/components/schemas/payments_authorize_201_refusal_mit'
                  propertyName: outcome
              examples:
                Successful payment authorization:
                  description: Payment authorization for GBP 2.50 with a successful outcome
                  value:
                    outcome: authorized
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmdJ3o1eC1o3n6n31ol29l4y0
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    issuer:
                      authorizationCode: '675725'
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                    _links:
                      cardPayments:cancel:
                        href: >-
                          https://try.access.worldpay.com/payments/authorizations/cancellations/
                      cardPayments:settle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/full/
                      cardPayments:partialSettle:
                        href: >-
                          https://try.access.worldpay.com/payments/settlements/partials/
                      cardPayments:events:
                        href: https://try.access.worldpay.com/payments/events/
                      curies:
                        - name: cardPayments
                          href: >-
                            https://try.access.worldpay.com/rels/cardPayments/{rel}
                          templated: true
                Refused payment authorization:
                  description: Payment authorization with a refused outcome
                  value:
                    outcome: refused
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmd9jCb83Nao1N9noa91dJ200
                    refusalCode: '5'
                    refusalDescription: REFUSED
                    riskFactors:
                      - type: cvc
                        risk: notSupplied
                      - type: avs
                        risk: notChecked
                        detail: address
                      - type: avs
                        risk: notChecked
                        detail: postcode
                    advice:
                      code: '01'
                    paymentInstrument:
                      type: card/plain+masked
                      cardBin: '555555'
                      lastFour: '4444'
                      category: consumer
                      countryCode: GB
                      expiryDate:
                        month: 9
                        year: 2029
                      cardBrand: mastercard
                      fundingType: credit
                      issuerName: AN ISSUING BANK LTD
                      paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/settlements/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Settle for full amount
      description: To receive all the funds from the customer, send us a settle request.
      operationId: settle
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_settle'
            examples:
              Request to fully settle the authorization:
                description: Request to settle the authorization
      responses:
        '202':
          description: The payment settlement has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_fullSettle_response'
              examples:
                Response to fully settle the authorization:
                  description: Response to fully settle the authorization
                  value:
                    paymentId: payT7hS-8vS4h_95A2f7905v0
                    commandId: cmdp9D1t-ENYQxVnJkh0iPRC0
                    _links:
                      cardPayments:refund:
                        href: /payments/settlements/refunds/full/:linkData
                      cardPayments:partialRefund:
                        href: /payments/settlements/refunds/partials/:linkData
                      cardPayments:reverse:
                        href: /payments/authorizations/reversals/:linkData
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            aapplication/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/settlements/partials/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Settle for partial amount
      description: >-
        To receive a portion of the funds of a payment, send us a partial settle
        request.
      operationId: partialSettlement
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_partialSettle'
            examples:
              Request to partially settle the authorization:
                description: Request to partially settle the authorization
                value:
                  sequence:
                    number: 1
                    total: 2
                  value:
                    amount: 500
                    currency: EUR
                  reference: partial-settle-reference
              Request to partially settle the authorization, with marketplace seller country code:
                description: Request to partially settle the authorization
                value:
                  sequence:
                    number: 1
                    total: 2
                  value:
                    amount: 500
                    currency: EUR
                  reference: partial-settle-reference
                  merchant:
                    marketplace:
                      sellerCountryCode: FR
              Request to partially settle the authorization, with a split funding reference:
                description: Request to partially settle the authorization
                value:
                  sequence:
                    number: 1
                    total: 2
                  value:
                    amount: 500
                    currency: EUR
                  reference: partial-settle-reference
                  merchant:
                    marketplace:
                      splitFundingReference: my split funding ref
      responses:
        '202':
          description: The partial settlement has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_partialSettle_response'
              examples:
                Response to partially settle the authorization:
                  description: Response to partially settle the authorization
                  value:
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmdwZ5y_rSi1VmjD6CpgCuXG0
                    _links:
                      cardPayments:refund:
                        href: /payments/settlements/refunds/full/:linkData
                      cardPayments:partialRefund:
                        href: /payments/settlements/refunds/partials/:linkData
                      cardPayments:partialSettle:
                        href: /payments/settlements/partials/:linkData
                      cardPayments:reverse:
                        href: /payments/authorizations/reversals/:linkData
                      cardPayments:cancel:
                        href: /payments/authorizations/cancellations/:linkData
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/settlements/refunds/full/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Refund full amount
      description: >-
        Send a refund request to return the full settled amount to your
        customer.

          **Note:** No request body is needed for this request.
      operationId: refund
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_refund'
      responses:
        '202':
          description: The refund request has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_fullRefund_response'
              examples:
                Response to refund an authorization:
                  description: Response to refund an authorization
                  value:
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmdwZ5y_rSV1VmjD6CpgCuXG0
                    _links:
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/settlements/refunds/partials/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Refund partial amount
      description: >-
        Send a partial refund request to return a portion of the settled amount
        to your customer.
         Send the amount to refund and the authorization currency in the body.
      operationId: partialRefund
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_partialRefund'
            examples:
              Request to perform a partial refund of the settlement:
                description: Request to perform a partial refund of the settlement
                value:
                  value:
                    amount: 10
                    currency: EUR
                  reference: partial-refund-reference
              Request to perform a partial refund of the settlement, with a split funding reference:
                description: Request to perform a partial refund of the settlement
                value:
                  value:
                    amount: 500
                    currency: EUR
                  reference: partial-refund-reference
                  merchant:
                    marketplace:
                      splitFundingReference: my split funding ref
      responses:
        '202':
          description: The partial refund has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_partialRefund_response'
              examples:
                Response to partially refund an authorization:
                  description: Response to partially refund an authorization
                  value:
                    paymentId: payI-dUcet9fk4_X4qZU0hpU0
                    commandId: cmdwZ5y_rSV1VmjD6CpgCuXG0
                    _links:
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/authorizations/cancellations/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Cancel full authorization
      description: >-
        If you don't want to proceed with a payment, you can send a full cancel
        request.

         **Note:** You can only cancel a payment which is authorized. If the payment is settled, you must create a refund.
      operationId: cancel
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_cancel'
      responses:
        '202':
          description: The cancellation request has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_fullCancel_response'
              examples:
                Response to cancel an authorization:
                  description: Response to cancel an authorization
                  value:
                    _links:
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/authorizations/cancellations/partials/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Cancel partial authorization
      description: >-
        If you don't want to proceed with a payment, you can send a partial
        cancel request.

          **Note:** You can only cancel a payment which is authorized. If the payment is settled, you must create a refund.
      operationId: partialCancel
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_partialCancel'
            examples:
              Request to partially settle the authorization:
                description: Request to partially cancel the authorization
                value:
                  value:
                    amount: 500
                    currency: EUR
                  reference: partial-cancel-reference
      responses:
        '202':
          description: The partial cancellation request has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_partialCancel_response'
              examples:
                Response to cancel partial authorization:
                  description: Response to cancel an authorization
                  value:
                    _links:
                      cardPayments:events:
                        href: /payments/events/:linkData
                      cardPayments:partialCancel:
                        href: >-
                          /payments/authorizations/cancellations/partials/:linkData
                      cardPayments:partialSettle:
                        href: /payments/settlements/partials/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/authorizations/incrementalAuthorizations/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Increase authorization amount
      description: >-
        If you want to increase an initial estimated authorization amount
        (submitted with `estimated` set to `true`), you can send a incremental
        authorization request.

         **Note:** You must use the latest next action links returned by the incremental authorization response to settle (full/partial) and cancel (full/partial) the increased authorized amount. Using the next action links returned in your estimated authorization response will not use any increased amounts.
      operationId: increaseAuthorize
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      requestBody:
        content:
          application/vnd.worldpay.payments-v7+json:
            schema:
              $ref: '#/components/schemas/payments_increaseAuthorize'
            examples:
              Request to partially settle the authorization:
                description: Request to increase the initial estimated authorization
                value:
                  value:
                    amount: 500
                    currency: EUR
      responses:
        '202':
          description: >-
            The request to increase the authorization amount has been
            successfully processed
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/payments_increaseAuthorize_response'
                  - $ref: >-
                      #/components/schemas/payments_increaseAuthorize_response_refused
                discriminator:
                  mapping:
                    authorized: '#/components/schemas/payments_increaseAuthorize_response'
                    refused: >-
                      #/components/schemas/payments_increaseAuthorize_response_refused
                  propertyName: outcome
              examples:
                Successful response to increase the authorization amount:
                  description: >-
                    Successful response to increase an estimated authorization
                    amount
                  value:
                    outcome: authorized
                    amounts:
                      totalAuthorized: 1100
                      currency: EUR
                    issuer:
                      authorizationCode: T91252
                    scheme:
                      reference: MCCRU3I5U0701
                    _links:
                      cardPayments:increaseAuthorizedAmount:
                        href: >-
                          /payments/authorizations/incrementalAuthorizations/:linkData
                      cardPayments:cancel:
                        href: /payments/authorizations/cancellations/:linkData
                      cardPayments:partialCancel:
                        href: >-
                          /payments/authorizations/cancellations/partials/:linkData
                      cardPayments:settle:
                        href: /payments/settlements/full/:linkData
                      cardPayments:partialSettle:
                        href: /payments/settlements/partials/:linkData
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
                Refused response to increase the authorization amount:
                  description: >-
                    Response to increase the authorization amount with a refused
                    outcome due to insufficient funds
                  value:
                    outcome: refused
                    refusalCode: '51'
                    refusalDescription: Insufficient Funds
        '400':
          description: Bad request
          content:
            aapplication/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/sales/reversals/{linkData}:
    post:
      tags:
        - Manage payments
      summary: Reversal
      description: >-
        Your reversal request is processed as a cancel or refund request. This
        depends on the time passed after your sale request was submitted. For US
        entities the payment is refunded after one day after a successful sale
        request. Any other payment moves to refunded after 15 minutes.

          **Note:** No request body is needed for this request.
      operationId: reversal
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      responses:
        '202':
          description: The reversal request has been accepted
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_reversal_response'
              examples:
                Response to reverse the settlement:
                  description: Response to reverse the settlement
                  value:
                    _links:
                      cardPayments:events:
                        href: /payments/events/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/events/{linkData}:
    get:
      tags:
        - Query a payment
      summary: Query payment status
      description: >-
        Send a request to find out the current status of your payment after it
        has been authorized using the events action link.

          **Note:** It can take up to 15 minutes for a payment event to update.
      operationId: eventQuery
      parameters:
        - name: linkData
          in: path
          description: Action link that's received in your request.
          required: true
          schema:
            type: string
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      responses:
        '200':
          description: Retrieve the last event of a payment
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_events_200_response'
              examples:
                Querying a payment event with a transaction reference:
                  description: Querying a payment event with a transaction reference
                  value:
                    lastEvent: Authorized
                    _links:
                      cardPayments:cancel: /payments/authorizations/cancellations/:linkData
                      cardPayments:settle: /payments/settlements/full/:linkData
                      cardPayments:partialSettle: /payments/settlements/partials/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/events:
    get:
      tags:
        - Query a payment
      summary: Query payment status recovery
      description: >-
        Send a request to find out the current status of your payment after it
        has been authorized using the events action link. 

         **Important:** 

          Only use this for recovery purposes, for example when your authorization request has timed out or you are unable to locate a payment through our [Payments Queries API](/products/payment-queries). If the query returns results, you can manage the payment using the next action links returned in the response of your GET request.
      operationId: eventRecovery
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            example: application/vnd.worldpay.payments-v7+json
      responses:
        '200':
          description: Retrieve the last event of a payment
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/payments_events_recovery_200_response'
              examples:
                Querying a payment event with a transaction reference:
                  description: Querying a payment event with a transaction reference
                  value:
                    lastEvent: Authorized
                    _links:
                      cardPayments:cancel: /payments/authorizations/cancellations/:linkData
                      cardPayments:settle: /payments/settlements/full/:linkData
                      cardPayments:partialSettle: /payments/settlements/partials/:linkData
                      curies:
                        - name: payments
                          href: /rels/payments/{rel}
                          templated: true
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  description: Bad request
                  value:
                    errorName: bodyDoesNotMatchSchema
                    message: The json body provided does not match the expected schema
                    validationErrors:
                      - errorName: fieldMustBeString
                        message: Element at path must be a string
                        jsonPath: $.value.currency
        '401':
          description: Unauthorized
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  description: Unauthorized
                  value:
                    errorName: accessDenied
                    message: Access to the requested resource has been denied
        '404':
          description: Not found
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notFound:
                  description: Not found
                  value:
                    errorName: endpointNotFound
                    message: Requested endpoint was not found.
        '415':
          description: Unsupported media type
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupported:
                  description: Unsupported media type
                  value:
                    errorName: headerHasInvalidValue
                    message: Bad content type
        '500':
          description: Internal server error
          content:
            application/vnd.worldpay.payments-v7+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    transactionReference:
      maxLength: 64
      minLength: 1
      pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
      type: string
      description: >-
        A unique reference generated by you that is used to identify a payment
        throughout its lifecycle.
    entity:
      maxLength: 32
      minLength: 1
      pattern: ^([A-Za-z0-9]+[A-Za-z0-9 ]*)?$
      example: default
      type: string
      description: >-
        Direct your payment to assist with billing, reporting and
        reconciliation. This is mandatory for authentication and queries.
    mcc:
      pattern: ^\d{4}$
      type: string
      description: >-
        You can apply a merchant category code `mcc` to an individual request.
        You can only provide an `mcc` if we have enabled the dynamic mcc feature
        during boarding. If enabled but not provided, `merchant.mcc` defaults to
        a configured value.
      maxLength: 4
      minLength: 4
    paymentFacilitator:
      required:
        - schemeId
        - subMerchant
      type: object
      description: >-
        An object containing Payment Facilitator information. This information
        is required for every authorization **only if you are a Payment
        Facilitator**.
      properties:
        schemeId:
          maxLength: 11
          minLength: 1
          pattern: '[0-9]*$'
          type: string
          description: Your payment facilitator ID received from Visa, Mastercard, or Amex.
        independentSalesOrganizationId:
          maxLength: 11
          minLength: 1
          pattern: '[0-9]*$'
          type: string
        subMerchant:
          required:
            - reference
            - name
            - address
          type: object
          properties:
            name:
              maxLength: 25
              minLength: 1
              pattern: ^(?!\s*$)[A-Za-z0-9 ]*$
              type: string
            reference:
              type: string
              minLength: 1
              maxLength: 15
              pattern: ^[A-Za-z0-9]*$
            address:
              type: object
              required:
                - postalCode
                - street
                - city
                - countryCode
              properties:
                postalCode:
                  maxLength: 10
                  minLength: 1
                  pattern: ^(?!\s*$)[a-zA-Z0-9\s]*$
                  type: string
                  example: SW1 1AA
                street:
                  maxLength: 50
                  minLength: 1
                  pattern: ^(?!\s*$)[A-Za-z0-9\s]*$
                  type: string
                  example: 221B Baker Street
                city:
                  maxLength: 13
                  minLength: 1
                  pattern: ^(?!\s*$)[A-Za-z\s-]*$
                  type: string
                  example: London
                state:
                  maxLength: 3
                  minLength: 1
                  pattern: ^[a-zA-Z0-9]*$
                  type: string
                  description: The state code of the subMerchant in ISO-3166-2 format.
                countryCode:
                  maxLength: 2
                  minLength: 2
                  pattern: ^[A-Z]*$
                  type: string
                  description: >-
                    Country code of the subMerchant in [ISO 3166-1 Alpha-2
                    format](/products/reference/supported-countries-currencies#iso-country-codes).
            phoneNumber:
              maxLength: 20
              minLength: 4
              pattern: ^(?!\s*$)[0-9\s()+-/.x]*$
              type: string
            taxReference:
              maxLength: 20
              minLength: 1
              pattern: ^(?!\s*$)[a-zA-Z0-9\s-]*$
              type: string
            email:
              maxLength: 40
              minLength: 1
              type: string
              pattern: ^.+@.+$
            url:
              maxLength: 255
              minLength: 1
              pattern: ^[a-zA-Z0-9@!£*#$)(+-_=.,/;:]*$
              type: string
    taxReference:
      maxLength: 20
      minLength: 1
      pattern: ^(?!\s*$)[a-zA-Z0-9\s-]*$
      type: string
      description: Merchant's tax reference.
    narrative:
      required:
        - line1
      type: object
      description: >-
        The text that appears on your customer's statement. Used to identify the
        merchant.
      properties:
        line1:
          type: string
          minLength: 1
          maxLength: 24
          pattern: ^[a-zA-Z0-9 _!@#$%()*=.:;?[]{}~/+-,`^&]*$
          description: >-
            The first line of the narrative which appears on your customer's
            statement (24 characters max. If character is not supported it is
            replaced with a space).
        line2:
          type: string
          minLength: 1
          maxLength: 24
          pattern: ^[a-zA-Z0-9 _!@#$%()*=.:;?[]{}~/+-,`^&]*$
          description: >-
            Additional details about the payment e.g. order number, telephone
            number.
    routing:
      type: object
      description: An object containing specific routing preferences.
      properties:
        fundingType:
          type: string
          description: Specifies the credit or debit functionality of a combo card.
          enum:
            - credit
            - debit
        preferredCardBrand:
          type: string
          enum:
            - visa
            - mastercard
            - maestro
            - amex
            - cartesBancaires
            - diners
            - dankort
            - jcb
            - discover
            - elo
            - eftposAU
            - unionPay
          description: >-
            Specifies your customer's preferred card brand to be used for the
            transaction using a co-badged card.
    requestAccountUpdater:
      type: boolean
      description: >-
        Allows you to request a real-time account update when using a previously
        stored card. You can only use this with `customerAgreement` transactions
        with a `storedCardUsage` value of `subsequent`. If the stored card
        details that you provided for the transaction are no longer valid and
        new credentials are available, the authorization will be processed with
        the new card and its details will be returned in the
        `updatedPaymentInstrument` object in the response.
    debtRepayment:
      type: boolean
      description: >-
        Debt Repayment Indicator is a flag which identifies a payment with the
        purpose of repaying a debt.
    consumerBillPayment:
      type: boolean
      description: >-
        Consumer Bill Payment is a flag which identifies a bill payment paid by
        providers on behalf of consumers.
    recipient:
      type: object
      description: Additional transaction recipient data.
      properties:
        accountReference:
          maxLength: 10
          minLength: 1
          pattern: ^[a-zA-Z0-9]*$
          type: string
          description: >-
            Partial account reference of the primary recipient. Either partial
            card number (first 6 and last 4, no spaces), or a bank account
            number
          example: '4444331111'
        lastName:
          maxLength: 60
          minLength: 1
          pattern: ^[a-zA-Z@!£*#$)(+-_=.,/;:'" ]*$
          type: string
          description: >-
            The last name of the recipient. If for a business, then use the
            company name.
          example: Smith
        address:
          type: object
          description: Address of the recipient.
          required:
[...]
