openapi: 3.0.1
info:
  title: 3DS 3DS actions PaymentQueries API
  description: "Protect your business and meet regulatory requirements by verifying your customer's identity.\n\n__Authentication header__\n  ```\n    Authorization: {your_credentials}\n  ```\nReplace `{your_credentials}` with your base64-encoded Basic Auth username and password given to your by your Worldpay Implementation Manager.\n<br /> <br />\n\nYou **must** use the `Authorization` header for any request you send to our 3DS API.\n\n__Accept/Content-Type header__\n  ```\n  Content-Type: application/vnd.worldpay.verifications.customers-v3.hal+json\n  Accept: application/vnd.worldpay.verifications.customers-v3.hal+json\n  ```\nWe use the Accept header to identify which version of our API you are using. You must use the Accept header for any request you send to our 3DS API.\n\nWe require the Content-Type header if the request you're sending includes a request body, and if the HTTP method is a `POST` or a `PUT`.\n<br /><br />\n\n\n__DNS whitelisting__  \nWhitelist the following URLs:\n* `https://try.access.worldpay.com/`\n* `https://access.worldpay.com/`\n\nPlease ensure you use DNS whitelisting, not explicit IP whitelisting."
  version: '3'
  x-metadata:
    category:
    - 3DS
    - SCA Exemptions
    business:
    - Enterprise
    catalog-list: true
    generated: false
servers:
- url: https://try.access.worldpay.com
  description: Test (Try)
- url: https://access.worldpay.com
  description: Live
security:
- BasicAuth: []
tags:
- name: PaymentQueries
paths:
  /paymentQueries/payments:
    get:
      summary: Query payments
      description: 'Query payments within a specified date time range.


        These payments can be filtered by currency, minAmount, maxAmount, last4Digits & receivedEvents.


        The API returns data for payments processed after 25 June 2024. For payments processed before then use our [query for historical payments](/products/payment-queries/@v1/query-archive.md).'
      operationId: queryByDateRange
      parameters:
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          example: application/vnd.worldpay.payment-queries-v1.hal+json
      - name: startDate
        in: query
        description: An ISO 8601 date-time supplied as a string. Filters for payments that occurred after the specified date-time. Must be supplied alongside endDate.
        required: true
        schema:
          type: string
          example: '2024-04-28T21:30:20Z'
      - name: endDate
        in: query
        description: An ISO 8601 date-time supplied as a string. Filters for payments that occurred below the specified date-time. Must be supplied alongside startDate.
        required: true
        schema:
          type: string
          example: '2024-05-31T21:30:20Z'
      - name: pageSize
        in: query
        description: The maximum number of payments to be returned in the response (max 300).
        required: false
        schema:
          maxLength: 300
          type: integer
          example: 10
      - name: currency
        in: query
        description: The three digit currency code.
        required: false
        schema:
          type: string
          example: GBP
      - name: minAmount
        in: query
        description: This is a whole number including the currency exponent (e.g. GBP has an exponent of 2, so for £2.50 supply:`250`).
        required: false
        schema:
          type: integer
          example: 0
      - name: maxAmount
        in: query
        description: This is a whole number including the currency exponent (e.g. GBP has an exponent of 2, so for £2.50 supply:`250`).
        required: false
        schema:
          type: integer
          example: 1000
      - name: last4Digits
        in: query
        description: The last four digits of the card number.
        required: false
        schema:
          type: string
          example: '1111'
      - name: entityReferences
        in: query
        description: Your entity reference(s).
        required: false
        schema:
          type: string
          example: entityReference1,entityReference2
      - name: receivedEvents
        in: query
        description: Name of the event.
        required: false
        schema:
          type: string
          example: authorizationRequested, authorizationSucceeded
      - name: transactionReference
        in: query
        description: A unique reference generated by you, used to identify a payment throughout its lifecycle. This shouldn't be used in conjunction with the above fields. Use it as a single parameter to query data.
        required: false
        schema:
          type: string
          example: Memory265-13/08/1876
      responses:
        '200':
          description: Summary information of list of payments within a specified date range.
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_querybydaterange_200_response'
              examples:
                Query payments within a specified date time range:
                  description: Query payments within a specified date time range
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&pageSize=10
                      next:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-14T10:07:41.715Z&paymentId=payx_k6N2SVBXGau0Xcw5Q-V0&entityReferences=AccessWP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-18T10:22:02.673Z'
                        paymentId: payaE1a3RqUPFUI5g4tOyoaY0
                        transactionReference: abc-123
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '491203'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payaE1a3RqUPFUI5g4tOyoaY0
                      - timestamp: '2025-11-18T10:21:48.094Z'
                        paymentId: payGxRvBfPojyGTXfYPiR4Nv0
                        transactionReference: ff4ee1bc-2d8b-463b-8958-bad5c94aea89
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '900598'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payGxRvBfPojyGTXfYPiR4Nv0
                      - timestamp: '2025-11-17T14:28:33.714Z'
                        paymentId: paygHUMkxzZ58Md9hEICgUIH0
                        transactionReference: 59e9fc9e-fadd-4bb8-8fcd-d562070d4038
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '241035'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/paygHUMkxzZ58Md9hEICgUIH0
                      - timestamp: '2025-11-17T13:02:06.733Z'
                        paymentId: payjee5QHua9cgIu6m2xkERt0
                        transactionReference: 3f87965e-4710-41d7-af56-6225677f36ea
                        transactionType: cardOnFile
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '703984'
                        scheme:
                          reference: '060720116005060'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '9224'
                              cardBin: '483196'
                            brand: visa
                            expiryDate:
                              month: 12
                              year: 2028
                            countryCode: SG
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payjee5QHua9cgIu6m2xkERt0
                      - timestamp: '2025-11-17T10:32:26.906Z'
                        paymentId: payZs-cUL0vECYdW75V5e9gY0
                        transactionReference: 8e40b184-de8d-4009-94b2-a42b3ec02439
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        paymentInstrument:
                          type: card/wallet+googlepay
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payZs-cUL0vECYdW75V5e9gY0
                      - timestamp: '2025-11-17T10:32:21.166Z'
                        paymentId: payMtrFzP40TnI71R6j3NH5q0
                        transactionReference: 3dd8f935-3073-417e-8f9c-0eefb3c33ed4
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '350156'
                        scheme:
                          reference: '123456789012345'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '3434'
                              cardBin: '343434'
                            brand: amex
                            expiryDate:
                              month: 12
                              year: 2027
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payMtrFzP40TnI71R6j3NH5q0
                      - timestamp: '2025-11-17T10:25:45.937Z'
                        paymentId: payfGuaUB_v05btqv2WMKdez0
                        transactionReference: fd20ef16-8135-4ab6-8b5c-e2bda02fa17d
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '606829'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '9224'
                              cardBin: '483196'
                            brand: visa
                            expiryDate:
                              month: 12
                              year: 2028
                            countryCode: SG
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payfGuaUB_v05btqv2WMKdez0
                      - timestamp: '2025-11-14T10:08:54.726Z'
                        paymentId: payZWwsfjsDFY9T7E3lvPMfL0
                        transactionReference: d87841af-7f67-40d2-89ad-f1b8c98ef797
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '972487'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payZWwsfjsDFY9T7E3lvPMfL0
                      - timestamp: '2025-11-14T10:08:50.493Z'
                        paymentId: payHz1RW94TROEcxBpBgnsZU0
                        transactionReference: c1f8c8fc-140c-4d54-8fa7-5e86e4eda32b
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '371652'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payHz1RW94TROEcxBpBgnsZU0
                      - timestamp: '2025-11-14T10:07:41.715Z'
                        paymentId: payx_k6N2SVBXGau0Xcw5Q-V0
                        transactionReference: 22a0b037-7be0-40e1-b88d-026eceddabe1
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '756169'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payx_k6N2SVBXGau0Xcw5Q-V0
                Query payments within a specified date time range filtered by currency:
                  description: Query payments within a specified date time range filtered by currency
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&currency=GBP&pageSize=10
                      next:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-14T10:07:41.715Z&paymentId=payx_k6N2SVBXGau0Xcw5Q-V0&currency=GBP&entityReferences=AccessWP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-18T10:22:02.673Z'
                        paymentId: payaE1a3RqUPFUI5g4tOyoaY0
                        transactionReference: abc-123
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '491203'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payaE1a3RqUPFUI5g4tOyoaY0
                      - timestamp: '2025-11-18T10:21:48.094Z'
                        paymentId: payGxRvBfPojyGTXfYPiR4Nv0
                        transactionReference: ff4ee1bc-2d8b-463b-8958-bad5c94aea89
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '900598'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payGxRvBfPojyGTXfYPiR4Nv0
                      - timestamp: '2025-11-17T14:28:33.714Z'
                        paymentId: paygHUMkxzZ58Md9hEICgUIH0
                        transactionReference: 59e9fc9e-fadd-4bb8-8fcd-d562070d4038
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '241035'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/paygHUMkxzZ58Md9hEICgUIH0
                      - timestamp: '2025-11-17T13:02:06.733Z'
                        paymentId: payjee5QHua9cgIu6m2xkERt0
                        transactionReference: 3f87965e-4710-41d7-af56-6225677f36ea
                        transactionType: cardOnFile
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '703984'
                        scheme:
                          reference: '060720116005060'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '9224'
                              cardBin: '483196'
                            brand: visa
                            expiryDate:
                              month: 12
                              year: 2028
                            countryCode: SG
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payjee5QHua9cgIu6m2xkERt0
                      - timestamp: '2025-11-17T10:32:26.906Z'
                        paymentId: payZs-cUL0vECYdW75V5e9gY0
                        transactionReference: 8e40b184-de8d-4009-94b2-a42b3ec02439
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        paymentInstrument:
                          type: card/wallet+googlepay
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payZs-cUL0vECYdW75V5e9gY0
                      - timestamp: '2025-11-17T10:32:21.166Z'
                        paymentId: payMtrFzP40TnI71R6j3NH5q0
                        transactionReference: 3dd8f935-3073-417e-8f9c-0eefb3c33ed4
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '350156'
                        scheme:
                          reference: '123456789012345'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '3434'
                              cardBin: '343434'
                            brand: amex
                            expiryDate:
                              month: 12
                              year: 2027
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payMtrFzP40TnI71R6j3NH5q0
                      - timestamp: '2025-11-17T10:25:45.937Z'
                        paymentId: payfGuaUB_v05btqv2WMKdez0
                        transactionReference: fd20ef16-8135-4ab6-8b5c-e2bda02fa17d
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '606829'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '9224'
                              cardBin: '483196'
                            brand: visa
                            expiryDate:
                              month: 12
                              year: 2028
                            countryCode: SG
                            fundingType: debit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 250
                        _links:
                          self:
                            href: /paymentQueries/payments/payfGuaUB_v05btqv2WMKdez0
                      - timestamp: '2025-11-14T10:08:54.726Z'
                        paymentId: payZWwsfjsDFY9T7E3lvPMfL0
                        transactionReference: d87841af-7f67-40d2-89ad-f1b8c98ef797
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '972487'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payZWwsfjsDFY9T7E3lvPMfL0
                      - timestamp: '2025-11-14T10:08:50.493Z'
                        paymentId: payHz1RW94TROEcxBpBgnsZU0
                        transactionReference: c1f8c8fc-140c-4d54-8fa7-5e86e4eda32b
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '371652'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payHz1RW94TROEcxBpBgnsZU0
                      - timestamp: '2025-11-14T10:07:41.715Z'
                        paymentId: payx_k6N2SVBXGau0Xcw5Q-V0
                        transactionReference: 22a0b037-7be0-40e1-b88d-026eceddabe1
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '756169'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payx_k6N2SVBXGau0Xcw5Q-V0
                Query payments within a specified date time range filtered by currency, amount:
                  description: Query payments within a specified date time range filtered by currency, amount
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&minAmount=300&maxAmount=650&currency=GBP&pageSize=10
                      next:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-11T09:37:10.246Z&paymentId=pay5FujHH5e7a_d8eeaFPi3i0&minAmount=300&maxAmount=650&currency=GBP&entityReferences=AccessWP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-18T10:22:02.673Z'
                        paymentId: payaE1a3RqUPFUI5g4tOyoaY0
                        transactionReference: abc-123
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '491203'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payaE1a3RqUPFUI5g4tOyoaY0
                      - timestamp: '2025-11-18T10:21:48.094Z'
                        paymentId: payGxRvBfPojyGTXfYPiR4Nv0
                        transactionReference: ff4ee1bc-2d8b-463b-8958-bad5c94aea89
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '900598'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payGxRvBfPojyGTXfYPiR4Nv0
                      - timestamp: '2025-11-17T14:28:33.714Z'
                        paymentId: paygHUMkxzZ58Md9hEICgUIH0
                        transactionReference: 59e9fc9e-fadd-4bb8-8fcd-d562070d4038
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '241035'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/paygHUMkxzZ58Md9hEICgUIH0
                      - timestamp: '2025-11-14T10:08:54.726Z'
                        paymentId: payZWwsfjsDFY9T7E3lvPMfL0
                        transactionReference: d87841af-7f67-40d2-89ad-f1b8c98ef797
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '972487'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payZWwsfjsDFY9T7E3lvPMfL0
                      - timestamp: '2025-11-14T10:08:50.493Z'
                        paymentId: payHz1RW94TROEcxBpBgnsZU0
                        transactionReference: c1f8c8fc-140c-4d54-8fa7-5e86e4eda32b
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '371652'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payHz1RW94TROEcxBpBgnsZU0
                      - timestamp: '2025-11-14T10:07:41.715Z'
                        paymentId: payx_k6N2SVBXGau0Xcw5Q-V0
                        transactionReference: 22a0b037-7be0-40e1-b88d-026eceddabe1
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '756169'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payx_k6N2SVBXGau0Xcw5Q-V0
                      - timestamp: '2025-11-14T10:07:26.604Z'
                        paymentId: payLZOYgHjx-d2p5bFZtHS3W0
                        transactionReference: d13270a5-f1f4-481f-bd5d-692404525bf2
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '206100'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payLZOYgHjx-d2p5bFZtHS3W0
                      - timestamp: '2025-11-13T19:49:20.539Z'
                        paymentId: payTJUi3NpUC4f3k5oAwQCCj0
                        transactionReference: version-7-test-npt-11
                        transactionType: authorization
                        authorizationType: authorization
                        entity: AccessWP
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 5
                              year: 2035
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 500
                        _links:
                          self:
                            href: /paymentQueries/payments/payTJUi3NpUC4f3k5oAwQCCj0
                      - timestamp: '2025-11-12T13:52:16.181Z'
                        paymentId: payyNICanyuUZkf8pWdJLO910
                        transactionReference: aa82fba6-f60e-4d03-a59d-a17502713792
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '957846'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payyNICanyuUZkf8pWdJLO910
                      - timestamp: '2025-11-11T09:37:10.246Z'
                        paymentId: pay5FujHH5e7a_d8eeaFPi3i0
                        transactionReference: b641cd6f-bb58-4c0e-b4ee-db10c24411ef
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '290298'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 5
                              year: 2035
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/pay5FujHH5e7a_d8eeaFPi3i0
                Query payments within a specified date time range filtered by last4Digits:
                  description: Query payments within a specified date time range filtered by last4Digits
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&minAmount=300&maxAmount=650&last4Digits=1111&currency=GBP&pageSize=10
                      next:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-11T09:37:10.246Z&paymentId=pay5FujHH5e7a_d8eeaFPi3i0&minAmount=300&maxAmount=650&last4Digits=1111&currency=GBP&entityReferences=AccessWP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-18T10:22:02.673Z'
                        paymentId: payaE1a3RqUPFUI5g4tOyoaY0
                        transactionReference: abc-123
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '491203'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payaE1a3RqUPFUI5g4tOyoaY0
                      - timestamp: '2025-11-18T10:21:48.094Z'
                        paymentId: payGxRvBfPojyGTXfYPiR4Nv0
                        transactionReference: ff4ee1bc-2d8b-463b-8958-bad5c94aea89
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '900598'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payGxRvBfPojyGTXfYPiR4Nv0
                      - timestamp: '2025-11-17T14:28:33.714Z'
                        paymentId: paygHUMkxzZ58Md9hEICgUIH0
                        transactionReference: 59e9fc9e-fadd-4bb8-8fcd-d562070d4038
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '241035'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/paygHUMkxzZ58Md9hEICgUIH0
                      - timestamp: '2025-11-14T10:08:54.726Z'
                        paymentId: payZWwsfjsDFY9T7E3lvPMfL0
                        transactionReference: d87841af-7f67-40d2-89ad-f1b8c98ef797
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '972487'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payZWwsfjsDFY9T7E3lvPMfL0
                      - timestamp: '2025-11-14T10:08:50.493Z'
                        paymentId: payHz1RW94TROEcxBpBgnsZU0
                        transactionReference: c1f8c8fc-140c-4d54-8fa7-5e86e4eda32b
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '371652'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payHz1RW94TROEcxBpBgnsZU0
                      - timestamp: '2025-11-14T10:07:41.715Z'
                        paymentId: payx_k6N2SVBXGau0Xcw5Q-V0
                        transactionReference: 22a0b037-7be0-40e1-b88d-026eceddabe1
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '756169'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payx_k6N2SVBXGau0Xcw5Q-V0
                      - timestamp: '2025-11-14T10:07:26.604Z'
                        paymentId: payLZOYgHjx-d2p5bFZtHS3W0
                        transactionReference: d13270a5-f1f4-481f-bd5d-692404525bf2
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '206100'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payLZOYgHjx-d2p5bFZtHS3W0
                      - timestamp: '2025-11-13T19:49:20.539Z'
                        paymentId: payTJUi3NpUC4f3k5oAwQCCj0
                        transactionReference: version-7-test-npt-11
                        transactionType: authorization
                        authorizationType: authorization
                        entity: AccessWP
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 5
                              year: 2035
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 500
                        _links:
                          self:
                            href: /paymentQueries/payments/payTJUi3NpUC4f3k5oAwQCCj0
                      - timestamp: '2025-11-12T13:52:16.181Z'
                        paymentId: payyNICanyuUZkf8pWdJLO910
                        transactionReference: aa82fba6-f60e-4d03-a59d-a17502713792
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '957846'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payyNICanyuUZkf8pWdJLO910
                      - timestamp: '2025-11-11T09:37:10.246Z'
                        paymentId: pay5FujHH5e7a_d8eeaFPi3i0
                        transactionReference: b641cd6f-bb58-4c0e-b4ee-db10c24411ef
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '290298'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/network+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 5
                              year: 2035
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/pay5FujHH5e7a_d8eeaFPi3i0
                Query payments within a specified date time range filtered by receivedEvents:
                  description: Query payments within a specified date time range filtered by receivedEvents
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&minAmount=300&maxAmount=650&last4Digits=1111&receivedEvents=cancellationRequested&currency=GBP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-07T13:11:25.774Z'
                        paymentId: payySXOTinFRMSDE33tkOFgH0
                        transactionReference: 62b279e7-0532-4ada-966a-84dde7e61613
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '615640'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payySXOTinFRMSDE33tkOFgH0
                Query payments within a specified date time range filtered by entityReferences:
                  description: Query payments within a specified date time range filtered by entityReferences
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?startDate=2025-11-05T21:30:20Z&endDate=2025-11-18T21:30:20Z&minAmount=300&maxAmount=650&last4Digits=1111&receivedEvents=cancellationRequested&currency=GBP&pageSize=10
                    _embedded:
                      payments:
                      - timestamp: '2025-11-07T13:11:25.774Z'
                        paymentId: payySXOTinFRMSDE33tkOFgH0
                        transactionReference: 62b279e7-0532-4ada-966a-84dde7e61613
                        transactionType: oneTime
                        authorizationType: authorization
                        entity: AccessWP
                        issuer:
                          authorizationCode: '615640'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payySXOTinFRMSDE33tkOFgH0
                Query payments by transactionReference:
                  description: Querying a payment by a transactionReference
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?transactionReference=62b279e7-0532-4ada-966a-84dde7e61613
                    _embedded:
                      payments:
                      - timestamp: '2025-11-07T13:11:25.774Z'
                        paymentId: payySXOTinFRMSDE33tkOFgH0
                        transactionReference: 62b279e7-0532-4ada-966a-84dde7e61613
                        narrative:
                          line1: Test1
                        transactionType: oneTime
                        authorizationType: authorization
                        lastEvent: cancellationRequestSubmitted
                        entity: AccessWP
                        issuer:
                          authorizationCode: '615640'
                        scheme:
                          reference: '060720116005062'
                        paymentInstrument:
                          type: card/plain+masked
                          card:
                            number:
                              last4Digits: '1111'
                              cardBin: '444433'
                            brand: visa
                            expiryDate:
                              month: 9
                              year: 2029
                            fundingType: credit
                            issuerName: UNKNOWN
                            paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                            category: consumer
                        value:
                          currency: GBP
                          amount: 650
                        _links:
                          self:
                            href: /paymentQueries/payments/payySXOTinFRMSDE33tkOFgH0
                Query payments by transactionReference (no results):
                  description: Querying a payment by a transactionReference, with no matching results found
                  value:
                    _links:
                      self:
                        href: /paymentQueries/payments?transactionReference=Memory267
                      paymentQueries:queryArchive:
                        href: /paymentQueries/archivedPayments?Memory267&entityReference=default
                        templated: true
                    _embedded:
                      payments: []
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_querybydaterange_400_response'
              examples:
                Invalid parameter (pageSize):
                  description: Invalid page size
                  value:
                    errorName: invalidPageSize
                    message: Provided page size is not valid.
                Invalid parameter (Start date too old):
                  description: Start date must not be older than one year
                  value:
                    errorName: startDateTooOld
                    message: Provided start date must not be older than 1 year.
                Invalid parameter (last4Digits):
                  description: Exactly 4 integers must be provided
                  value:
                    errorName: invalidLast4Digits
                    message: Provided last 4 digits are not valid.
      tags:
      - PaymentQueries
  /paymentQueries/payments/{paymentId}:
    get:
      summary: Retrieve a payment
      description: 'Retrieve a single payment by payment ID.


        The API returns detailed data for payments processed after 25 June 2024. For payments processed before then use our [query for historical payments](/products/payment-queries/@v1/query-archive.md).'
      operationId: retrieveByPaymentId
      parameters:
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          example: application/vnd.worldpay.payment-queries-v1.hal+json
      - name: paymentId
        in: path
        required: true
        description: Unique identifier generated for each payment. Historic `paymentId` values in UUID format.
        example: payv0A4Hx2eY1-5P2_CpV7qy0
        schema:
          type: string
      responses:
        '200':
          description: Retrieve complete details of a single payment including the event history & next action links.
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_querybypaymentid_200_response'
              examples:
                Retrieve a payment by paymentId (authorization succeeded):
                  description: Retrieve a single payment using the paymentId where the requested authorization succeeded
                  value:
                    timestamp: '2025-06-08T16:11:13.164Z'
                    paymentId: payVGX28GOT7iDY5qanttPWF0
                    transactionReference: 89197aeb-c94a-456e-8014-1272fbcb64eb
                    narrative:
                      line1: trading name
                      line2: order number
                    transactionType: oneTime
                    authorizationType: authorization
                    entity: default
                    lastEvent: authorizationSucceeded
                    issuer:
                      authorizationCode: T31306
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      card:
                        number:
                          last4Digits: '1111'
                          cardBin: '444433'
                        brand: visa
                        expiryDate:
                          month: 5
                          year: 2030
                        countryCode: GB
                        fundingType: credit
                        issuerName: AN ISSUING BANK LTD
                        paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                        category: consumer
                    value:
                      currency: GBP
                      amount: 1200
                    events:
                    - eventName: authorizationRequested
                      timestamp: '2025-06-08T16:11:13.164Z'
                      commandId: cmd0-IiS92BsJR8VaJ10V_420
                    - eventName: authorizationSucceeded
                      timestamp: '2025-06-08T16:11:14.229Z'
                      outcome: authorized
                      commandId: cmd0-IiS92BsJR8VaJ10V_420
                    _links:
                      self:
                        href: /paymentQueries/payments/payv0A4Hx2eY1-5P2_CpV7qy0
                      cardPayments:cancel:
                        href: https://access.worldpay.com/payments/authorizations/cancellations/{linkData}
                      cardPayments:settle:
                        href: https://access.worldpay.com/payments/settlements/full/{linkData}
                      cardPayments:partialSettle:
                        href: https://access.worldpay.com/payments/settlements/partials/{linkData}
                      cardPayments:events:
                        href: https://access.worldpay.com/payments/events/{linkData}
                      cardPayments:partialCancel:
                        href: https://access.worldpay.com/payments/authorizations/cancellations/partials/{linkData}
                      cardPayments:reverse:
                        href: https://access.worldpay.com/payments/authorizations/reversals/{linkData}
                Retrieve a payment by paymentId (authorization refused):
                  description: Retrieve a single payment using the paymentId where the requested authorization was refused by the issuer
                  value:
                    timestamp: '2025-06-08T16:19:24.365Z'
                    paymentId: payBnu__aoOVW2p4D2ztI0NM0
                    transactionReference: db38791b-7735-449a-b118-16b2419926ab
                    narrative:
                      line1: trading name
                    transactionType: oneTime
                    authorizationType: authorization
                    entity: default
                    lastEvent: authorizationRefused
                    paymentInstrument:
                      type: card/plain+masked
                      card:
                        number:
                          last4Digits: '1111'
                          cardBin: '444433'
                        brand: visa
                        fundingType: credit
                        issuerName: UNKNOWN
                        category: consumer
                    value:
                      currency: GBP
                      amount: 1200
                    events:
                    - eventName: authorizationRequested
                      timestamp: '2025-06-08T16:19:24.365Z'
                      commandId: cmdafuBGvEdr9v-19D7aTn490
                    - eventName: authorizationRefused
                      timestamp: '2025-06-08T16:19:24.801Z'
                      description: Do not honour
                      code: '5'
                      outcome: refused
                      commandId: cmdafuBGvEdr9v-19D7aTn490
                    _links:
                      self:
                        href: /paymentQueries/payments/payBnu__aoOVW2p4D2ztI0NM0
                Retrieve a payment by paymentId (authorization failed):
                  description: Retrieve a single payment using the paymentId where the requested authorization failed
                  value:
                    timestamp: '2025-06-08T16:06:03.266Z'
                    paymentId: payT2xg9cnwFBSwCNGmi-r3b0
                    transactionReference: 45297dcb-344a-123e-2914-9243fbde55fa
                    narrative:
                      line1: trading name
                    transactionType: oneTime
                    authorizationType: authorization
                    entity: default
                    lastEvent: authorizationFailed
                    paymentInstrument:
                      type: card/plain
                    value:
                      currency: GBP
                      amount: 10
                    events:
                    - eventName: authorizationRequested
                      timestamp: '2025-06-08T16:06:03.266Z'
                      commandId: cmdIw257vWpg0cwky1c34r600
                    - eventName: authorizationFailed
                      timestamp: '2025-06-08T16:06:03.398Z'
                      error:
                        name: internalErrorOccurred
                        message: Bad request reported downstream
                      commandId: cmdIw257vWpg0cwky1c34r600
                    _links:
                      self:
                        href: /paymentQueries/payments/payT2xg9cnwFBSwCNGmi-r3b0
                Retrieve a payment by paymentId (authorization requested):
                  description: Retrieve a single payment using the paymentId where an authorization was requested, but no outcome has yet been received
                  value:
                    timestamp: '2025-07-07T11:07:38.731Z'
                    paymentId: paycGeAtsYssrrtgieKBA3Pi0
                    transactionReference: 428c0aed-230c-46cc-9897-b6f935378078
                    narrative:
                      line1: trading name
                    transactionType: cardOnFile
                    authorizationType: authorization
                    entity: default
                    lastEvent: authorizationRequested
                    paymentInstrument:
                      type: card/plain
                    value:
                      currency: GBP
                      amount: 250
                    events:
                    - eventName: authorizationRequested
                      timestamp: '2025-07-07T11:07:38.731Z'
                      commandId: cmdaa0-Fc4dfv8jQvtRK13Bz0
                    _links:
                      self:
                        href: /paymentQueries/payments/paycGeAtsYssrrtgieKBA3Pi0
                Retrieve a payment by paymentId (authorization succeeded, settled, refunded):
                  description: Retrieve a single payment using the paymentId where the requested authorization succeeded and was subsequently settled and refunded
                  value:
                    timestamp: '2025-06-08T16:11:13.164Z'
                    paymentId: payVGX28GOT7iDY5qanttPWF0
                    transactionReference: 89197aeb-c94a-456e-8014-1272fbcb64eb
                    narrative:
                      line1: trading name
                      line2: order number
                    transactionType: oneTime
                    authorizationType: authorization
                    entity: default
                    lastEvent: refundRequestSubmitted
                    issuer:
                      authorizationCode: T31306
                    scheme:
                      reference: 'MCCOLXT1C0104  '
                    paymentInstrument:
                      type: card/plain+masked
                      card:
                        number:
                          last4Digits: '1111'
                          cardBin: '444433'
                        brand: visa
                        expiryDate:
                          month: 5
                          year: 2030
                        countryCode: GB
                        fundingType: credit
                        issuerName: AN ISSUING BANK LTD
                        paymentAccountReference: Q1HJZ28RKA1EBL470G9XYG90R5D3E
                        category: consumer
                    value:
                      currency: GBP
                      amount: 1200
                    events:
                    - eventName: authorizationRequested
                      timestamp: '2025-06-08T16:11:13.164Z'
                      commandId: cmd0ar7Y26_d-vXkf8Rm02xT0
                    - eventName: authorizationSucceeded
                      timestamp: '2025-06-08T16:11:14.229Z'
                      outcome: authorized
                      commandId: cmd0ar7Y26_d-vXkf8Rm02xT0
                    - eventName: settlementRequested
                      timestamp: '2025-06-09T08:14:23.138Z'
                      type: partialSettlement
                      settlementReference: mySettleRef
                      value:
                        currency: GBP
                        amount: 1000
                      commandId: cmdA1d-R3sO72_Xkf8R103Ni0
                    - eventName: settlementRequestSubmitted
                      timestamp: '2025-06-09T08:14:23.224Z'
                      commandId: cmdA1d-R3sO72_Xkf8R103Ni0
                    - eventName: refundRequested
                      timestamp: '2025-07-01T09:14:28.009Z'
                      type: partialRefund
                      refundReference: myRefundRef
                      value:
                        currency: GBP
                        amount: 1000
                      commandId: cmdB2-xT9aS05DvGfa_1Grtc0
                    - eventName: refundRequestSubmitted
                      timestamp: '2025-07-01T09:14:28.151Z'
                      commandId: cmdB2-xT9aS05DvGfa_1Grtc0
                    _links:
                      self:
                        href: /paymentQueries/payments/payVGX28GOT7iDY5qanttPWF0
                      cardPayments:events:
                        href: https://access.worldpay.com/payments/events/{linkData}
                      cardPayments:partialRefund:
                        href: https://access.worldpay.com/payments/settlements/refunds/partials/{linkData}
        '404':
          description: The payment was not found.
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_querybypaymentid_404_response'
              examples:
                paymentId not found:
                  description: The payment was not found.
                  value:
                    errorName: paymentNotFound
                    message: The payment you are trying to access does not exist.
      tags:
      - PaymentQueries
  /paymentQueries/archivedPayments:
    get:
      summary: Query historical payments
      description: 'Query payments processed before 25 June 2024.


        Provide a `transactionReference` and `entityReference` for a payment to find the matching payment in the archive.'
      operationId: queryArchivedPayments
      parameters:
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          example: application/vnd.worldpay.payment-queries-v1.hal+json
      - name: transactionReference
        in: query
        description: A unique reference generated by you, used to identify a payment throughout its lifecycle.
        required: true
        schema:
          type: string
          example: 89197aeb-c94a-456e-8014-1272fbcb64eb
      - name: entityReference
        in: query
        description: A merchant entity.
        required: true
        schema:
          type: string
          example: default
      responses:
        '200':
          description: Summary information of a payment.
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_queryhistoricalpayments_200_response'
              examples:
                Query historical payments:
                  description: Query historical payments with a transactionReference & entityReference
                  value:
                    _embedded:
                      payments:
                      - lastEvent: Authorized
                        value:
                          amount: 500
                          currency: GBP
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              last4Digits: '1111'
                            brand: visa
                        _links:
                          payments:cancel:
                            href: https://try.access.worldpay.com/payments/authorizations/cancellations/eyJrIjoiazNhYjYzMiIsImxpbmtWZXJzaW9uIjoiNS4wLjAifQ==.sN:g8wd64bwkbrp0md+bPxcanBnk2zLdsIqSa1pR99GeDrCwEtsymFb5gQw9WlrStDTK3eIWPy93y:7njc4649JSrU7+vFDl1J36+cwOkX0lW4Z+fnZKMutoUGX3m1:miQ42Na870582T9ERg+1ZUryhkE+qW88hu1DdDl2T76sf:VXab5cMYWO6LS0UzlfoW8PkXm9A8Gx:X:2vAwKFXFzKnt23AOHd1MAcGi2rYDmNWql5dV+zBj9zyT7GZXrLmjasoJJfxtEasqXGr:dzHa6q9jMukzvEX+SLmppl6itAGDMxqvmBKsIqEipLj126
                          payments:settle:
                            href: https://try.access.worldpay.com/payments/settlements/full/eyJrIjoiazNhYjYzMiIsImxpbmtWZXJzaW9uIjoiNS4wLjAifQ==.sN:g8wd64bwkbrp0md+bPxcanBnk2zLdsIqSa1pR99GeDrCwEtsymFb5gQw9WlrStDTK3eIWPy93y:7njc4649JSrU7+vFDl1J36+cwOkX0lW4Z+fnZKMutoUGX3m1:miQ42Na870582T9ERg+1ZUryhkE+qW88hu1DdDl2T76sf:VXab5cMYWO6LS0UzlfoW8PkXm9A8Gx:X:2vAwKFXFzKnt23AOHd1MAcGi2rYDmNWql5dV+zBj9zyT7GZXrLmjasoJJfxtEasqXGr:dzHa6q9jMukzvEX+SLmppl6itAGDMxqvmBKsIqEipLj126
                          payments:partialSettle:
                            href: https://try.access.worldpay.com/payments/settlements/partials/eyJrIjoiazNhYjYzMiIsImxpbmtWZXJzaW9uIjoiNS4wLjAifQ==.sN:g8wd64bwkbrp0md+bPxcanBnk2zLdsIqSa1pR99GeDrCwEtsymFb5gQw9WlrStDTK3eIWPy93y:7njc4649JSrU7+vFDl1J36+cwOkX0lW4Z+fnZKMutoUGX3m1:miQ42Na870582T9ERg+1ZUryhkE+qW88hu1DdDl2T76sf:VXab5cMYWO6LS0UzlfoW8PkXm9A8Gx:X:2vAwKFXFzKnt23AOHd1MAcGi2rYDmNWql5dV+zBj9zyT7GZXrLmjasoJJfxtEasqXGr:dzHa6q9jMukzvEX+SLmppl6itAGDMxqvmBKsIqEipLj126
                    _links:
                      self:
                        href: /paymentQueries/archivedPayments?entityReference=default&transactionReference=Test123
        '400':
          description: Bad request
          content:
            application/vnd.worldpay.payment-queries-v1.hal+json:
              schema:
                $ref: '#/components/schemas/pq_queryhistoricalpayments_400_response'
              examples:
                Entity not configured:
                  description: Entity not configured
                  value:
                    errorName: entityIsNotConfigured
                    message: Entity is not configured to use this resource
      tags:
      - PaymentQueries
components:
  schemas:
    authorizationTimedOut:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Your authorization request timed out.
          enum:
          - authorizationTimedOut
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        commandId:
          $ref: '#/components/schemas/commandId'
    cancellationRequested:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Worldpay has received your cancellation request.
          enum:
          - cancellationRequested
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        commandId:
          $ref: '#/components/schemas/commandId'
    reversalRequested:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Worldpay has received your reversal request.
          enum:
          - reversalRequested
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        value:
          required:
          - amount
          - currency
          type: object
          description: An object that contains the amount and currency requested for reversal.
          properties:
            amount:
              type: integer
              description: This is a whole number including the currency exponent (e.g. GBP has an exponent of 2, so for £2.50 supply:`250`).
            currency:
              type: string
              description: The 3 digit currency code.
        commandId:
          $ref: '#/components/schemas/commandId'
    reversalRequestSubmitted:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Your reversal request was successfully sent for processing.
          enum:
          - reversalRequestSubmitted
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        commandId:
          $ref: '#/components/schemas/commandId'
    sentForSettlementLinks:
      required:
      - self
      type: object
      properties:
        self:
          type: object
          description: Self link to the page.
          properties:
            href:
              type: string
              description: Self link to the page.
            cardPayments:refund:
              type: object
              description: An action link to refund the full settled amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:refund`.
              properties:
                href:
                  type: string
                  description: An action link to refund the full settled amount.
                  example: https://try.access.worldpay.com/payments/settlements/refunds/full/{linkData}
            cardPayments:partialRefund:
              type: object
              description: An action link to refund a portion of the settled amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:partialRefund`.
              properties:
                href:
                  type: string
                  description: An action link to refund a portion of the settled amount.
                  example: https://try.access.worldpay.com/payments/settlements/refunds/partials/{linkData}
            cardPayments:reverse:
              type: object
              description: An action link to cancel or refund the full amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:reverse`.
              properties:
                href:
                  type: string
                  description: An action link to cancel or refund the full amount.
                  example: https://try.access.worldpay.com/payments/sales/reversals/{linkData}
            cardPayments:events:
              type: object
              description: An action link to retrieve the last event of the payment.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:events`.
              properties:
                href:
                  type: string
                  description: An action link to retrieve the last event of the payment.
                  example: https://try.access.worldpay.com/payments/events/{linkData}
    reversalRequestSubmissionTimedOut:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Your reversal request timed out.
          enum:
          - reversalRequestSubmissionTimedOut
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        commandId:
          $ref: '#/components/schemas/commandId'
    authorizationSucceededLinks:
      required:
      - self
      type: object
      properties:
        self:
          type: object
          description: Self link to the page.
          properties:
            href:
              type: string
              description: Self link to the page.
            cardPayments:cancel:
              type: object
              description: An action link to cancel the full authorized amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:cancel`.
              properties:
                href:
                  type: string
                  description: An action link to cancel the full authorized amount.
                  example: https://try.access.worldpay.com/payments/authorizations/cancellations/{linkData}
            cardPayments:partialCancel:
              type: object
              description: An action link to cancel a portion of the authorized amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:partialCancel`.
              properties:
                href:
                  type: string
                  description: An action link to cancel a portion of the authorized amount.
                  example: https://try.access.worldpay.com/payments/authorizations/cancellations/partials/{linkData}
            cardPayments:settle:
              type: object
              description: An action link to send the full authorized amount for settlement.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:settle`.
              properties:
                href:
                  type: string
                  description: An action link to send the full authorized amount for settlement.
                  example: https://try.access.worldpay.com/payments/settlements/full/{linkData}
            cardPayments:partialSettle:
              type: object
              description: An action link to send a portion of the authorized amount for settlement. <br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:partialSettle`.
              properties:
                href:
                  type: string
                  description: An action link to send a portion of the authorized amount for settlement.
                  example: https://try.access.worldpay.com/payments/settlements/partials/{linkData}
            cardPayments:reverse:
              type: object
              description: An action link to cancel or refund the full amount.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:reverse`.
              properties:
                href:
                  type: string
                  description: An action link to cancel or refund the full amount.
                  example: https://try.access.worldpay.com/payments/authorizations/reversals/{linkData}
            cardPayments:events:
              type: object
              description: An action link to retrieve the last event of the payment.<br><br>For any payment query against a payment processed on Card Payments v6 or lower, the action link we return is `payments:events`.
              properties:
                href:
                  type: string
                  description: An action link to retrieve the last event of the payment.
                  example: https://try.access.worldpay.com/payments/events/{linkData}
    saleRequested:
      required:
      - eventName
      type: object
      properties:
        eventName:
          type: string
          description: Worldpay has received your sale request.
          enum:
          - saleRequested
        timestamp:
          type: string
          description: The ISO 8601 date-time at which the event was created.
        commandId:
          $ref: '#/components/schemas/commandId'
    pq_querybydaterange_200_response:
      required:
      - _links
      - _embedded
      type: object
      properties:
        _links:
          required:
          - self
          type: object
          description: links to the pages.
          properties:
            self:
              type: object
              description: Self link to the page.
              properties:
                href:
                  type: string
                  description: First page as per the pageSize.
            next:
              type: object
              description: Next page link if the response contains more pages.
              properties:
                href:
                  type: string
                  description: Second page as per the pageSize.
        _embedded:
          type: object
          properties:
            payments:
              type: array
              required:
              - timestamp
              - transactionReference
              - entity
              description: Array of payments within the date range.
              items:
                type: object
                properties:
                  timestamp:
                    type: string
                    description: Payment initial authorization time.
                  paymentId:
                    $ref: '#/components/schemas/paymentId'
                  transactionReference:
                    type: string
                    description: A unique reference generated by you, used to identify a payment throughout its lifecycle.
                  narrative:
                    type: object
                    description: An object that contains identification and further details of the merchant.
                    properties:
                      line1:
                        type: string
                        description: First line of text that appears on your customer's statement.
                      line2:
                        type: string
                        description: Second line of text that appears on your customer's statement.
                  transactionType:
                    enum:
                    - oneTime
                    - cardOnFile
                    - recurring
                    type: string
                    description: An object that contains transaction type.
[...]
