openapi: 3.0.1
info:
  title: 3DS 3DS actions ApmPayments API
  description: "Protect your business and meet regulatory requirements by verifying your customer's identity.\n\n__Authentication header__\n  ```\n    Authorization: {your_credentials}\n  ```\nReplace `{your_credentials}` with your base64-encoded Basic Auth username and password given to your by your Worldpay Implementation Manager.\n<br /> <br />\n\nYou **must** use the `Authorization` header for any request you send to our 3DS API.\n\n__Accept/Content-Type header__\n  ```\n  Content-Type: application/vnd.worldpay.verifications.customers-v3.hal+json\n  Accept: application/vnd.worldpay.verifications.customers-v3.hal+json\n  ```\nWe use the Accept header to identify which version of our API you are using. You must use the Accept header for any request you send to our 3DS API.\n\nWe require the Content-Type header if the request you're sending includes a request body, and if the HTTP method is a `POST` or a `PUT`.\n<br /><br />\n\n\n__DNS whitelisting__  \nWhitelist the following URLs:\n* `https://try.access.worldpay.com/`\n* `https://access.worldpay.com/`\n\nPlease ensure you use DNS whitelisting, not explicit IP whitelisting."
  version: '3'
  x-metadata:
    category:
    - 3DS
    - SCA Exemptions
    business:
    - Enterprise
    catalog-list: true
    generated: false
servers:
- url: https://try.access.worldpay.com
  description: Test (Try)
- url: https://access.worldpay.com
  description: Live
security:
- BasicAuth: []
tags:
- name: ApmPayments
paths:
  /apmPayments:
    post:
      description: Perform a sale.
      operationId: payment
      parameters:
      - description: The content type of the request body.
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
          - application/json
      - description: The API version.
        in: header
        name: WP-Api-Version
        required: true
        schema:
          type: string
          enum:
          - '2024-07-01'
      requestBody:
        content:
          application/json:
            examples:
              ACH/eCheck:
                $ref: '#/components/examples/payment-ach'
              Alipay China:
                $ref: '#/components/examples/payment-alipaycn'
              Alipay Hong Kong:
                $ref: '#/components/examples/payment-alipayhk'
              Alipay Plus:
                $ref: '#/components/examples/payment-alipayplus'
              Bancomat Pay:
                $ref: '#/components/examples/payment-bancomat'
              Bancomat Pay request in TRY:
                $ref: '#/components/examples/payment-bancomat-last-name-status'
              Bancontact:
                $ref: '#/components/examples/payment-bancontact'
              Bizum:
                $ref: '#/components/examples/payment-bizum'
              BLIK:
                $ref: '#/components/examples/payment-blik'
              EFT:
                $ref: '#/components/examples/payment-eft'
              Euteller:
                $ref: '#/components/examples/payment-euteller'
              iDEAL one time:
                $ref: '#/components/examples/payment-ideal-onetime'
              iDEAL recurring:
                $ref: '#/components/examples/payment-ideal-recurring'
              Klarna guest:
                $ref: '#/components/examples/payment-klarna-guest'
              Klarna guest - retail:
                $ref: '#/components/examples/payment-klarna-guest-retail'
              Klarna guest - airline:
                $ref: '#/components/examples/payment-klarna-guest-airline'
              Klarna guest - hotel:
                $ref: '#/components/examples/payment-klarna-guest-hotel'
              Klarna guest - event:
                $ref: '#/components/examples/payment-klarna-guest-event'
              Klarna guest - train:
                $ref: '#/components/examples/payment-klarna-guest-train'
              Klarna recurring:
                $ref: '#/components/examples/payment-klarna-recurring'
              Klarna recurring token:
                $ref: '#/components/examples/payment-klarna-recurring-token'
              Konbini:
                $ref: '#/components/examples/payment-konbini'
              Multibanco:
                $ref: '#/components/examples/payment-multibanco'
              MyBank:
                $ref: '#/components/examples/payment-mybank'
              Open Banking:
                $ref: '#/components/examples/payment-open-banking'
              PayPal:
                $ref: '#/components/examples/payment-paypal'
              PaysafeCard:
                $ref: '#/components/examples/payment-paysafecard'
              Pix:
                $ref: '#/components/examples/payment-pix'
              Przelewy24:
                $ref: '#/components/examples/payment-przelewy'
              SafetyPay:
                $ref: '#/components/examples/payment-safetypay'
              Swish with phone number:
                $ref: '#/components/examples/payment-swish-with-phone'
              Swish without phone number:
                $ref: '#/components/examples/payment-swish-without-phone'
              SEPA DD guest checkout:
                $ref: '#/components/examples/payment-sepa-onetime'
              SEPA DD guest checkout for SEE countries:
                $ref: '#/components/examples/payment-sepa-onetime-bic-field'
              SEPA DD recurring:
                $ref: '#/components/examples/payment-sepa-recurring'
              SEPA DD recurring for SEE countries:
                $ref: '#/components/examples/payment-sepa-recurring-bic-field'
              SEPA DD token:
                $ref: '#/components/examples/payment-sepa-token'
              Trustly:
                $ref: '#/components/examples/payment-trustly'
              WeChat Pay:
                $ref: '#/components/examples/payment-wechatpay'
              ACH - using a session (Components SDK):
                $ref: '#/components/examples/sessions-ach'
              Alipay China - using a session (Components SDK):
                $ref: '#/components/examples/sessions-alipaycn'
              Alipay Hong Kong - using a session (Components SDK):
                $ref: '#/components/examples/sessions-alipayhk'
              Alipay Plus - using a session (Components SDK):
                $ref: '#/components/examples/sessions-alipayplus'
              Bancontact - using a session (Components SDK):
                $ref: '#/components/examples/sessions-bancontact'
              BLIK - using a session (Components SDK):
                $ref: '#/components/examples/sessions-blik'
              Euteller - using a session (Components SDK):
                $ref: '#/components/examples/sessions-euteller'
              iDeal - using a session (Components SDK):
                $ref: '#/components/examples/sessions-ideal'
              Klarna - using a session (Components SDK):
                $ref: '#/components/examples/sessions-klarna'
              Konbini - using a session (Components SDK):
                $ref: '#/components/examples/sessions-konbini'
              Multibanco - using a session (Components SDK):
                $ref: '#/components/examples/sessions-multibanco'
              MyBank - using a session (Components SDK):
                $ref: '#/components/examples/sessions-mybank'
              Open Banking - using a session (Components SDK):
                $ref: '#/components/examples/sessions-open-banking'
              PayPal - using a session (Components SDK):
                $ref: '#/components/examples/sessions-paypal'
              PaysafeCard - using a session (Components SDK):
                $ref: '#/components/examples/sessions-paysafecard'
              Pix - using a session (Components SDK):
                $ref: '#/components/examples/sessions-pix'
              Przelewy24 - using a session (Components SDK):
                $ref: '#/components/examples/sessions-przelewy'
              SafetyPay - using a session (Components SDK):
                $ref: '#/components/examples/sessions-safetypay'
              SEPA DD - using a session (Components SDK):
                $ref: '#/components/examples/sessions-sepa'
              Swish - using a session (Components SDK):
                $ref: '#/components/examples/sessions-swish'
              Trustly - using a session (Components SDK):
                $ref: '#/components/examples/sessions-trustly'
              WeChat Pay - using a session (Components SDK):
                $ref: '#/components/examples/sessions-wechatpay'
            schema:
              $ref: '#/components/schemas/ApmPaymentRequestV2'
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                ACH/eCheck:
                  $ref: '#/components/examples/payment-ach-2'
                Alipay China:
                  $ref: '#/components/examples/payment-alipaycn-2'
                Alipay Hong Kong:
                  $ref: '#/components/examples/payment-alipayhk-2'
                AliPay Plus:
                  $ref: '#/components/examples/payment-alipayplus-2'
                Bancomat Pay:
                  $ref: '#/components/examples/payment-bancomat-2'
                Bancomat Pay request in TRY:
                  $ref: '#/components/examples/payment-bancomat-2'
                Bancontact:
                  $ref: '#/components/examples/payment-bancontact-2'
                Bizum:
                  $ref: '#/components/examples/payment-bizum-2'
                BLIK:
                  $ref: '#/components/examples/payment-blik-2'
                EFT:
                  $ref: '#/components/examples/payment-eft-2'
                Euteller:
                  $ref: '#/components/examples/payment-euteller-2'
                iDEAL recurring:
                  $ref: '#/components/examples/payment-ideal-recurring-2'
                iDEAL successful:
                  $ref: '#/components/examples/payment-ideal'
                Klarna guest:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna guest - retail:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna guest - airline:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna guest - hotel:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna guest - event:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna guest - train:
                  $ref: '#/components/examples/payment-klarna-guest-2'
                Klarna recurring:
                  $ref: '#/components/examples/payment-klarna-recurring-2'
                Klarna recurring token:
                  $ref: '#/components/examples/payment-klarna-recurring-token-2'
                Konbini:
                  $ref: '#/components/examples/payment-konbini-2'
                Multibanco:
                  $ref: '#/components/examples/payment-multibanco-2'
                MyBank:
                  $ref: '#/components/examples/payment-mybank-2'
                Open Banking:
                  $ref: '#/components/examples/payment-open-banking-2'
                PayPal Smart Button:
                  $ref: '#/components/examples/payment-paypal-sdk-201'
                PayPal redirect:
                  $ref: '#/components/examples/payment-201'
                PaysafeCard:
                  $ref: '#/components/examples/payment-paysafecard-2'
                Pix:
                  $ref: '#/components/examples/payment-pix-2'
                Przelewy24:
                  $ref: '#/components/examples/payment-przelewy-2'
                Safetypay:
                  $ref: '#/components/examples/payment-safetypay-2'
                Swish with phone number:
                  $ref: '#/components/examples/payment-swish-with-phone-2'
                Swish without phone number:
                  $ref: '#/components/examples/payment-swish-without-phone-2'
                SEPA follow up:
                  $ref: '#/components/examples/payment-sepa-followup'
                SEPA successful:
                  $ref: '#/components/examples/payment-sepa'
                Trustly:
                  $ref: '#/components/examples/payment-trustly-2'
                WeChatPay:
                  $ref: '#/components/examples/payment-wechatpay-2'
              schema:
                $ref: '#/components/schemas/ApmPaymentResourceWithRedirectV2'
          description: Request successful.
        '400':
          content:
            application/json:
              examples:
                bodyDoesNotMatchSchema:
                  $ref: '#/components/examples/response-400'
                paymentNotFound:
                  $ref: '#/components/examples/response-payment-not-found-400'
                orderNotReady:
                  $ref: '#/components/examples/response-order-not-ready-400'
                transactionReferenceIsADuplicate:
                  $ref: '#/components/examples/response-duplicate-order-400'
                tokenDoesNotExist:
                  $ref: '#/components/examples/response-token-not-found-400'
                KlarnaBillingAddress-bodyDoesNotMatchSchema:
                  $ref: '#/components/examples/response-400-Klarna-billing'
                Bizum-invalidTransactionReference:
                  $ref: '#/components/examples/payment-bizum-validation-error'
                Swish-transactionReference:
                  $ref: '#/components/examples/payment-swish-transaction-ref'
                Swish-payerNoEnrolled:
                  $ref: '#/components/examples/payment-swish-payerNotEnrolled'
              schema:
                $ref: '#/components/schemas/AccessApiValidationErrorResponse'
          description: Bad request.
        '401':
          content:
            application/json:
              examples:
                Example:
                  $ref: '#/components/examples/response-401'
              schema:
                $ref: '#/components/schemas/AccessApiErrorResponse'
          description: Client is not authorized due to missing or invalid Authorization header.
        '500':
          content:
            application/json:
              examples:
                Example:
                  $ref: '#/components/examples/response-500'
              schema:
                $ref: '#/components/schemas/AccessApiErrorResponse'
          description: A problem occurred processing the request on our side.
      summary: Create an APM payment
      tags:
      - ApmPayments
components:
  examples:
    payment-przelewy:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: przelewy
          value:
            amount: 2500
            currency: PLN
          narrative:
            line1: Mind Palace
          paymentInstrument:
            type: direct
            country: PL
          resultUrls:
            success: https://worldpay.com/success
            pending: https://worldpay.com/pending
            cancel: https://worldpay.com/cancel
          customer:
            email: moriarty@example.com
    payment-konbini:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: MindPalaceLtd
        instruction:
          method: konbini
          value:
            amount: 100
            currency: JPY
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: direct
            country: JP
          resultUrls:
            pending: https://worldpay.com/pending
          customer:
            lastName: Smith
            email: test@email.com
            phone: '1234567890'
    payment-klarna-guest-event:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: klarna_network
          value:
            amount: 39800
            currency: GBP
          narrative:
            line1: MindPalace
          passthroughData: '{"content_type":"vnd.klarna.interoperability-data.v3+json","content":{"operation":"payment_request","request":{"supplementary_purchase_data":{"event_reservations":[{"event_name":"Coldplay - Music of the Spheres World Tour","event_type":"CONCERT","event_date":"2026-07-18","event_time":"20:00","venue_name":"Olympiastadion Berlin","venue_address":{"street_address":"Olympischer Platz 3","postal_code":"14053","city":"Berlin","country":"DE"},"ticket_category":"Standing - Golden Circle","number_of_tickets":2,"attendees":[{"given_name":"James","family_name":"Moriarty","email":"moriarty@example.de","phone":"+491761234567"},{"given_name":"Joan","family_name":"Moriarty","email":"moriarty2@example.de","phone":"+491761234568"}]}],"line_items":[{"name":"Coldplay Concert - Golden Circle Standing","quantity":2,"total_amount":39800,"unit_price":19900,"total_tax_amount":6352,"reference":"ticket-golden-001"}]}}}}'
          paymentInstrument:
            type: direct
            country: GB
            billingAddress:
              firstName: James
              lastName: Moriarty
              phone: '00000000000'
              address1: Marylebone
              address2: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          settlement:
            auto: true
          resultUrls:
            cancel: https://worldpay.com/cancel
            failure: https://worldpay.com/failure
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
          shipping:
            method: physicalToDoor
            timeFrame: express
            courier:
              name: DHL
              preference: leaveAtDoor
              signature: true
              tracked: true
              identification: true
            firstName: Mike
            lastName: Shipping
            phone: 0123456789
            email: mike.shipping@email.com
            address:
              address1: Worldpay
              address2: 270-289 The Science Park
              postalCode: CB4 0WE
              city: Cambridgeshire
              state: Cambridgeshire
              countryCode: GB
    payment-alipayhk-2:
      value:
        paymentId: HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        lastEvent: pending
        _links:
          self:
            href: https://try.access.worldpay.com/apmPayments/HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        _actions: {}
        redirect: https://secure-test.worldpay.com/jsp/test/shopper/APMSTSimulator.jsp?customerRef=3413879489&paymentMethod=ALIPAY_HK
        paymentInstrument:
          method: alipay_hk
          type: direct
        commandId: cmdEy5vwB0krLe9eMwAcE66c0
    sessions-trustly:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: trustly
          value:
            amount: 2000
            currency: EUR
          narrative:
            line1: Joe Plumbing Ltd
          paymentInstrument:
            type: checkout
            country: IT
            sessionHref: https://access.worldpay.com/sessions/eyJrIjoxLCJkIjoiTExFRUZaZWtFZXZkV09VZEcxUFk3Z1hWK3prdmtKRk5MRmlockc1K0MyY3ZvWVpvRldlZ1J0TmRLRVQwaTM3LyJ9
          resultUrls:
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
            cancel: https://worldpay.com/cancel
    response-400-Klarna-billing:
      value:
        errorName: bodyDoesNotMatchSchema
        message: The json body provided does not match the expected schema
        validationErrors:
        - errorName: fieldHasInvalidValue
          message: Billing address object, firstName and lastName from customer object are all required if at least one is provided.
          jsonPath: $.instruction
    payment-klarna-guest-airline:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: klarna_network
          value:
            amount: 24900
            currency: GBP
          narrative:
            line1: MindPalace
          passthroughData: '{"content_type":"vnd.klarna.interoperability-data.v3+json","content":{"operation":"payment_request","request":{"supplementary_purchase_data":{"travel_reservations":[{"travel_type":"AIR","pnr":"ABC123","itinerary_legs":[{"departure_date":"2026-03-15","departure_time":"14:30","arrival_date":"2026-03-15","arrival_time":"17:45","carrier_code":"XX","carrier_name":"ExampleAir","flight_number":"XX1234","departure_city":"AMS","departure_airport":"Schiphol","arrival_city":"FRA","arrival_airport":"Frankfurt Airport","fare_class":"Y","booking_class":"ECONOMY"},{"departure_date":"2026-03-22","departure_time":"09:15","arrival_date":"2026-03-22","arrival_time":"10:30","carrier_code":"XX","carrier_name":"ExampleAir","flight_number":"XX4321","departure_city":"FRA","departure_airport":"Frankfurt Airport","arrival_city":"AMS","arrival_airport":"Schiphol","fare_class":"Y","booking_class":"ECONOMY"}],"passengers":[{"given_name":"James","family_name":"Moriarty","email":"moriarty@example.de","phone":"+491761234567","passenger_type":"ADULT"}]}],"line_items":[{"name":"Round-trip AMS-FRA Economy Class","quantity":1,"total_amount":24900,"unit_price":24900,"total_tax_amount":3975,"reference":"ticket-001"}]}}}}'
          paymentInstrument:
            type: direct
            country: GB
            billingAddress:
              firstName: James
              lastName: Moriarty
              phone: '00000000000'
              address1: Marylebone
              address2: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          settlement:
            auto: true
          resultUrls:
            cancel: https://worldpay.com/cancel
            failure: https://worldpay.com/failure
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
          shipping:
            method: physicalToDoor
            timeFrame: express
            courier:
              name: DHL
              preference: leaveAtDoor
              signature: true
              tracked: true
              identification: true
            firstName: Mike
            lastName: Shipping
            phone: 0123456789
            email: mike.shipping@email.com
            address:
              address1: Worldpay
              address2: 270-289 The Science Park
              postalCode: CB4 0WE
              city: Cambridgeshire
              state: Cambridgeshire
              countryCode: GB
    sessions-konbini:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: MindPalaceLtd
        instruction:
          method: konbini
          value:
            amount: 100
            currency: JPY
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: checkout
            country: JP
            sessionHref: https://access.worldpay.com/sessions/eyJrIjoxLCJkIjoiTExFRUZaZWtFZXZkV09VZEcxUFk3Z1hWK3prdmtKRk5MRmlockc1K0MyY3ZvWVpvRldlZ1J0TmRLRVQwaTM3LyJ9
          resultUrls:
            pending: https://worldpay.com/pending
    payment-klarna-recurring-token:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: klarna
          value:
            amount: 2468
            currency: GBP
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: token
            tokenId: 63b73a05-df8e-44c5-a699-96ccb638bb6a
            country: GB
            language: en
            billingAddress:
              address1: 221B Baker Street
              address2: Marylebone
              address3: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          customerAgreement:
            type: recurring
          resultUrls:
            cancel: https://worldpay.com/cancel
            failure: https://worldpay.com/failure
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
          shipping:
            method: registered box
            timeFrame: normal
            firstName: James
            lastName: Moriarty
            phone: '00000000000'
            email: test@email.com
            address:
              address1: 221B Baker Street
              address2: Marylebone
              address3: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          customer:
            firstName: James
            lastName: Moriarty
            email: moriarty@example.com
            phone: '00000000000'
            dateOfBirth: '1999-01-01'
          order:
            orderTotalTaxAmount: 0
            termsUrl: https://example.com
            items:
            - type: physical
              productCode: fff1223
              name: Red Hat
              quantity: 1
              unitOfMeasure: per unit
              unitCost: 1234
              taxRate: 1
              totalTaxAmount: 0
              totalAmount: 1234
              totalDiscountAmount: 0
              productUrl: https://example.com
              imageUrl: https://example.com
            - type: physical
              productCode: fff1256
              name: Blue Hat
              quantity: 1
              unitOfMeasure: per unit
              unitCost: 1234
              taxRate: 1
              totalTaxAmount: 0
              totalAmount: 1234
              totalDiscountAmount: 0
              productUrl: https://example.com
              imageUrl: https://example.com
    payment-trustly:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: trustly
          value:
            amount: 2000
            currency: EUR
          narrative:
            line1: Joe Plumbing Ltd
          paymentInstrument:
            type: direct
            country: IT
          resultUrls:
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
            cancel: https://worldpay.com/cancel
          customer:
            email: shopper@worldpay.com
    payment-eft:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: eft
          narrative:
            line1: MindPalace
          value:
            amount: 750
            currency: USD
          paymentInstrument:
            type: direct
            accountType: checking
            accountNumber: 01234567890123456
            routingNumber: 012345678
            checkNumber: 012345678901234
            companyName: Worldpay
            billingAddress:
              address1: 8500 Govenors Hill Drive
              address2: Symmes Township
              postalCode: '45249'
              city: Ohio
              state: US-OH
              countryCode: US
          customer:
            firstName: John
            lastName: Johnson
            customerId: '43424'
            email: john@example.com
    payment-swish-with-phone:
      value:
        transactionReference: apm-order-12345686564
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: swish
          value:
            amount: 250
            currency: SEK
          narrative:
            line1: Mind Palace
          paymentInstrument:
            type: direct
            country: SE
          customer:
            phone: '46761985401'
    payment-wechatpay:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: wechatpay
          expiryIn: 10
          value:
            amount: 250
            currency: CNY
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: direct
    payment-alipayplus-2:
      value:
        paymentId: HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        lastEvent: pending
        _links:
          self:
            href: https://try.access.worldpay.com/apmPayments/HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        _actions: {}
        redirect: https://secure-test.worldpay.com/jsp/test/shopper/APMSTSimulator.jsp?customerRef=3413879489&paymentMethod=ALIPAY_UNI
        paymentInstrument:
          method: alipay_uni
          type: direct
        commandId: cmdEy5vwB0krLe9eMwAcE66c0
    sessions-alipaycn:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: alipay_cn
          value:
            amount: 1000
            currency: CNY
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: checkout
            language: zh
            sessionHref: https://access.worldpay.com/sessions/eyJrIjoxLCJkIjoiTExFRUZaZWtFZXZkV09VZEcxUFk3Z1hWK3prdmtKRk5MRmlockc1K0MyY3ZvWVpvRldlZ1J0TmRLRVQwaTM3LyJ9
          resultUrls:
            pending: https://worldpay.com/pending
            failure: https://worldpay.com/failure
            success: https://worldpay.com/success
            cancel: https://worldpay.com/cancel
          deviceData:
            device: desktop
            operatingSystem: windows
    payment-bizum-2:
      value:
        redirect: ''
        _actions: {}
        _links:
          self:
            href: https://try.access.worldpay.com/apmPayments/HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        paymentId: HZ75WBkfRwmD9YzLSZFnQ5v2I5ddQFtUqfQjfH6MtZWlDSUrxrcX5x_wn93uYUZBrpxTgfQTxtQsmy9dE_z-m-zZvrP-LeCRz0uWrqdvJK9lFEMgr042IFWuXU4qz5JB5ruD3eXP8P1s6nqEcRq5d-NwnkVtXPzEhC9FQ_77m3c
        lastEvent: pending
        paymentInstrument:
          method: bizum
          type: direct
        commandId: cmdjW0w-zEw4uQUp57KArz4t0
    payment-multibanco:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: multibanco
          value:
            amount: 1600
            currency: EUR
          narrative:
            line1: Joe Plumbing Ltd
          paymentInstrument:
            type: direct
            country: PT
          resultUrls:
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
            cancel: https://worldpay.com/cancel
          customer:
            email: shopper@worldpay.com
    payment-klarna-guest-train:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: klarna_network
          value:
            amount: 12900
            currency: GBP
          narrative:
            line1: MindPalace
          passthroughData: '{"content_type":"vnd.klarna.interoperability-data.v3+json","content":{"operation":"payment_request","request":{"supplementary_purchase_data":{"purchase_reference":"TRAIN-BKG-3321098","travel_reservations":[{"travel_type":"RAIL","pnr":"RAIL789456","itinerary_legs":[{"departure_date":"2026-05-20","departure_time":"08:47","arrival_date":"2026-05-20","arrival_time":"12:52","carrier_code":"DB","carrier_name":"Deutsche Bahn","departure_city":"Amsterdam","departure_station":"Amsterdam Centraal","arrival_city":"Frankfurt","arrival_station":"Frankfurt (Main) Hbf","booking_class":"FIRST_CLASS","seat_number":"62","coach_number":"24"}],"passengers":[{"given_name":"James","family_name":"Moriarty","email":"moriarty@email.de","phone":"+491765554433","passenger_type":"ADULT"}]}],"line_items":[{"name":"TEST YYYY ICE Amsterdam-Frankfurt 1st Class","quantity":1,"total_amount":12900,"unit_price":12900,"total_tax_amount":2060,"reference":"train-ticket-001"}]}}}}'
          paymentInstrument:
            type: direct
            country: GB
            billingAddress:
              firstName: James
              lastName: Moriarty
              phone: '00000000000'
              address1: Marylebone
              address2: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          settlement:
            auto: true
          resultUrls:
            cancel: https://worldpay.com/cancel
            failure: https://worldpay.com/failure
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
          shipping:
            method: physicalToDoor
            timeFrame: express
            courier:
              name: DHL
              preference: leaveAtDoor
              signature: true
              tracked: true
              identification: true
            firstName: Mike
            lastName: Shipping
            phone: 0123456789
            email: mike.shipping@email.com
            address:
              address1: Worldpay
              address2: 270-289 The Science Park
              postalCode: CB4 0WE
              city: Cambridgeshire
              state: Cambridgeshire
              countryCode: GB
    payment-mybank-2:
      value:
        paymentInstrument:
          method: mybank
          type: direct
        paymentId: eyJrIjoiYXBtLXNlcnZpY2UtZGVmYXVsdCIsImxpbmtWZXJzaW9uIjoiNi4wLjAifQ==.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdDZM8QaH19DiFbmMAchPSTwt65ThzfHgki5llFFJw79PAaFT9PiiV:KsP+z2Cdr9o:XFrnd4GNEHV7yDuZt9Jyqf5XZUPFYfD4fs2JzaCZKV3L7DQm7JfXl6rjXA0ubX6hJpY5kUX4Djm9+PFFKUS6:fECFv5QSV33wfYDk9Ozs8d3Wb9inqLCfVwL0ZeHAEGBKM2Ks:rlczHJ2DGe1:xPRqjBWEQYSfjhGO0ig5hWkD70cWvOUr9oNei3iC:3d01LAXFh93YDLZPKsCwdSzM1XGYn:we0+sdcIkh8SEpzehvzy6dbwC5YGJJfB7iuKbxA==
        lastEvent: pending
        _links:
          self:
            href: https://try.access.worldpay.com/apmPayments/eyJrIjoiYXBtLXNlcnZpY2UtZGVmYXVsdCIsImxpbmtWZXJzaW9uIjoiNi4wLjAifQ==.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdDZM8QaH19DiFbmMAchPSTwt65ThzfHgki5llFFJw79PAaFT9PiiV:KsP+z2Cdr9o:XFrnd4GNEHV7yDuZt9Jyqf5XZUPFYfD4fs2JzaCZKV3L7DQm7JfXl6rjXA0ubX6hJpY5kUX4Djm9+PFFKUS6:fECFv5QSV33wfYDk9Ozs8d3Wb9inqLCfVwL0ZeHAEGBKM2Ks:rlczHJ2DGe1:xPRqjBWEQYSfjhGO0ig5hWkD70cWvOUr9oNei3iC:3d01LAXFh93YDLZPKsCwdSzM1XGYn:we0+sdcIkh8SEpzehvzy6dbwC5YGJJfB7iuKbxA==
        _actions: {}
        redirect: http://secure-test.worldpay.com/redirect?tokenId=785b62e4-cb14-4a0a-999b-b99b884595e7
        commandId: cmdfjMn6H4jEDZ5ovwBaCgsu0
    sessions-paypal:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: paypal
          value:
            amount: 35
            currency: GBP
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: checkout
            sessionHref: https://access.worldpay.com/sessions/eyJrIjoxLCJkIjoiTExFRUZaZWtFZXZkV09VZEcxUFk3Z1hWK3prdmtKRk5MRmlockc1K0MyY3ZvWVpvRldlZ1J0TmRLRVQwaTM3LyJ9
          settlement:
            auto: true
          resultUrls:
            cancel: https://example.com/cancel
            failure: https://example.com/failure
            pending: https://example.com/pending
            success: https://example.com/success
    response-duplicate-order-400:
      value:
        errorName: transactionReferenceIsADuplicate
        message: The transaction reference (while valid as a reference) is a duplicate already used in another transaction.
    payment-sepa-recurring:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: sepa
          value:
            amount: 100
            currency: EUR
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: direct
            iban: DE29500105176647192975
            accountHolderName: Sherlock Holmes
            language: en
            billingAddress:
              address1: 221B Baker Street
              address2: Marylebone
              address3: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          customerAgreement:
            type: recurring
            mandate:
              type: recurring
              mandateId: M-100229092-1727784201981
              mandateSignatureDate: '2024-09-10'
              description: abc
          customer:
            email: moriarty@example.com
    payment-open-banking-2:
      value:
        paymentInstrument:
          method: open_banking
          type: direct
        paymentId: eyJrIjoiYXBtLXNlcnZpY2UtbG9jYWwiLCJsaW5rVmVyc2lvbiI6IjYuMC4wIn0=.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdDhc4+SZY0AjeTYQPAyjybqxwsi0rmsit6VmM+ZZy8jdRCqzcgLWq7utrhtcbCH9pdFP7im0OhK+0dUerACka2SC4c2PEiPHDFAICQ4l1CuKJ9vs+FDuLhRUHrHK42uoIbAfefEFrfTM6o34u5XL702PNKoJbKOaHlAmYTOWTPLy1lVo+DSP:crPJz+TKxXR+Hx:8bB5kMN3qM4hu5JSRleOAV:glrYW2KYuiJVC0kexfflYxnJ7fBNd2BtiK2hD2L4o+D:vH3ePSb0IAj0UCqUUzIJ:7lB7tF7knZV0mCGSE90xbHhAtUnRf7e8yPpoBg==
        lastEvent: pending
        _links:
          self:
            href: http://try.access.worldpay.com/apmPayments/eyJrIjoiYXBtLXNlcnZpY2UtbG9jYWwiLCJsaW5rVmVyc2lvbiI6IjYuMC4wIn0=.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdDhc4+SZY0AjeTYQPAyjybqxwsi0rmsit6VmM+ZZy8jdRCqzcgLWq7utrhtcbCH9pdFP7im0OhK+0dUerACka2SC4c2PEiPHDFAICQ4l1CuKJ9vs+FDuLhRUHrHK42uoIbAfefEFrfTM6o34u5XL702PNKoJbKOaHlAmYTOWTPLy1lVo+DSP:crPJz+TKxXR+Hx:8bB5kMN3qM4hu5JSRleOAV:glrYW2KYuiJVC0kexfflYxnJ7fBNd2BtiK2hD2L4o+D:vH3ePSb0IAj0UCqUUzIJ:7lB7tF7knZV0mCGSE90xbHhAtUnRf7e8yPpoBg==
        _actions: {}
        redirect: http://secure-test.worldpay.com/redirect?tokenId=ec774cdf-d4e3-4d4d-a1be-f7c6ea9928e2
        commandId: cmdtacqTM9-6SZXms9z04yse0
    payment-sepa-onetime:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: sepa
          value:
            amount: 250
            currency: EUR
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: direct
            iban: DE29500105176647192975
            swiftBic: DEUTDEDBFRA
            accountHolderName: Sherlock Holmes
            language: en
            billingAddress:
              address1: 221B Baker Street
              address2: Marylebone
              address3: Westminster
              postalCode: NW1 6XE
              city: London
              state: Greater London
              countryCode: GB
          customerAgreement:
            type: oneTime
            mandate:
              type: oneTime
              mandateId: M-100229092-1727782857791
          customer:
            email: moriarty@example.com
    payment-bancomat:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: bancomat
          value:
            amount: 250
            currency: EUR
          narrative:
            line1: MindPalace
          paymentInstrument:
            type: direct
            country: IT
          customer:
            firstName: James
            lastName: Moriarty
            phone: '39065555555'
            email: moriarty@example.com
    payment-paysafecard:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: paysafecard
          value:
            amount: 25
            currency: GBP
          narrative:
            line1: Mind Palace
          paymentInstrument:
            type: direct
            country: GB
          resultUrls:
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
            cancel: https://worldpay.com/cancel
          customer:
            email: shopper@worldpay.com
    response-order-not-ready-400:
      value:
        errorName: orderNotReady
        message: Transaction not ready
    payment-bizum:
      value:
        transactionReference: Memory265
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: bizum
          value:
            amount: 200
            currency: EUR
          narrative:
            line1: Joe Plumbing Ltd
          paymentInstrument:
            type: direct
            country: ES
          customer:
            phone: '34700000001'
    sessions-bancontact:
      value:
        transactionReference: Memory265-13/08/1876
        orderReference: apm-order-12345
        merchant:
          entity: default
        instruction:
          method: bancontact
          value:
            amount: 250
            currency: EUR
          narrative:
            line1: MindPalaceLtd
          paymentInstrument:
            type: checkout
            sessionHref: https://access.worldpay.com/sessions/eyJrIjoxLCJkIjoiTExFRUZaZWtFZXZkV09VZEcxUFk3Z1hWK3prdmtKRk5MRmlockc1K0MyY3ZvWVpvRldlZ1J0TmRLRVQwaTM3LyJ9
            country: BE
          resultUrls:
            cancel: https://worldpay.com/cancel
            pending: https://worldpay.com/pending
            success: https://worldpay.com/success
    payment-swish-without-phone-2:
      value:
        paymentInstrument:
          method: swish
          type: direct
        paymentId: eyJrIjoiYXBtLXNlcnZpY2UtZGVmYXVsdCIsImxpbmtWZXJzaW9uIjoiNi4wLjAifQ==.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdKgIbll24WbW4bjxcOFkvbrOOou8N4LRR8iy98AJkpjMem66NOYspir3PJsMwGsI7G2Bf+rspiXLfF0Zn4xovsnjKIKWBW6p+Rdq:C8bzvzksHpCpFZQGSv0Xc:8EsM3P954rfT6hMMjSKiEe6HkFm96h2riQtoglEqbo99EuF8BZmxUCTrWCJQhIBgH9QT7tAQ6sGi9VYvEB5k55y2sensiXY0Yl+:o+DhIRXOVuFuoCg5dSFA58fc680ariJixo:LwdJZEx5MYoCT6G5d8JewNuyzINJ9Ct0Fd1CqhIA8jtEvOhq6wlMuJlXWEs8pThA==
        lastEvent: pending
        _links:
          self:
            href: https://try.access.worldpay.com/apmPayments/eyJrIjoiYXBtLXNlcnZpY2UtZGVmYXVsdCIsImxpbmtWZXJzaW9uIjoiNi4wLjAifQ==.BnnxxcMle38OazhwbF8J+4rtJi8CAq:Y3zUOn1dw6VWfvx:PHL5L0S+5ara5vz6ouV5yBmVUQCiSwQjs+1x5qJIJxAKWMWc2Mlb1doricEYlzsZIRIGCflvnYu1Ns8g1S0+66n6wCELiB9OHfX7cdKgIbll24WbW4bjxcOFkvbrOOou8N4LRR8iy98AJkpjMem66NOYspir3PJsMwGsI7G2Bf+rspiXLfF0Zn4xovsnjKIKWBW6p+Rdq:C8bzvzksHpCpFZQGSv0Xc:8EsM3P954rfT6hMMjSKiEe6HkFm96h2riQtoglEqbo99EuF8BZmxUCTrWCJQhIBgH9QT7tAQ6sGi9VYvEB5k55y2sensiXY0Yl+:o+DhIRXOVuFuoCg5dSFA58fc680ariJixo:LwdJZEx5MYoCT6G5d8JewNuyzINJ9Ct0Fd1CqhIA8jtEvOhq6wlMuJlXWEs8pThA==
        _actions: {}
        redirect: iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AACAAElEQVR4Xuy9ZXsj2ZbnO1+k74t5N/d299RMn66qBEMyOZmZmZ3MzMwMTmZm5kw77bTTDLIYLLaYbK8bawtjhxSSjPI5+j/Pesrl2Ao5bemnvRf+D0gqqaSSaif6H/Q3kkoqqaQSVUlgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7UZJYCWVVFLtRklgJZVUUu1GSWAllVRS7Ub/0sCqtzvArVSDS6oEe0FpwFwyJfl+WFNp6NsklVSjVFejhDqVIrzJpeAq/BWwOpmUfL/BbqNv8y+lf3pgNbjdYM0rAe3lByDfehyqp62Gsl6ToLjDsBAbSqyEY0NYVtphMLHybmNAe/E2Q7x6+ukiyiWSguXjdwaOCvoSrxpcLrDnF4H1Ww7UW+N7sdbpDWD99BWc5ZXMz9pAX+aVq0oAtk9fwKOqoS/xqsHhAMfPXGL4daKrwWoFx/cv4Cr4RX7XLS7mNWO9fBbUfTpBTdofjP3vEPtPYuqA/Qdl/x4wbf9OYJw9Bsw714Lt2jlw5+cwr/VW+PnbWP+UwHJr9KC98ghE8zdDSfo4KOowglhxh+EhFgqs+KGFpr1wm35qrpgXqHLTPijv2J+xDGLqfSfpVWGFkBONnAqVnfoQq+4zAmw/ftLLwsp07zFUp/cDQaeejPUA+axFUFdbSy/jqMHhBNWy1SDs3NVrqd3BeOESvSysnEXFIB08FMSd04jJBg8h30tUObO/gSqjGyhS/5uYesxg8IiF9LJmleXSGVCl/kHMC6zGQwtNE7D/D7Q9/y/ULp4KtuvnoF4b3wdNe9E/DbAa3B4wvvjMQGorFHUcxQBqpM+8sGoJaOFOK9rOxXDjgQ9WfvNCy/TsLb2UI8nk+Qyo+gaAhSboPRzqTGZ6KUvOqmoQpPT2wcpvPUC9eRe9lCP9sVNQ3bkbsQC0GLPn5NJLWcLfv2zYSBAxoELzQ0s+bDjZ5Saa6k0mUPYLwspvmqlj6aXNJ+bDq6Z3pwCwWgJaAevy71CbORWcrx4zn+CJ9/tvrNo9sBpcbtDdfA5lA+dC4d8jiRX5rRWg5Vbwf5JJ56+hgOWFlmLtTnopSx6NDio7Iqz8FoSW9csPejlLhkvXoYoFK68Jew+ml3IkHTs5AKxQaOkOHKGXsuQsK2dAle4zNrRczLVEk+PrJ5Cn/kmMhladtmX8lHUKOQOp/8MCVotCK+3/JaYfznzg3LnMvFec9I/U7tR+gdXQAPqH76C070wGUqNCrHWh5RTJ6J+MJVnmxjDA6k+OiXyqqzV5gRUGWrbsPHo5S8YbdwmwaGiJ+o+kl3IknzyTBSw/tHDnxSdXdXUIsNjQcjPXEk3OnB8BYNHQqq810subRXjc9AKr9aGlRXANSgHHk9vkvdNe1S6BZa8UQ9W0dQyYRvssFFitC61owKp9/o4DKzTrt+i+KNnCNRxoCYdOhPoozmy3QgmCbgM40NIdju47M169CdWd2MCqTu1BdlC8Yo47iklTOdBSTJoSV3CitdTgsINq+AAOtHSZ8+ilzSY2sNoGWmjG2aPAU1VG/3jtQu0LWPUNUHP2LhR2Gg+//x7DmB9YbQetaMBCac/fgIrUQQRUFelDwXDrEb0krDw6PcjmrwpASzxmBjgrY9ut2L7lgDBjZABa6i27ocEZw5GAgYvu4DGoTulOYCXqNQAsL1/Tq8LKLZODctrMALDwa/xeospdWQE140YEgKVdNAfqdFp6WbOJC6y2g5a267+D7cJRhtyJ92HCp3YDLI/OCNXztvlAFWqxQau40xgQTF4F8u0nQXvlIZg+/STpDtaCMnBJVWAvKA+YS6YCt1JDzPqzkBdasQALVe9wkqhfYxzQdXoj88aPLx2CiNn6u0QSqLdY6CtRVW+zMY8VQ0NdHX0pqjw1amLtRR65DOoNevrbzS4EljL1/0aElis3mzcPy/U7D1z5P8H55R3Yrl8A8+4NoJ8xCtRd/2gctNL+F9Qungz1+paDdHOrXQDLXiGC0oy5YWDFD62SntNAvussmL/8Yt6Advq2MckpkvPutGIBlvn9V6gePQfKOg4A0YQFYP3B74PyC1MMNAdPgaA3s1PqOgSUq7eRXVeiCsGo2bYTJL36EdNu29EoWNKqNxpBu2kjyHr1AFmfXmDYw+wWbb6cNGZHaL52FRSDB4Csayqo588BtzC4C3X+yoOaqRNBltoBVKOGge3l88C1pghTIrRTRjMA+i/QjBsKjg/Ro75+YEWCVmNTKhpsVnB9/wjmfZtJfla80NIPSQVPZSl924RUwgPLklsCRd2mMVAa6zMaVlxoVc/aBKb32STU3lR5gRX5eBgNWNafv6Gs00ACK79VpAwCR3kVvZQj1dYDUNGxn8/6EpNMXtCoXU9rSLVkBQg7dyHmPxbWLFlOL4tPmAowdy5IUjr7rBMx3bq15LL5+lWQpnQMsQ6gGNCPOM7dIiHIu6WBjPmeLOXvgNm/fKKeJD65y0tB2eVPAquApf0DnMwOiU+hwAoHrcYCK1S4g3d+fA2GBRPjgpau73+D+xd/9DkRlNDAqv2YC79TJkEBAyq0aNCqnrcVrPnN60wMAis8tKIBS75qJwMpNrDQVDuP0ktZwh1hRef+IcAKQstekHjJmOir8sOKhlZT/FiuykoGUCkhwApCq06vB+XwYRSwvNCyPLgHxiOHfLDymxdY2syF9NPEJePuraBI/QcbWIwZ1i6jl7JEA4uGVnMAK1Ru5ghpXDw1dmh1/9/g+vyGvk1CKWGBZflZ4oPVOJ9FhlZp/7lgfPOdvkWziA0sLrSiAUs8a6UPWGxoyVZso5ey5FbWMHDK8BkbWpb3X+jlbS5HUbEvZ4sLraZku9uzc3zA4kLLLRCArEc3BlCdONAynT8Lus0bKWB5oVUzZTz9NHFJv3oJARYNLd3cqfRSlrzAwrXhodXcwPLL+e4F6IZ2jRlaibzTSkhg2SvEzDFwRgisIkNLuvE4sxvhD/M3RVxgsaEVDViak1dCgBWElv76A3opWw0NUD14MgdalWmDwKNOPCcp1g2Ke/XnQEvcK6NJNYX1tSaQdO/BgZasP3NfjwfUSzN9wGJDy/nrF1gePiC7LRpaxkP76aeJS5abVwPACoWW+fQxeilLQWCFh1ZLAQuFfi7z1pWxQYs5HiaqTyvhgOXW1UJxxnwGTON9Fh5aRWmTQf/4A/3wZpcXWJFTHqIBCztCiKYuZUFLMn9tTP41W+5vqOwxIgCtypQBYLz7hF6WMLK++wCirr0D0BJ17UW+11RZnj0HSXqXALSkPbqD/etXcs0jk4F86GAWtAwHfUCqrwft8iUsaNVMHNfkQAD6iXSLZrOgpZ0xPmonBTawuNBqSWD55Xh6D7Q9/ysqtNARn4jRw8QCVn0DCObthPy/xkN+AFhcaBX1nAnWwkr60Y2WxxC5KDgIrPDQigYsFDrJze++knwsy+ds8u+MVR6tHgx3HoPh+n1wCkT05YQT+qtMt+4Sa4rvipZbLAHTzZtgvnMHPCoV61q91QLWp0/AdOUyOH8XsK6h7N++ginrAtjevG5UWklYMTB0fPkI5otnwP7+DUAMgRAusNjQ4gNWc6ZduIvySTQxGrQw5SHR8rQSCliqs/cZWE3wAisCtEqY3ZejunFvBMy30t99BdJ1B6FqwnIo6TKeJI9WjlhALw2IDSwutGIBlkdvBM2JS8QBrz1zFeosVnpJo4RHQ83Rc6BYtRX056/FlbqBXR/U2/dBzaZdYHnXtKhZcwiPjbWXroBmzTowHDnKgVJjhekPpovnQbtmFRiPH4U6DTs/zPb6Jeg3Ms+5aztzjOQv8G6qwgMrCC0+YGnH9vcmj/b6E/RTh4Np03KwP7gJdTIJvTQmeURVPr8WP7RsF/mPua2thAGWvUICBR0m+YAVHlpFPWfFDSt8E2tvPGMAtYLKeg9mu1eMiBw1QmDxZcTjdT6RIuZ+E6G04yDmOOg1wZBpUGdq2rHELVeCoNdIVvRQPHJ6TNAy3roPVZ16M9YrYLrjZ+llrSbsQ6WYOCVQe4gm7dkb3MLIb+BYhLBSjhkZ4tvqAPK+PcEj9/7NjPv3sKKHmKtlffyQukvzCYFEO+pDoRUdWOGz3vXThoPt9hXip4pHCK2oO60u/55QZTyJAayGBqiYujkEVlxoFaZNjesYWO90gfrcHZI8Sme909CKBViRoBUNWKpdJ6C0wyACrFBoaU5eppfGJdXGvZzoIZr+0k16KUsNDidUdcE6QwRWCLRSerdZdrrpzj1OwTSaeuUqemlcMl2+xHLE+6GF0UOPRMwAqiMreoim6N0tpuNdY+QHViRoxQas8NBC0/bvDNaLJ2IrwfKJHA+j+LSw9jBRCqYTAli6hx/g118TiUWClv7xR/phEWX+8RvKhyzgLdUJhVaswAoHrWjAEk1f6QUWBS3Z0i300rgkHjeXFT30Q0u5nr9tjbNCAJUMqNBoaGH9YVtIt3MPq2DaDy35sOjdJfik27gh4IgPNdWEsWB794YTPfRDyyOT0rdqFoUCKxy0YgdWZGih6Ub1BldO7Kkv6IiPFj0kXR4SQG0OLNwJFfaZHwBWOGiJN5ygHxZW6NxWHrkKvzuMCVuqEwla8QCLhlY0YCk2H/L1zmJDS33oHL00LslXbQtED0OhpTvDv3Ort1ihMqVfWGg1p5M8HtVevR4CrCC0ahYvoZfGpdqzZ3zAYkML/VmuinKy26KhJe+a0nyOeUoesYgFLBpa/MAaQAGLH1rq9P8Ey4l9Me8Wo6U8YGuaBmfj01OaS20OLM2t1wykJrGAFQqt4oyFMeVZ1TtcIMzc7UsmHU0sVmhFBxbb5xUKrWjAconlUJY+kgWtil7jwN3EXCpHuQAq0gaxoCXoNxbqDNF7OWmPn/P11gpCq2bLHnpZqwnTDGRDRrCgJU7rCs7CInppXKozGEA+IIMFLVnXNAIrlHbNSg60MJrYUvICC3tuhYdWdGDRXRyiQIsx44rZMeXBof8rWnKp/e4V+mGtrjYFFuYiFQ/I9AErPLSMb/jrs1AIK8GMjVSpTuzQqhgeC7DCQysasFBOoRTk6/eDcPJSsuOK1qU0VmGrGexcKpm8CGq2H4orobT2wVOQL1gJstlLwHD9TpvXJ2KZjW7PPlBMnQHqNevAWdo8jl6MCup37oCaaVNAt34duCuDflBMPDVdugg1s6aDdvFCsD5r2Ry3ILDCQ4sPWJoxfmDFDy3D3PExQcv5/qUPWOGhhZ1L27rdcpsCS//8WwisuNCqmsvvj0HhG02YuYeCVXzQigqsgL+LC61YgNUUYbM+y5cc0vEB0yNaRQ0N4PhdDOaXb5kdYnz+nHqzBayfvhCrN5upi/XgyC8Ay6s3YY+fmGtlffmaee5CjpO3vrYWbB8/gf0zc19rfNGwxgqPho6cH2B7+xrqwqRZuKsqwfbiKbjKSuhLYcUGFhda0YAVuV9WdGjhTiuW42G02kPnq0f0Q1pVbQqsqvl7GTBNjggtS34F/RCOlEeuQbj6wnigFROwIkCrJYHlqBSCYPDUQDlPZfcRYP7wjV7WrMK0CPncZcHoYefeoDt2hl4WVvZfBSDuOxSqO3UnJu47hHwPVW8yg3zmPF8WvG8az/mswGP1x06CMKVr4EiomoeuAG/muP1HNkh69wtO4xk4GJzFsUGisUJA1UwYE3DEo2/Lcu+O9yIDU8O2zSBP+dNrqX+Cbs0ysmPjExdYbGjFAqymQIv4tKIIC6b5ujzULplGP6RV1WbAcmsM8KvDVMgjwOJCq3LWdvohHJl/FEJBB2+5TlOgFQ1YtJM+FFotCSzh2PkBWAWg1WMk1BkjZ+Y3VZqDJznRQzTrV/6jOe5GxANHBWAVgNbAEeSaZudezmALNNxx2b595xRMo+kPHSGzGCX9BrCihySCOHwk2bG1lLTLMjnRQ1l6J9KyBnO15Cl/+SwILfPVIIDDCYFF948PhRY/sAYGgNVoaKX/Z0zRQ97WNF3+o01HiLUZsGquPCew8hsNLeN7/qxjjC6WDlnMqi9sLLQqhi+ibx+QH1iRoNVSwEKnPF0w7TfLp5arphePnsaJHqJp9vNnPDtLyskoMTQaWs6SMpAMHskZbIFmOHkGdAcOs4Dlh5Z8zHhw5OZxood+aLlFIvrHaBbhTkneNZWKIHqhZbl9E3RrVzJf+4EVhJZ2wSz6Viz5gRUJWtGBxW6p3BhoYcpDtDwt7KfF1wTQduM8/ZBWU5sBq3LeXhawQqH1u8fcqMXBNefuUzWGjYdWdGCxnfSh0GopYGEmfFknzNniQsv6k1sv11ySTMFZiNyUB91x/jQMbKfsBxYNLbwmHT0p7DQeY9YV0J847QMYG1rogHeWlLKih6HQ8tS00Cc9c+ST9+5BAcsLLeuTx6DftokAi4aWbkUmfSeWQoEVDlqxAavp0LJm8Q8jwR0xX+fS2sy2Oxa2CbAQRvmpsxhITQkLLeku/q01pjlgmQ5dFN1YaMUGrPDQailgoWTLtoYAywut6hEzmU/IlhtJbrz1gJPyIEjLIMNZeVXfALLp8zjQkjPfw2vGi1eBnsYj7NYX3FIZuKoEIErvyYGW6fZdsttRTJjMgZZqfuRjfHPIsH8vJ+VB0a831Bn04Mz9Scp4aGjZ3/E3v6OBRUMLr0cSG1hNgxZmxEcr4zHv3xIAFg0tnDDd4G651yCf2gRY5rxyH6z8xoZW7Wf+HYTmxgtSWxiuk0NjoBU7sLjQaklg4WxC+codAWCJpixhni++qF3cYuCiO50FVekDCLCq+48G60dvK5dowtIexbylAWDh1/5yH4zm6o6cBGFaLwIrPCLavgf9YraPn0EyYCiBlqhLTzCcPkd+FnJfuQKUs+YGgIVtl+t0usBjW0KYBqDfuR2kaZ0IrFSjR4CrqDBw3frkESj6dPcCq0c6WG5eC3l0eBFg+fxd4aDFD6xBFLCaBi2sPeST89sHFrBoaLnz26Yqok2Apbr0jAJWEFq/Ok6FOit/AW/5hLVhOzk0FloVwxfTTxEQF1hsaDUXsLBvViTVm63g0UTOseKbU8h3DSESKasbdzYedeQJyHz3xdQGtHDC5+P7t+Bz4nOHE0YaWyulwS8El0cZ+W/sxmNcjM5/L7B8Pq8w0IoGrNDupE2FFhZM86nBauGdxmO72jbF8m0CLNHm85D7F0YIudAqn7yZXs6SU6IKFEQ3F7SiA4sbWfRDq6nAclSJQTRjFcmEL+8+FtRHLgb8d5hioNx2BCq6joTylKEgXbwR3KogRIz3n0NVxgRyVBSOmMEazuooqwLxlMVQ3jEDKnuOBN2ZK4E3Vh0DE+WG3VCZPggqUweAYtkm0ncrFjkKS0AyYRbxa1X3HgqGS9cDO6F/JiFYjceOEl8WHg3Vs2eAWxAcHGL/+B5UwwcTv5ZycAbYnkdPOnUHgBUeWrEAqzmhVScV00/DkmHWaN+OjAst84419PJWUZsAq2zadgKscNASb+WPQGjvvmV1cWgOaJXHBKzw0GoKsNCxXpExlYwL85bueE197BK5Ll+3l9PlQThuPgGa+e0XliMeDYe1Yva7R2eAqj5jQiZNZxDTX7jhvS8DqNCCaTTptEVRdwoelRqqewzmpDwYb92jl7Z71Z48ThVNdwDFoAxml2ciR0OZ76gYSHlgzPGd/+iMwKId9Y0BVnNBC/tp8cm0a70PWFxoGeeMpZe3itoEWAU9FwaARUOrhjku8km87jiri0NzQCsasGgnfag1BVjGp+8JrPzmB1ZFr/FQb7FBaSdf/SEFLduvIpAuWBdwxIea+uBpMN55EgKrILSwRzzupOiCaT+0nFFGjxmu3OJED9EkY6fTS9u95P36UMDyQsv6/CkYdm5jOeP9wNKt4h9p5gdWJGjxA2swC1jNAS3T5hX007Bku3Y+BFhsaKHjvi3U+sBijg+5f09nASsUWsb3/ENGy8etDenk0DzQKh8eORztBZZ3JxYOWk0Blu76Yxaw/NAqSxkGLqkybJcHBJb5w3cQTVrsAxYbWopN+0F3/kYYYPWHym7DwFktZhVMh0LLlvOL/hFZ0h7DomluyoOw/yh6absWHgdlXdICBdOhZr55HbSrV1DA8kJLM5c/D8sLLIRbeGhFB5a30V9zQUs/hd+P5fz4hgJWCLTS/yPqjrwl1OrAQod67l/TfMaFlvkn/7SOgvQZrNYzzQGt2IAVHlpNAZajQgglnYZxoCWeu45cFwybzYFWWZcR5MinPnIhBFhBaNU+fQP236UcWKHJl28hjnbBgAkcaFX1GE58W3yy/cjlpDyQTg8bo9d8tjepF8z3ASsEWmmdwVVZAZY7t8hui4aW6Tx/CVMQWOGhFRuwmg9a6l5/0U/DkisvG+gcrlBooWO+tdXqwHJrjJD7px9YXGjZSiInz6Hvhm4/0xzQih1YXGg1BVgo7cW7LGhVDp4JLomCXLMXlkFF7wkBaJWlDoPaZ+/INXTIi6ctZ0FLsW43SXpEYUfT8k4DArCqHj4d3CpvioHtZwFxxAem8XQZDOa3sfV1x9KdUGhJxs5gABqbw749yS2RgGL40CC0GFiZLmV5LzLQ165cxoKWZv4c0uqZT2xgcaEVO7CaD1p8+VTusmIfsMJDq17b+h1qWx1Y9mq5F1gRoGWvijzUoc5sheJBSwJWMigzxBZ7bbDXSgO2KKyVBWwhVM+J3P2TCyw2tJoKLJSzWgL6W0/B9PYr1FMpHXVGE9Q+/wCGu8+5bWmYLbnly08w3HwEtl/cYaWOimpyDTs91DvY5Ri4S8PdWO2D5wGQxSpHSTlJMLV8/BoxLeKfQZhCYXv3Dsy3b4FbyE2cdfzMYa7dBMf3bzEdj7jAYkOLD1i6BTNAPaI/ZRks04zoR1nfgGlH+q0Py+rNJvqpAvIIKr07sQjQqhMJ6Ie0uFodWLVffsNPP7DCQAuvJ5LCAysIrViA5a7Rgmr/eRDN2wiqw1ng0cdevGz5mgvyNXtAtnw7GO6/ZKUQIMBUe06CdOEG0By7yBpsgdnwugs3QZq5CVRbD4KjtDJwDYVdHxSrt4N85VYwPXnNutYUmV+9A+WqTcTw61C5qqpBs2M/KDNXgf7cJai3B+GMnVD1p86BctEK0O7az7y5Y0+QdZaWg3bbTqhZugKMFy+xauUwqmc4fhJqFmWCfu8+8Ci8u9e2kBdY7MhiKLT4gNUWcn77RIAVCVqYXNraaiNgTY8IrcQDliIMrILQigYst1IDZT0msfrAl2dM452F6Jf+1hNOyoNiy2FyDTuZlncdxZ3Gw7zx0U8lnr6M5YyvSBkE1myvU12XdYsVPURT7+OvL4tFuhPnOSkPuhPeGkRHYTFUp/cFQaeePusB0okzyQ4Nk1Cloyax6g+FXfqAs5I/aomyZ/8EUVr3QME0mnLmHPI7IJ1Mh2En02DBtKR7T9J3qy0UBFZ4aOH1RJIXWOzIYii0/sWAFR5aiQksbmTRb9GAJd9+khpc4YVWzTH+3usNnjoo6zqak/KAhkdIkqMVJuVBe/4mmF5/Yjni/SaatJBk1FekDaYc8gy0OvVn4Brf0TBU2Jq5MqUvJ+WhKqUPuSafuyQEVkFomR49g9qbdwO1h6GmWrqafhqO5JNncLo8oFnfvAXjhSxOwTSadsNG+jatIjawuNBKXGCFh9a/BLDsAlkIsLjQwuuJJEcAWOGhFQ1Y1dPXkjY0NLQkS/j7fWFaAx099APL9OYLVI9dGDblQbF+LxnWSkcP0crTh4GzopoTPfRDKzRTPl7Z84s40UM/tOz5hSDsO4z5mgZWT9AdPgGanfsJsGhoSYZFT04Ude3N6fKAkDKePQ+aDZtZBdN+aCkmTKJv0yriAosNrUQDlqe6KgRYXGh5qtluhtZQqwPLIVJSwGJDC68nkhBY4SKLsQJLvvV4oNlfKLBqjniz2SMJI6JlXcaEhZazSkz8WnTKA5r23A0wvfwYAqwgtIQTsIunnWTEc4DVaQC4Fdw2wLGqTu/dYXGgldKbuWYA2exMAiwaWqaHT8F4/U4AWKHQUmVGn0sonzSd0+UBzfrqDRjPXwwBVhBamnUb6Nu0ihBI4dIhEhZYYiFwo4tBaHnE3EBES6uNgDUjIrQSFViRoBUNWC55DZR0n8iCVnmfqeDRRe/Prrv2kIHUUBaw5BsPkms42KK8yygWtKoGTSWOdzxOiqYsZUOr8yCwfPM2RdSeu84BVs1u/gZ9sUh79CwnT0t71JubhLssQSoeGYPQko6bTlIBEKKSERNZ0BKm9yHO9GiyfftB2i2HQksxbRYpoMZiadng4Sxoibv3ArdQRN+mVeQHViRoJS6wwkPrXwxY4aFlzikFl1IXYto2NcvPYt4crmjAQrkUapDvOAXCuRtBue88eLQGeklEmd7/AOmKXSDJ3Eqc8KHhc5dEDsqtR0iiac2h8yxHPjqytWeukQgiHhMxpytUuAuTr9gK8mWbwXj/WSB/q6kyPXkJiuUbGdtAvg6Vs7wSajbtAvmCFaA7eZ60P/YLuzvojp4GxYJloN6yG1yCyPl4tBxFxaDesAVUi5eBgTkKhk6IQf+Z/vAxUM1fBNrtu8AtiT362NzyAstb4hMOWthny6NScqyuSaZotLlys3nyuP4lgRUeWrQjnk4upQum6X5adLtlehoPN/GUnXwaT+JpLMBCGFhyCkF//zVY8/kz+WnV1ZrB9PYbGB+/jdsp7hRKGBi9IC2VoyU1hgojbOjPQpA5yuLzU2ASqfnlO2LxJpQ6yyrAdP8xs2vKjmvsGP7bbJ+/gPn+I3AJRfRlXnlUKrA8eQq2d++hvjZyTlI4OQvywfLwATh+/owJ+EFgRYYW7Yink0vpgml/axq63TI9QoxrsSeeRoLWvwSw7CIVBaz2Da1owMKwvWj+VtbgCsmqvTG1ZLEXV0J5P+zmgMfCoVCaPhpqX3ykl4UV+rJKOw8mjni06tFzYxreivlQ4qmZweghY7EeF7F0R9BrmO9Y2Id8bfsRmyNfs+dQiG+rB8imzSNpCdGE/bOkYyf5joQ4jacbaxoPn6wvX4G4W8/gNJ4BA8FZEsM0HmaXq12zBiQpnRnrREyzeGHUJFo2sNo/tPhaOreU2gRYOX/O/KeBFqY98El97i7VB94LLf1d9nEpnCpHzIdiBlRofmiVdR0T1f9lLyqH0o6DOSkP8pX8kUlUzZ7jnOghmiXKeDFMVK3uN5oBFTrevcBCq+43KmpLZ+vHLyxHvB9amr3enDM+1axazxlsIUzpBs4ifvDg4FZx996clAf5qDH0Uo4s9+75YOU3L7RMFy/QS1nyAosuqG6/0PqXAJZTriXA+meBlkvOf0yrnrUR6D7wZJe1ci+9lCVs1If5Wl5jQ8v8gX9qjvbCLU70EIFV0X00vZQj4ciZHIc82WXtPU4vZclRXAaVHRFWfgtCC6/xSbP3CCd6iCYZGT39QNSzP2ewBRlucZE/zw2HstLRQz+0PCr+4Rbe3VUKB1o18+bSS1nCLHtOQXU7hladovVTkFodWHgUyktf+E8BrcKuU6Me7cTL9hBg0dDCdAc+YcZ6cUdvkikNLWteEb2cJcPtp2FTHgSDptFLORJPWxIGWP1Be5I/DcMllnmBFQZa0aZH605dCJvyIJs+n17KkWTwqLDTeEx37tNLWXLk/Qqb8iBOSY96FNVt3+EDFhtampX8/aXwKCnrhR1M2z+01H06xVQ/2dxqfWAxUpx/FgBWe4ZWzYUH9D+NI9OnXF8rmhBodRwF1gL+XQdKunpvCLC80KoaHd1XQpr09RzPgRb6taIJnfQ0rCrSh4Ir2vCLhgaQzl7GgZZszrKoDmmXSAKCLv050DI9iN522HDuEtDTeER9BkGdln9IBf4O5WMncqClWbueXsqRs+A3iFPTONCyf/lML+XIlHWR7MbaO7Qsl/hb6bSU2gRYDQyZlReetdudVmHXaaC++JD8O2KR/sFbKO09gwCrLGMW1L7m9wf5VWexgWzjIShJHUWAhcXTLrpjQwTZiyt82fCDSc2h+lhWbJE3Bi66y3dI+xmEFbalsf7gb6roF3aAUKzYDJWdM4gpVm4mSaOxCB324hGTCLCqew0G45WbUUGHwn+T/vgZEHXPILCSTZgKzuLYIrEehRJUCxZ787O6dAfN5q0xD7nA0h/ZoMEEWLL+/cHy6BG9JLyY1wy2qWmvO62a3p3Aevlsm+yuUG0CrFC5VHpwKnUxGztHqw3ytFTRI22R5BBGPvPXGc2B4RO08Pt8U3X4RDo4RHjjY64WtmKOJEypaIzqDLXEwop5oWNWfCQ5heLIPy9zTI40rQcTRd0Snt8vz44Lu0ZE/t27ob42wr+FUbypEKHClAo656oxxs29ise4+VcRrabtk7rbHFj/CtLdfgkl3aeQoyHutIzPgs3y7CVVUDlmiTcLPnUMKPachfooUbWmysMAQ4bzDjt50x4k89bGneMVTh6NDuSZGwI94hWZ68n3iBhQaU9cgKquA4lfSzRsMthygjs369cfIBo8jtQeVncbCPoLVwLg8ihrQDF/mfeo2LknqFZuCOzcEDRYjyjs0peU80hHTQRHQWHwvu8/gmTAMOLXEvfMgNpr0Y/FKGxRo9u7HyTMzovUH46fCM7S2HZuSbWcksBqYZk+5AS6kwas42iw5pWAx2iCst7TOSkPygMX6ds0qyQLNnBSHkQTF8V2ZIwkBi6SGUtYPeLRpDMyyTXDlduc6GFVt0HglinAVS0CQTr6sNitaWrvPSI/k2zSbCqC2AMUC70Obv3pC5wuD6JeAxhQahjAlEF1ag92ygNjlufRU0r0h45wooeyjAHMTjjy7jCpllcSWC0s0VKMEnKHV8i2nADD4/ec6CECq7TH5IjHoqYKmwnS0UM/tBwllfTymIVO+XCDLdDwmnj0DE70EE2fdQN0Jy9AuC4P0qnzSXdTOnrohxYmjYoHjSZf09CqvXUPtAeOcKKHaMr5kackESF8e2eETXmwPOWf6pRUyyoJrBaWYPZmoPvAo4lX7gftjWcEWDS08GjY4GnCbodHWDRNRw/90LL+bHwvMgQLPdjCDy28JhwwLmzKg/b4edDsO0aARUNLPGoK2HPzOdFDv7mEYhD2HEiARUPLcPEKaLbsDJvyoJjKP90G/WHohOekPDBmvnWbXp5UKyoJrBaW+uIDAiwaWvr7b8BRLYWijmM40BItip6R3mjV10PV4BkcaFX0GsfrgI8mzGYX9B/PgVZ1/3Hkmmrrfk7KAwLLllsA1s/ffQBjQ0uz/xhxtOOEaRpa4qHjyL9FtWZzAFgBaKX0AGdJGVhevuGkPKAZTkUfs16TuYyT8iBK7QLu6tbP7k4qqCSwWlgNbg8IM3ezoCVddziQcIq7rKLOYwPQqhyxiHR3aEnZCkqhos/EALTKu48By5ccelncsuUwu6FeowLQEvQaSb6Hqqs1gWTygiC0UvqB7lSw5o+exiObuZjACmX98h2qe+LEaS+0RP2Gg+O3N3nWo9GCdMKMILRSeoEx61rwvjv2saClXLAEGqiBHOHkUSpBPnpcAFji9O5gSu6u2lxJYLWSrPllYHjyEWzF3D7lLpkKjC8+g/lLHjS4+JNCm0uYsmB+/51M6sH8qeYSpjOY330hRqc2kC4QP/LA9OwNSRal5RSIwPT0Fdh+/uLk+WDnB8u7T2D58IXAL1T4oYAdHswvXodNbXBWVIL56Quw5+XH5RskXSC+fgPrS+a+Mv4i96RaR+0SWDjbULz9EpRP3wnCDWfBIQ52ykTfjyrrKVTO3gWCJYfA8Ia9czB9+Q3Vy49A5awdoDxzH+pjBAS+KVTn7kPV7G0gWn4ATJ9iS6ZEOaUqkG46AYIZG0G2/TRxfCeyHOXVgD20xLNWQs2BMxxANFZYU6hcsx2ks5aC9sjZwA4qqpjdqPHWfVAsXAmKpWvB9OQFvaJRQoBimoNyQSbUrFgDlldvWNft2TmgXrUWVHMXkJbLsezMUOgDq83Kgpr5C0C9ciXYPrI7bGBGvGYV87udPxdMF86zKhew3lC/fSuo58wE/c5tJM+qOeSRiMCwdT1o504D455tUKfVBK412G1gPn0MdHOngmHNUnDmZoc8kvl5XzwGw4oFoF80A6w3L3M+TFpT7Q5Ybr0J8nstZmW9/0qbAw6ht2uCYPlRTta7+po3jK178iUk492b9Y7gilYPiJ/Kgnk7Axnv/qx33YP39EqOnBIlFHWZEmj4h1bcazq442ji15rCDPmy1KGs6KFg6HRWs73GCH1VFZ37s6KHGDmMBQLq7ftZ0UMyjef0BXpZ3KpZv5mT8lB75Tq5hpns9GAL5ay5Mb1Z1cuWg7hzCsvM9+6Ra5gRT3d5wNY0+BpDWMl7YwZ8MOtd3qcH1NXEVt0QSR6REJQ9U1hZ76qBPaHeoAcyFHbGeHa2e9o/wPHhLXms5eJpTtZ77dY11DO0ntodsGTH7pIyHbpUR7juNFhLhGFLdfLTZzOfpvVQmJFJlel4oWX6xh8dM+eUcMp00Ip7z6GXciTdfJIFK78pD/F3E2grSRZu5EQP0fRX+YuJo0k6cxkneohWe/8pvZQlt1zJiR6iYbvlpkDUVSngRA/RcKgF7qalw8cEgBUKLWwUyCfn70IGUKk+CwJL2rsPgRKW8dBdHtAcubmg372LKtPxQstwYB/9NHFJv2lt2FId06mjYH//OmyZjmbcENK5VdXtr7ClOh5R6zfvQ7U7YAmWHw/UFoZCq3TiFtA9+xaxvtAhUkWoLZwMmhuv6KdhSXv3bdjaQrQ6E/+xpmraRqD7wKOJluyhlyaEqobMDJvyoNoRWxO/SBL0Gc2KHvqhpTl0ml7KkvVbDid66IeWs6Lxk4etbz9wood+aKF/DXtq0YMtEFi1V707sEiyPH4SAiw2tNxiMadg2g8ty/17oGaOiNzawo7eHVgTpJ4+IWx9oX7NMjBnnQ1fW9jlT/AIqnz/z60vdHx6Rz9Nq6jdAUtx6iGrINoPLdGm82CrkIYtii7oPo8c+4oGLQ8LLdxB8cmSXxG2ILq4/wJ6KUeyHWd9wGJDS3U8thKR1pZ06TZOygOaAfvJN0HSuasC0cNQaNU+5s8696jUYafxCNIzItYVxiKXSBw25UHco583u37MRB/A2NCyf+fvReYsKaWA5YWWLKO/d4c1eEhYaDl/F4Bh/z4fsNjQMh49TD9NXDJs3xS2KNp87hQ4Pn8IACsUWppJI5mdpgtUPTpyoZX2X1Anj9K9o4XU7oBVZ7bB7wErWdD61W0BOOVeJ6Jo83k2tP6eBtqH3to94/s8+NVhGgtYgiXeKTTRJFxxmA2tDhPA8Oo7vYwjV40OinvNZEGrdMA88BgbV1jc0sIRYuVdR7OgVT1mftSuodFkLy4HHOAaCi3JZGyVE77oOFSaw6c5eVqGq01PMdDs2s+Blum+t+uC7cs3EKX1YEFLlbk8piijdsMmNrBS0sD6whsosL55w2lNgw0BUXVaLXNk7MeClmJgf6hDX1MT5FHIQdm3GwtaNcMHQL3ZTHxyuoWz2NBidlfObG9HEevtayE7Ly+wag/spJ6h9dTugIVCaMmP3YPKRYdBeuAmA4WQPyjzgtI+/AyCFceYXdc5MoUnVNbCKhBvuwCCZYdBc+sN8W3FImwlg0dD4fJDINlyBqz50UdQ+YUOdsXhqyDM3EN2VnW1/A3i2loumRJq9p8BaeYW0J690ehOEbSwRKdm3wmQL90E+qybcUHQ/Po9KNduA9XGXaRQurlkfvoSalZvAPWWnWTsfahwt6TduRdqVq4F0607sddaMq8Vy8NHoFm1BnTbdoDjlzcXzS/sp4VNADWrVzNHwfssRz62bjYeOwqaZUvBeOI4A6vmCc7UqWug9ugB0C1fBKbTx7yw8gmjmpYbV0C/cjGJILrL2e8Z54+vYNyyFgzrloH9ZdN22k1VmwLLIdNAzc33oL7/mXlTs3N26qwO0D3PBtWVV2AtEbGuoUzfi0GV9RyMH/Njhg4KYad/+pVEDu0V3Fygxgp3TPrHH0Fz4wU4qtm5QAg7TINQX3oE5m8FMX1K+4X927Gflu7mc3BK2P3j8Q1k+pANmssPwJLNHzig5dHowXDvJehvPeX02MJdj+ndN9Bdvge2KN1NablrNGC48xSMd56Qr1tDONfQ/OodGK/dBkdJ9MaIsQo7j1pevILaG7fBVdH4Okta2JLG8uwZmG7eBLeg8X44WvUM3KxPHoHl9g3ujEPmteL4/BHMV7PAkc09GbjLSgi07K+eQ0OMPcHaQm0GLO2T75DTaT5k/zmbWG7XxWDK8b7YHJIaKBiwitWVVHbc290T3/yVmUchtMlf6eTtzC4genjcXiWD3/0wUuhLeegwFVQXHtPL4patpBqKes0JOOJ/d5wI2hveI0C9wwVV0zf5upR6+8ALF+6KqVYQk039bWnQMCNe/8CbK4TN/QQTV7Kn8WCf+GgpGows339BabdxwWk8qaOg9qX32FxnNIFgjLfxn98UvuGt0WT+8B0qug4H/6Tpyq7Dog6vaKpwWrV42ERWyoP2KL8jPxahj0syeGTAEY9OeMO5pnfRcFVUgGzAgKAznjkemq4FM/MbK1dRISj69Qo2+EvvBJZ7d8i1BrsdNDMme5v8+Rr96VZmBnZ2ptPHWc74muEZ4JE234d5c6pNgOU2mOFn6qIArPyWn7GKvOHK5x1iIDWLBaycv2aBpUgI6jsffLBidyaVHfH+cfhUNnUbJ3qI0LILuNnR8ahszGpO9PB350lkQIXq9B2qF7wXWtobz+nbcFQ+eAGrYJpAK3U8OWIqD2RxujygGR5582ciCXdl5RnTOIMtyrqOJc3+FDuOB6ZMh0LL9Jo/nF/vcEJlr7EBWPmtqtdocq2lpFi2nhM9RMNJ002RYt5iTvSQTOMpr6CXxiXllGmc6CFCyy1pGiBUY0ZyupPKu6ZAnUoFtSeOsjuT+qBlfXAHXCVFIE/7iwUsNF0m/0CNtlKbAMv4uQh+/DmHgRQaG1p2oRJ+dp7vAxYbWsqLz0Gw6nSYlsreXRafcKeT24EdQfRDS3Ob/03OJzwK0tFDP7T0Tz9D1aytFLC80BIt30/fiiWXQgN0wbTfTO+zoXL8ClbBtB9aso1H6Fux5BBIwg62QLNkF0DV8DkBYIVCS7X7JH0rlnCydFnHgT5jQ4ueOt2cEnQfHDblQX/+Cr00ZpH6z/ReYVMeam823tmP7ZfRAR8u5SHmFsthVKfRRGypbHvzCtQzp3DbKTOmX78KzFcucqKHaMrubTNkIpraBFi4U0JgcaD11xzw1FrhV98VzP/7gRWElubhFxDvvhb4/1BooQOeVw0NkN91PiflAYFleM0uRYhH+OIu6DwlLLRMX/JBtOKgrxc8G1rSbfxN/OusduZoiSkQXGjh9Gjh/G0EWDS0lAf5jy1YN0gPtvBDC0tyhNNWsYDlh5bmFP+xxSVVhgCLDS2XlH92Y1MkHDqRk/KAwKq917SjvrjvYE7KAwILfVqNFrO7lXTHwa3cPC26fCceYYKnNL1zWGg5f+aAdlkmARYNLeP+3WB78jBsykPN4D700ySE2gRY6CQvmrCTA62q1d62H/KzTwmwQqGV32cZgZmtXAI/O87hQKv2c3Sns+zIbXbKA2OFA5cTODRF0l0X2SkPDLBKRywnrY7NPwqhoMMEFrR+d5wAtuLozlbpxuMEWKHQwp0V+r9wl+UFWBBaxSnjyA4qmiTLd3GgJZzuPY4bn7737biCwCrrMpoAiVfMB4J04QYOtKQL18UVZIhXhss3OSkPwn4joc7QtM6g+tPnOSkP6NOKNgIsmvQHD1PASgX5yFEEOk0R1h3SwytqJowhdYqOr198O64gtBRdOoG7ohzqTbWgGtSHAy3zRf4P1LZSmwAL5dLUQsXSk5DTeSH8TM8E4dYrUGfz/tHQsS4//QTyui+BnL/nQOn0vWAXBKvla78WQeGIDQRY6JzXPeNGPcIJ3+jyo3cgv/sCyOs4HSpm72YVTjdWCCbZvitQ2G0m2W0J5u8mRzq/DK++QemgxQRaZSOWgunzr5BHRxamE8h3noPiblOgMHUCiJbsBrc6mMKBHUvLBswhwMK+8Jbs2Pw26LCXbzkKpV3HQWn6GJCu2sOaJq2/8xwqMqYRWFWPzyTtaGIRdoDAoumKriOJ4deNHWQRs5jXiv7idajuy/wOUvqAdOZicFY2vWyETOM5dY6MDBOm9QTF3MXEEd9UIUAMR46BtHdfkKR3hZoFi8Ajb/oOFIFn2L+H1CLKu6aCduliVg2i7cUzUA4bSIClGjsCHN+DwRB3tQA0c6eDPP1vUGZ0B9P50wl5HES1GbD84huVhQBzKCJ3NuB7rEtjJCkM4YQ7Kqcy/H1x94dJqJGieJjzVWcJvyPD54s0VQePjti1IeZcnhChM9yljjz1he/3EE28j+W55lbURM7Pwh1VhF0VZqe7lU0r5g0nnHyDdYdhxewc3QolqytCqDxaHbPT4AFrhN8D/i1xVFik5FfsK8+7I4tw3yYrwn3x3++RSSNer1MqoMEW/j2TKGpzYIUTOsirN2exooemn7ElamJ5ThGz+/JHDyszj4DH6H3RIACr15wKFEwXDV4JlsLg0Ux96w3kp84ifq38lJmgvhZsY2ItroaSISsCBdPClUcD4MJ6wuplhwKzDUuHLwdbmSjwWPWlx1CQMpn4tQq7TAPdXXYbk0jy6GtBuHBnoJynYsxy5sjXNiURfpk/5QSb/3UaQhJMI8E9VLimZv9pKOvsPSpW9R0Hls+N9x36hT2r1LsO+Y6FfUA4cBzYsoOtf8zPXvua//UCQVo/0J/NCsDUJRCCdDw2//P2iFdmrop5jiJmxIu69yV+LVGXnoEuDyiMJMpGjw8UTKtXruEHYivIlHUB5F3Qz/U3yHt2Aevjh4FrzryfoBqSEYgeGnZsbvIRtaWUkMAS77vFiR7mdlnE7DL4X0wIJG/ZDjvloWqpt3BXtPkC0F0eCnotIpG+2s8FnOghmvFdLngYIBX2WRioPfRDS7T+FLmvcPWxAKz8VtxvAQGa4eV3TvQQfVro24om4eJdrPpDtLIhC1o0TYBPTrEcStNGclIetOdu0ks50p6/wYkekonS4qallGiPngV6sIWg+xCyi7P/LoYq5phIpzyYHj4lbW0kwyb4YBUcbKFcspp+Co4wI746pTs75QEd8q/fkkigZBCOFWN3edCs20jfptVke/6U5YgnltoBnL9yoU6jBkXvrpyUh9pDTesQ0VJKSGDl9ljGjh76TH37A72UJeOXQk70kEDr7xkMdGyQlzqXAIuGFnZ5qF5zkhM9RKtecZREEemCabT8ztPIMTC/4xQCMBpate9zoXrxPk70EE2yiT9NAMt3fncYxwEWmiUnvuzz5pLm/C1O9BBNMCJ6m53qkbM50UM03fmmFYEL+4/zAYsNLePN+6Dee5QTPUSTz11KupqGG2yBcw+jNSzEMh46eohWs2wV2D5+DsAqFFritG4x9f5qCWkWL2A54/3QMuzcRpJL6eghmjKjB32bhFDiAau+AXLSFnFTHhhTXXlNr2bJ8DaPEz30Q8ul1kNux1m+XRcbWpp7H6BqyZGwKQ9VC/eD7vFnFrAC0OowBdwaPfz627vjoqFlePENqubsCJvyIFp9mP7xWULnerguD2jxdDttTqlPXA2b8lA1cBq9lKOqQVNY0UO/aU5copfGJUHP4ZzBFmg4Pqxm234CLBpa0mnzyeALerCF3zzq8H5Iv2rWbgqb8oCdS3HwRbguD6KULqz6vdYUdi8Nl/Kg37QezDeuEmDR0FL0SIvo62pLJR6wGFWuOM1JecjpMBdsAv5oCnYjzUtfyIFW6cRt5HrFgoM+YAWhldd5FjhlGgItOuUBTX3zNbhUOp9viw2tyjm7vPedtjUEWF5oFaTPYGBmAPWVZ5yUBzSsO4ym8nGrONAq7j6tzYqnMVpY0nEYB1rKnSfopRypdh0PAZYPWp0GMvfkb+0TTcqNu7nTeFL6gbOiivSAp1Me0PTnLpNdVHUv7jQe6YSZ9FNwZH7ygpPygFZ77SZzxNIGfFuhwFLOmkffptVkunSRk/KAZnv1gkQIsYyHhpZ+rXdQbaIpIYGFhdBF44N5WjmdFoD6TvQ3OMrw7hfkdQlCq3DIGnCIvNEjp1IHxaM3BqCVlzIbtI+/eh/I7Ozo1jTC9Rje9Tpo9S++k86lfliVjFwNTrl3uo1TooKS4SsDwCpIn8kcI70dBTCSJFx9lAUt6fZzEaNooUIHe+mQRQFoIaxMn9tmd+WXNusulHYeEYCVaNYaqIuhNzuuEc9aFQBWecoQ0F1qfNa4X5hvJZm2KACtqrQBYLwVdChrDp2Cys7BflrKZRsC0UIyjScEWujTQkd8VDF/O7o1Tc26zYEIsPXNe9JXyw8tdMC7pU3z1TVF+O/VrlnJgpZxf7CBpOX+XVLG44eWetpEqNPx7zLbSgkJLBSmF5jzBaB/+4s5zsWXBIhRQcOHfDBll3KGTDS4PWDOK2fAlsfpEIGyVytA/yonbH0h7uCwp5Y5t4wTyib3zSmB2g954DFwfSD2Kinpn+UQxjd9xZ98avqYS9IbEkFupRpMb76S/u+xFFsHxKzFx5jffiH3aDYxRxf77xJmR/WZTIOm5ZLKwfz6Q9gOpXUmM1g/fQNbdi40OOPzMWFeluX1OwZy3LwvBKnt0xew5+ZFTKdobbkrK8H25jV4JNx8MnS+29+/JY0EMSM/UZWwwDJ8LISy+UegcPQ2EO+9BXXm8LlPiSJsWYNHxLLxG0Bx4g5JzYhFJInz4FUoH78Gqhfsgtr37J5MLSIGHLrbzLFm5joQTF4Jmkv3Y0pNQHn0RuYIeBIEYxeDdOl2sOZGj3bGIo9GB8pth0A4dh7Il21hABRbsmo0YbRQtXkPiMfNAuWqLeAoDRYvI0jweCidMo844k0P2WPorR++gGIRszOZOBN0h0/EPOUHnes4rFU+eYbXr/Wcv6tqqNxCEWjWMa+h8RNBu2EjuMXByoV6mw0Mx46BctJkqFm0GGzv2G2KLU+ekEk8qqmTofbsGZLy4ZeropzZZa0C1YQxoNu0gQy8iEnMbtL64C5JLMVWy+asc6R/VlspIYGlfZYDP/57rs/mECscvZWzq0kU1Vx+zooekmk86N+KcuxDSJRPWMdOefg7Nv9WU6Q6dInT5UG6/hC9jCPsO1U5dDarYBp9WpZvTTum4s6xasAkljO+vPNAsP1qWjQUc6qq+44KOOLRqtL6B6CFx0M65YHkaYHXT0WnPMgmz47+ZmX+5jislU55wHFi0eSWSEHcvReZMi32maRHL28mPLOLVM2YxSqYJkXTD7xtl0xZWawe8WQaz5JM732ZnZWsa1pI2+UOIO/bkxRNR5Pp5DFOykNb+rcSElgFQzaGACsILd2rXHpp24vZrRR0Cfq2QqFlyePvUoC7KTp6iFY6cBG9tNmEvqTCjqM4XR7Q6AaBtLBkhy6YRhNOW0kvjUu6S3c40UM06YK19NK4hJOl6eghmnLlZnCWV3KihyS5NL0f2XmJhozjRA8RWtYPn+mnYcn+q4ATPUQT98yIenzW7tjly9tKY0FLv3cf2L9+5RRMo8kGDCRHOGmPHqwe8X5ouYqLQLd+HatHvB9axuNH6R+BpQaHHWTpHTkpDwgtdNa3hRIOWFgqkv33AgpYXmjJz0fvIdXacutqOdFDP7R0j7xN8SJJffkpJ3pIoNVhQovtJu0VorBdHhBY5m/8NY6qQxfDdnko7zOJXhqXVDuPsaOHPhMMjZ4uwSfV+p1hUx7E42eB5S1GELkpD2g4NaeqM35NA6snGK/eop+GJfOT55zooR9a2P6YT6p5CwOJpqHQqlm8BMy3bocAiw0tvmk81pcvoGbalECP+FDDIyKf3MJqTvTQDy3HJ/6cyJZSwgELVTRuJwOoeRxoGb807YjQUirstzgstELLc8LJnF0cNuWhbEzTdix8wiz54rQJHGgVdxoNbp56RZTx2QdOlwc08YJN9NK4ZLj7LARYQWjJV/L3OIsm/eXb3JQHBljo03JJZKzooR9a1b2GkOOXZNwMAiwaWvYc/uMv7tzCpTxIBg6nl3KkP3QkBFhBaBmOnwRHfgEFLC+05KNGk2OotF9GWGghdPQ7d/iAxYaW6eJ5+kdgCXeaWMbDgVba36TusC2UkMAy5VVBTqdFLGiVLzoR1SfUVjK+/Qm/OrKn8Yi38b8Y/KKn8RR0xrFjxfSyZpXuzitOa5qaU9HLa0iKxqy1LGiVdh0LjooYUgF4RI5gkzNZ0KroOarJZTtYaC0aM4sFLfRp+YuvScpDaJ5WSh9Se4jCTHg8HoZCS7UqNjBrduxjQQu7PVjfR/dLYmRRNng4C1qyYSNID3gUPY0Huz3Yv3k7lVhfveZM49Hv2+u9r0YN8gEZLGgpx4yMqdDZ+ugBKeMJhRZ2MG0rJSSwUHahCsQH7oJg3UVQ3//C31UgAYTF0bJ910C06Qzon8fRxxwjdg8/gnjDSZAfuAqOMOkULSHLzyJQ7D4Hsm0nwfQx9sgkBgr0t56BbMNBqDlyCVyK5klPaHC5QX/9ISg27gPN8Sxmt9c8eUAILdxpqTbuBt3JLE5xMx4NMSNes/842AvYO3iXQATaQyehZvMuMD1+HtUHFSrLizeg2bITdAePkuk7sQqz4Y3nLoBm0xYwXshid3tgPrAtz56DdvNWZjd2GFyVVcFrjJxFRaA/cBB027aB7TW7KgSn7xjPnAbdpo1gunwpJlj55fyVR/K2DDu2gP3je/pyq6pNgWUtl4Hi0htQXn0PDhn7BYrN+mpufQT5+Rdgyq1kXcMXjv5tPshPPwXt0x8cf4+1RAzKrJeguvEWXCp+v0E8svwWgCrrGahvvQ2bwxVJ5E3OQEx15gEY3+Rw4Gv5VQY1Fx6B9tZrzrxCl1JLJvGoLz8Be5QjZlJhhG/yD99Ad+4qmJ6+ZoX6o6nOWAu1dx6CIes62POpBpHM39Dy7iMYzl0CMwOnqNHDGIW7WOurN2A8fxGsb95y2hHhiLDaS1fAfOcuB758wl2s9flzqD1/Duwf3pOfP1QIJezogLWF2NQvUdVmwKq58xm+/70Ivv33AmLZKUvB+MV7FLIJlJDbazV8Z46EaHg0FO/xZkXjm7901qGAIx7t9+itgTwt5ZXXkP13sAYxN30RA7ymDQ5AKc48YhVMYxNAaxE3YZAWdpAoHb+BnfIwY1sAsvLDN0gpj9+Kes0NjB8z/yiC3+nTg4MtOgan8SQVXWSC86K1vinTfYmJx8wkyaLRhE0AsXNpaMqDfxoP8e3MzmRFD2WTZpG0j6YIW7oops3y1h76joTKmXMCCa2GU2dY0UNp3wxwlUVvu4S7NOWECQFHPJp6wfwAZA0H97Oih4oB/YjvKxHVJsByaU3wo9OSAKz8lttrDdl9lMw8xIBqvs+C0MLMd9X195Qz3gst8YE74JRrIafDPE6Xh4KBa+gfIS5ht9Off3vrD0OhVTJmA72UI/nR25zoIUJLffkZOUbSBdNoldM2k51BccZCTsrD75TJ4A4dHJtURBnvPfXBym9eaGn2HaeXcoSdS+noIRrOPTRcvcWJHiK0dMe9Lb4bK8PZ86z6Qz+0arMuk7mIWEBNpzwop06nb8OR4cgRTvQQzXz7Fslsp6OHCC31/OgdONpCbQIsw6diBlALfcaGlq1aCT86LgoBVhBaigsvoXLlWQpYXmgVTdwFuhc5Ybs8oEXrpcUnzf2PYbs85DIQi9TV1K+K6ds50UO06qWHQH31uQ9YbGhhuxqnWMWJHvqhVfs2h36apMJItXEvA6gMDrTEE/hHWOHutyq1X9iUB+P1O6BcgQmnNLB6gnxW0/LnVAuWsIDlh1bNkuVgYo6AdPSQQCu1S9Rme6rp0znRQwSWdt1a4s+io4dosq6pnGNjIqhNgGUploQAKwRafy4EDwOAvL7rKGB5oaV59B1Ee26R3RYNrYrME6QrKd3lgXR66DiPU1MYj4yfCjhdHhBYv9LmcvxRtKpXHgub8iDdcZG0n6G7PKAV9ppH2g/nd5gYFlrWgqYfcf8VpD581gcsNrTki6MnpFb3wwx5bp6W+eVb0uE0XMqDas1m+jZxSbNpmy9niw0t7badYH33nhU99ENL2rtf1Oi5esVKVvTQb4YD+8H69Akreug3xZCB9G0SQm0CLHSaF007yIFW1YbL5DI64r8z/x8KrLx+60gHT/Rv0SkPP/6cB7U/yoh/q2jcDg60RLuD7WsbI4Rd0Yh1HGjhQItosvwqJ8NaWcDqPJ34qeptDigetJQDLdV5b7cBybbzrJQHBFbF5A1RIZmUVy6JHCq6DOFAy/otelRUf/EaO+WBMZwwjX4qZ6WAk/IgSMHhrdEnN/HJUVQMwtTuLGiJ0rqDs7Sc1CfKR43lQMt49hx9G44cOT9BnJLKgpa0axfip6q3WkA+ZDAHWuarjZ/r2JJqG2AxchutDKCuQE7XlfCz5xoQH3wQLBhmgKa48g5+DdgI2alLoGzBcXBIg3VPpl9VUDxpD2R3WAiFo7eD/l1+4BpG76pWn4OfXZcwO7VVIDv2EBpcTY/g4PAJwfLj8Ct9PvzOWE6c8AjIWFT7KR9Kx22AX52mQdmkTWD+GQxz48ALweL9pCVN8cAlUHPpaQBICErF0ZtQ1Gc+mcgjXn8ibCeI1pbFrYA8xUH4JNwIPxjLFW2EAvFGKGasTLIZJIrDUKO9BkbjY6gldg902rOgVx8Et0tE365FhUXU4mlLoDJ1EIjHzQXzW/7qg4CYv4Hhyi0y91DQbRAolq4DtyI4Ycmemw/SqfNBkNYXpBNngfVzHKksPLJ9+0GKpkXpzBFzygzSjtkvj0rF7JZWg6RHH5ANGUF8W3QUMZJsHz6CcuIkkHbpAqoZM8BZUBC45pHJQL00E2Q9uoFy+DAw37iWkMdBVJsBKxbhSHtrhZy0mqGFcMO0iDor//k9XtXbnWArlwZGjsUj9JORcWRRtujNKez2YK8Qx9wdorHyNDjhtXwPPGDg9Iyx16IN8JGB1Xfma5E2+k6TlsdZxfya4mvn0lhhdr+zojrmbguhqtMbvWPD4n0DM68B7K0VqXtpnVbnbUsTR25XU4X95l2VlVF9XomshARWnc0JFSvOBXxbuT1XB1IeUBgpzO60mPi1sv9aAJLDD5oFEsoLzwJDWvG/ijOxTQ/2MGCtnLcvED3E4ayWAip3rLnFvNCxLU1+xwnEr1WYNhW0t9nJgs0hR50ZLog3wRXRJrjJ2D0GUE+YndRbyTbw1PMHHBJBxjtPmGPhUChnjoTlnfuD5vDZmCCBcFOs3OQ7FvaB6v5jwPYjtuJ7x+8iEAeKp3uAYuGKwGDXutpaUGWugupO3YlJBo8iBdMtKua9YTh+gmTCYzmPpGs3MN9uevPEtlBCAqt6x01O9DA7dSk4lXowfi/lRA/Rn6W+94W+TVzy9oPHKdPeTqV+072IPooK+8HTKQ8FvReTaTstJUwypaOHOI3H8rNpLYdDdUa6E04IN8EZ0WbIYmB1nQHXXfFmcNUlRiPBaLLl/obyTgMYWPX3WQYx453oH0Q12w8Eag/9JugxJOKOyS/M8RJljOCkPKhWrCfXa9ZuDsDKb+K+g0mSakvJ8vBRoPYw1BzZ0V/biabEAxbzaZDTdRU7eugz1c1PINh8lRM9RCudfZi+U1yqWnnaByw2tCqXeEeERRIeIXP/xv7x3Gk82NW0pVQ5Yysneogm2xlbDSOfRI5y2C3aAvsZUB1hQHWK+e95BlQ/9cHWw+1BNbuPhcAqCC3JrOX0UraYHZig21AfsNjQqqWa/NGyvP/MiR76nfJ1JhNUp/UhAKOhZXn1lr5VswmnS4fr8qDbvoNemvBKPGAxL5bstOWs6KHfsISnav0lClheaBVPP0DfKS5VLj0B2QFgBaFVsegIvZQljFz+/Ms/A5ENLWy13FKqmLIpbMqDZOsZemlcylJdhG3CrbBTtBX2MdA6JN4CxxlYWev4Ozk0r2JzJEeTavuhMMDqT5zwfEJHdlWXQZwuD2jGu/y7M8vrD2FTHgSde4FHpyPgQmDR0DI/i70rabxSzZ0XAqwgtLSbt9BLE16JByxGlWuzQoDlhdb3jovBLqoB3Zt8oFMe0JSX39C3iUuax98IsGhoae5FjyqVz9rLSXnI7zKf9MpqKWHtIZ3ygFb7sfG7uq3i/bBOuA02i7bDdtE2Zpe1FQ6IW/9F3SD4AxrK/g/97bhl+fSDAys0XRZ/TyuUYvU2TmuaqvQB4Jbxt1UhXU7JpGk2tBTzlpLrOF3aDyw/tETd+4ftRd9cMl27QQHLCy26xXJ7UEICC1MeiqYfCgDrR+oy0DwJnrclRx7B978WBmBVteFS03OTmKOoeO9NyP4Lk029wBLvvBaTMx+n8ZSM2xyA1q9uC0iyaUsKUypE604EgFXQYRIoT8YfrfNrrXA/rKrexfx3B2wU7WDgtR12ipvWj6oxahCnM7D6A+oLGcv7g74ctzSnr5B2y35YKTfsiSkdBaODkhmZAWgJug8F86v39LKwItN4egen8cgmzQaPr6UNgkk2ZU4AWMJeg8H6sWn+16hi3hvaLduCsEpNB8MJ/kG+iaqEBBYRczTElAbj11IytZmWU2VgrpWAQ9I87U38cip0UPu1mMwqjEf4JrCVicH0o6TZUy34hCU8pm+/m1RfuLb6GCwV7IOV1XthjXAPbBDthk3ineBqpbQDvxo0a6ChnAFVkRdWdT8Y+9h0aGGrGuv3XJJIGpeYNzpO2rExj603xxdoqLfayCQebOhHd3LAIyd+H683JtWisXJLpWD//gM8NV54tke1GbAwb0h8iDnWjNwNBWP2gvzSu5h3SbZqFZQvPQN5AzZC6dxjYC5o+cpyrBkU77wKhSM2QMmEbaC5H3JUZHZh6tvvme9vhaIR60Gy+xrxbTVZDLTV116SSTylo9eA/OB14uRvTh2V34HFVUcZYB2GFdUHYRWz01ov2gdltuaLNsYkRy40VPhg9csHq09/gOctY6/+plfHLGwCKF+1HQRDp4N0/hrWYAssf1IfPgeisXNANGkBGG48iCnlAeUUCEGxfCOIhk0C+eI14CgO9u9HCGn2HQXJ2OlkIk/tvUcx7dSjqd5kBu2ufSAbOwkU02aD+Ql/ACBUzsIiqFmUCfJhI0Gzag24hcLANTzG6rZtB8XoMaCaOQusVC+tRFKbAatk4Rn48o9M+PqPxQET7rtPL+MIUxuy05axnPE//loElmIxvbTZhImrJZN2sKKHaMqL3h7zirOPwT9l2n8sLJu6I+YXfyTJj9zkdHmomre7WV78qBKrCOZXnoZFVScZYJ1ggHWMAdZRBlhNi7jGrQaXF1bFYWD1/A9wP2L+P9ebFhCPcGeFnUvZ03gGeEeIYVvhhWtZ0UM0zdHoUVb0Y1V1G8yKHuI0Hpw2jX9zWaDTQ8g0nvNNK3XBXZps8gxWj3gyjedm9HwqZ2kZiFK9nR4CrWl69iaZ89i6RjFmXMAR7zfLo0f0bRJCbQIsPOohrPzmB9a3P5eQpFE+iQ7c50QP0SqWR6+paqzwiEhHD9Hyui0m2/vctAUhwApCy5TDPzWHTzhAFUt56C4PCC1bSfPsKOdUXGaAlcUA6wIsEZyD5dVnYKXwNDRA8wAxVjVUhYHVmyCs3Hf+ANd15mjo4boG+KQ5cYkz2IL0il+2GRwlFRxnPAKrInUQ8ybmrxrA9jR09BBNtWEX2HLzgS6YRqvuNpAcMRsr6+evrB7xfmBJMobQSzlSr1nH7fLAmOHIUbC+fMlyxPtNPnwEfZuEUJsAS/+hmAWsUGjZhPzn6/LlmAHPTXn4PT44eru5pb77kRM99JtdUhP4moaW9lHjnalOmTpslwc07FraVC2rvscA6yYDrOsMsK4xwLrCAOsynFK1bq5Vg+C/oL6ECyv3M8YeBmHluvQHOM/G589SbNjLGWyBJhw/n0yf5gLLCy2XTEnfiiXFso1hUx6kMzPB9OQlAVY4aMXTIZRW7a17LGAFoJXSLWqpjWLqDE6XBwSWhgFZbdalEGAFoSVJ79IkwLaU2gRYTpURvv65jAOtH+mrokZw5BdfhwArCC3Mjm8pWUvFYVMefg/xtikp6L+SC62/GJhVNaE/O3O0+N1zARdaHaaAU960QIOzwQEzyh7CnPIHML/iPgOsuwyw7jDAih7ub3Y12Blg/a+Ag93zmoHUU8YeMJC6xdg1xrK8sHKeYMCmiD1tA3vEh5vGgxOm3XIVOR7SwKrqMybqUR7bLdMpDwgszcGTxLcVbhqPaPA4+jZxyVFYDOGm8aA/K5p0e/Zxujyg1V6+CvbsHApYXmipps+gb5MQahNgoaRnXjGQWhLcYf21FDTPotdqobO+YPQuFrRyM9aDW9eyXQxEO6+xoPWz8zyo/e51TBs/F8LPTnNZ0JLsiz7pN5oMr7M503gUJ+7Sy+LWhdpTDLCeM8B6xgDrGSyqfAJLqh7DSkFb+S3qoL7o//HC6glj9xhI3WTsCgOpC4yd/gMcxxg7xNje2HdZONiCnsaDE6Y9Gm8SrObUZRasKlIGgflN9Lw7bDFDT+MRDZscKK9BcHl3XV5oCdIzwPr1B3WX+KXZvpcFLWG3vmDP458licJ5iNjdIRRaiolTAjszzboNLGDhtGlnUctObmqs2gxYKOOPCqjeex9EBx+BpTT23Ui9y+Mt09lyHRSX3oLH18+9pWV4lw/i3ddBeuw+OETBViMoe7UCZEfvgXjPdTB+bL4cLHulFOSHb4J071UwfS+kL8etugYPnDVcYYD1DmaXv2OA9YYB1msGWK+gxm2ml7ee3Dqo+/lvXljhEfAyA6pzjJ1kIHWEsf1/gH03Y9uZXZZORD86ohrcHjL3ULX9COgu34U6Kj3B+j0P1PtPEWe7syoYOYsm9HMZbz+Cmu0HwXD9HkljCJX103cyiUd7/By4hM0XELK++wjavYdAf+ocuKVxvGcsFqi9dh20O3eD6c499jCOhgYyJgwnTGN/LY+S/0jclmpTYDVWGLVTP84mDviaO1+g3s52kpp+CUB8+CHIz79q9jytSMK8LYwaSg/dAXNe83UEdYiUoDr/mPSGt/xuegeIp9bXcEZ/H6aXfWGA9QXmVXyBhZWfILMq+ty8lla9+g54vvwbOPEISO2q7DsZ2/oH2DYytiaOXVZdHdQ+ewfqQ+fBcOcpZ1AERgxxrJjuwg1wiaSsa02R/ddv0B49C/pLN6Nmx4cKQWJ6+BR0h0+Q/yJwQ2XPzgXdkZNgvHIDPCq2vxcBZrx0FfTHToGjgN1MEHdT5vsPQH/4GBkVRvfRsn/9BobDR8F0/QbUafgLvNtS7Q5YuLsqnHwAvv73ImJ4JPw1ZAt4jN4EPNnp5yxnfHbnJSTBtCVlyi6D3NT5LGe87PgDelncMn7Kh7zOM5mj4JSAqS4+oZfFpau1L+CC4QUDrJ8MsH4ywPrJACuHAVZiVO57vqAf69/Yu6ptDKQ2MbaOsVV/gHVZbMDCN7t41ioo7TiIOQ56TTB0Bnj03lYvuku3Wc74irQhYPnc9N+D7lRWwBFPUh66DSKDWaMJd2nScdNDahB7gHTiTOYD2QtZ3cFjrPpDUY/+xLeFsn3PJkfE0JQH4/kscg1b2shGjfN2MPUdCZUzZpPpPyjt9p2s6KG0Tz9wVTTfh25zqt0BS3H5XQBWodAS7rlDupJ+/2sxC1hoef3iz+GJR78HrQ044gP29yxyTGy00OneZzHk/jWVmB9Y6NPCWYWNkanezgDrM2MfYXppIcwuK4J55UWwsKIQslSxH4daWu5nzNHw8b+R4599MwOp9UFQWTMZW8AcGR/yF6Wj9LeeQGmHQQRYodBS7ToGbqUaylOGsICFJsgYH9Xpzic8/lWm4AALdsoD+riiSXfyfAisgtDSn7sEzpLyQO1hqMkmeKfmYF8tOuUB2y27ZXLQHTgUaLnMmsZz7QY48n5xoodoqlnJqTnNovIVFxhILeZAq3DCXtA+z+VED/3mqvF+qja33HoTJ3roN+3jr/TymIWtk/2woqFleBO9J3k4vbKUw1VjLrHpzBtgdmkFzCurgIXlFVBha70SkWjyFG4C133maHjhfwZBtdgLKsscxmYyNi36Lku+fr8XWBS0hBMWkbQGOnroN4wgNlamJ6840UO/YX0in+TzlpLaQxpaysUrofbWfQIsDrQ69yBHQTp66IeW5eUbkhVPD7ZASKnXrCdDWenoIQJLkt4tmdbQHBLuve8DFhtaZUvPgSm3KgRYQWhhpwc8SraE0J/2M2V+WGjV/mj8URSjoXkdZoSFlrVQQC+PSVcNZYyVEpteImKAJWaAJWaAJQZ9M00ubi65bjLAuvZvYFvxn2CZzwBqNmMzGJv6B5gnMTY+OrDUR7MYWA3mQEuauRnsReUhwAqBVudBpKVyY2XLzgub8lD1/7P3Hm5Npe3+71+yr1N+5zq/39l7n3PNft93bNgdZyzjWMfeKyoWVKSKig0VC3bFXrD3XrDQew0khHRCIAkBktDBuc+6n5W1krWekIQaZvZ8r+u+ZnQtFqjJJ/dz1/HTqbiRWDUxhwmwxNAyHjwGjV9TeGC5Qks9eSY52qnG/uIWWi35hVATvssBMCG0LPGnwf7mnSB7yEFLP/vvwtE+UbOWOfaNDBVCizkGWguUpBexZMUJClqak95bfnqjyrPPqDot7Dd0N4u+O9LFJZJBgK7Akq2L7fGR5bZFxdtqiR4CS6tgY1kVbJZWQXsPn9lfak9aBq03GGhd/TfiTdlWMLaUsUU/gHU+Y3O9A6u9qgZk4xcIoRUwExpzisjfoXZ9BAWtmmMXxY/plhBK2hWbKWjVXrgmvpUSNkQrxgi38SjHToG2CiWBkm7Ragpa9TcSyddiIF5cp6VfF0S8pJbCYuZ4yHldDg/rp0nEM8P4WOXcBRS0cA/iYNSfDlgoe5kOJIFnIXtiFBSvOAn1mc513TjZAcsdcibtgoLfD5JMYW/B4U0ISsON91A8by/kT9oJqpgb0FHfve5+d/qjoxMMCS9A8nskFE3dDppDN7wubvWkW+Yqhxlgi9QIgRITbCw1weay7k2mGCi1JPxv0HLx36Bxx//iIWWdzdhMxqb/AH+0efeEWspVoN28G8onLwP1qhCwpztr/TrtjVB9+BxU/LYClPPWg/nKXa+Fy76os8EK1QdOgPLXhaBZGAh1tx/6fLxqLiiGysBtoJryO+g3bOOD6qjOWgsYY2JBPWUO6JasIdXv3IcXgrL++h3QLVwOmt9+B1NsHGmW5oTbd6oYgGmnzgTD5mBodVlx31FjBFP0HtBNnU7qs2xPB7bboTsa1MBq1pnBVqzx2l8oFh7/EGq4w9CdcBAgNku72zSDoLHmysnGHrHwfrtEDc0q98/1JIx1YblDR0PfxorazfVgzy9nQOb9uTdNtbzFaS2wrqQONkjqYFNpPbQNMg8L1XLu/4SWMwy0Tv0bNMz4ARp+Y+xXxqYwNukHaH3IZsG8CWuvmgpKocNMj+BBz6VFpoBWhYbUI3VHnQ02Mv3BXWwK67Raysp7VIOFCyuwLAKze2LhfkIMwLdr+q4E48+kQQmsDmszlG7CaQ5YCb8dMsZGgvmjb8WYDbkVkDNlN589LF5+jMzOQiGEJIGn+NhWzk/hUJfiHDeiPfMCMofiNNMg5r+bQHvyCX+tPr0U8n4OhcwfNxArXXPMt+p65k2gPXYfsoeysa2c4etBf7H3FeXo1WkO3nBmDwPWQM1Nz+NGbtTUO626AdYVN8D6EisEMWZs9c0DGEi13psPzSf+BzTH/e9gXfQfUP/zD1D/E2MTGBv3A9gDF4m/hFLtracgHTXHcSxkvItD53hvp6mwFCpmrCKBeDSsim93DNrzJnPCHVIZT6Y8BEwD08lLPPCasgtAOW0xlDNHQjTd2m18db03mU8nQMUoR//hqMlQe97Z1N+Ulkm8Ky57iFNMuW08/100KIEl33MPUv61gwcWWvqIUGjReU7n43Ew++coQTAeoVUaeIZcLw+7KsgcomWPCYE2Yz2Y3+YIZsRz23hMLzIImHLG7XBumnZAq3z7edFPQAtHLIuzh2i4pac3qrnznsoeonmqhr9usPF2rcoGawqtEFhkhY2MSaxsTc5gUmdZEjQd/r+hKfZ/QNPB/wPqxvwAdaMYG8lYAAOtyWPEXyKQPSMfSofPIsYBC82S+By+25tA/utyquRBExgmfgwl22dx4zQ7mqbh6VvSnqP4ZR6/ZZqDlj6Y7Tv1JGycFjdMo9neJ5FtPaqJ0wXBeIQWbuH576TBByzmUypjbBQBlhhaVXc993lZvhZT2UMCrSFbGejYIDNguyB7yJnxeQaU77xMLbZAkwVfAPObbBdYOaGVNSwIvrd6fqPLguKp7CGaIrJ3yyKkqw9S2UM07cHr4lt5Xa20saazwRWtDXZLrbAu3wobCqxwWun9SOkPNe37fxj7n9AU839B3bAfwDLEYT8y0Bo9XHy7QIZD53lguUJLvSYM7Ol5VPaQg1ZHreepClXRR6imaQRW5ZYosCWlMID61QVYDmiNnEpV2YtVFbIb3E15qI6IYWD2jsoeckH5P0TV8H9lDXpguULLK7C+cMASQWtIsAhYQmixwLpCLbYQAgs9LiG0fAWWu5KH3gPrkNuSB0/Auqyxsaa2QQKaivGy8hgvi7GNeT4cb/2gxt3/ydi/Q2P0/4SGWf8Blh9+4K1h9mzx7QKJgcVBywksuuSBBZbnY5Z7YE0TAUsErW4ASwwtV2CJoaUcO/VvYPlb3JHQ1Xw+Ek7cRUFLIjgSCksecHqp80hIb+NxHglDKGiVb/M+yN/IHAnFJQ99dyQUljygWTOcMTmxEFAJShtcUtjgYgVjchtsymW8rGwrrM8epMCK/P8YY6AVyUAr8n9B7X/+wNr/+wM0nYgX3y4QeyScTUHLeSRcQUFL7dORMI2CFVq940hY8ct8Clr64F3ix1AiRacuUx44aHFHQuXEGRS0aqIGfquRPzUogYVBd8mmBB5W6HGZPwqbObsSCbpPxqA7C62i5cddgu52Bl6neWBl/xQBdSnOtDEbdN/KwmqosH6LDbqH8dAqXXO8G0H3B/w2npzhG0B/0fNuO1/EBd05aOUFrIXqm+zI5q6EgLpYboMLMhuclzJWaoNzEsbLymC8LMbU9t6n9Pta9sgfwR7xT8Z+YOw/wfzv/8XYD8T+8GFbMgbdy0bN5WGFXpcg6D59NQ8t1YrtPQi6TyPbpY2ioLti2hIeWtq127sVdJePcszTYv5be945shlH1GC5Awetv4Pug0z9W9ag7aKsoZFUzHdd1qCBZlX3WzfYsgZ5P5Y1eK/POl/mhNS5EhucLbLBmQIbbElnvKxUK2xI9QHAAyx75E+MjWRgNZSAy/wfQxhY/Yuxf4pv7VJY8uGxrEHau7IGrpnaVWxZgxzaVFrxJa9yljXQ/x5Y1tBSKoO2v8saBlYd9haoiH0KWVMOQM7MI6A5/97noj2EUUngecj6KRqKVpyC+gxnEZxHff8DDHe/QcH8w8zRMQIqom9Bm9n5osDtO5I18cy1cJCsPgnWvAqXL+5a6O1U3fgARXP3Qd4voaCMueVz4WibqR4UUZch/+ftULIgBowPvvBvHPz7qEp4CSVzoqBwSgjjUd0SgKkhrRikKw5A4S9bQR50DJrKPb85CKSKGStkQXU6zwancmwQn8F4WV8YaCVZu/ue7XfZI+cwNpWx8QRctf81koHVMMaGim/tWzF/ETiORrVkC8gnLyXjln31ktjC0XhQ/LoYVAvXg+WWS+Eo8xqsS3wC6kXrQTFlAdTsO9YnXhIWjtZdTwTtwlWgnjYPTIeOiQpHc0G/dhNopswGw6bt0Cp1TmPAwlFjdAwpKtUvWw22p70vu+kv+QdYzIuheP0lSP5XqMN2EpMf8N4OgK05aSPDBdnD1CE7wJrvfTFD5dWPwuwhcywsmHuIeGSNcj3pOXQNxmcOD4ZGqfdPMt3Z54LsIVrJ0livFfbosRXPjqZKHqpvfyDXtUfvUostpGuPkBe9NbsMcoaugdwhq1ljjob5YzeSpumudKusEc7kM6DKZUCVzYAq3QYnU21w/IsNYj/YYPUbK2x7R3+q+1P2yNWMLWBsBtgif4a6qRMZWI1nbLT41j6VJfEZlT3EanhvfYYIDs2KYEH2EM18ni1yrb18R5g9ZEy7dGOvA+e1py+KMogTGUBtdrTmlIBylLBpGkfRcK05urmLBQ3TaDjkbzDKL8Cyl+ldYOUCrSGhxPPyJGXccyp7iCbdcU18K6WsCZHC7KEDWpbPRaDYl0hlD9Eqom+KHyMQQil75FZRBpGFVkNmmfh2gWo/5FDZQ7SCySEEZjnD1lOLLdDsxUqQb41n/n81MVdoVZ7ueu1Ttb0TTmWxHhUB1VcbxH20wZE3DLCe2mAzY6ueWMFHR7f/xYDZFrmNsUDGFjM2BxrWTAPTv0+Fhg39OzKI1Gi5KXmwfvScqW7MyqeC8WQbz7hZBEoVP/0uzB46oNWY2vM5XHisVYydIgIWC63m/EKoDttN/l88mgbna9nevKcaptF0s+eLv82gkF+AVfu1FL79UwwsFlpNKs8TQqU7b7gteShcclJ8q0CdzW2QNmSbIHvImeHeNygLOi/IHnKGlfGe1G6xUdlDDlqmF+ni2wUyMJ6UOHuIhqBqUVU7fy2CVt2nXJAs3OsAmBBaql2XxN9GIATViW82OJZkg6NvbXD4uQ0OPbLBgUQb7LvOeFl3rbA6kY7f+UOtb1MYSO1mbAdjGxhbBrbwuQyw+vfNhAAoC5jttuTBcsdzI33Dq49ugMVCq1Wrp7KHHLQannruUvCkDqOJyh5yZn+fBJWrNhJgiaFVE7kX6m/ccTvlQT32Z5/7HwdSfgFWq7EBkodGUNDKmLDX6zFKf+srVfKAwFIe8e7CFiw4ymcPXYGFAXgdmVQqLHlA0571ntErmL6bhtbQIGhWug/6c7IVKtyWPJQuO0i8i4JJIRS0cocHQquhlsSzOI/LFVrGe5/E30agM8l2iHvPeFUvGa/qiQ0O3rPB/ps2iLlsgz3nbBAdz3hZ12zwNItOSAy07PuuMpA6ythexnYytpGxlQyw+n+ji2rFDqrkAY0sYfWgVpXW7TYe5ezV5LpqQSANrQAGZnLvIQ1PUs9cRENr1CQywM98/AwPLFdoNSQ+gObcAmrKA5ohcJP4WwwK+QVYqMpbyfDtX2E8tFKGR4A5qesaIk4YbypcfkoArJyZsdDuGJHsSbZCFWSODhNASxXHgg4zkUULjwigVTjvIHQ2ej6iohqyZJA9apsAWrpzvgUu1YeE23jyxgdDo0RNrtUnF0HOSOE2HsN19pMYs47FM8IF0JKuifUaC6lv/A6HmaPfoQeMV3Wb8aquMqA6b4Pdp2ywK84GkYdsEB7DQOusDeps/o3A26KuMXbOAa0YxkIZ2wTNd3u+79FXNZfKQTZxkQBa1Ue8t2KhTBeE23jk4+dAUzbbC9uUXwzyCXME0DKdcfYL9lRNGdmgGD9NAK26K7fINWyi1s5bJoCWfk0Q8SRRpoNHBdBST54BreVy18cPGvkNWChrkRZUp9+CNuETNCl9q39BoRdW8zIHVMdfgOFhOjnu+apWQx3obySB+sQzwVga1B/tnVDzNJ1dbvEkjYGj5yp2V+F45qpr70Eb/5RMe+iOcLO09sRDckRsqxG2hTSrq6HqymuykcdeKBzc19nUAsaHn0F34j7Uvk736p1y4o5/ey8xoDrNgOo4A6pYG0Tss0HYLhvsDLVByDYrBDK/9tdcv05FHQOre4xdZ6EVFcfAah+B1kCpvcYMtXeeQU38VVIZ3x1huQNu4sG58eLFrFjrhZlD0+kr0JTjW1O/L2rX6aHuxl2oPZtAxtS46ntLC1ifvCDLLWyv31PDBJvSMphr56Dh7gPo+HsJhXvVZcpBcfQFKE+8IoF4V7VUWUBz4T1UxD4B49uCbtXI1KWUgfLoU1DHv4SmCs/HMlch+LDsQRGTCIbEr1T9l+VzIaiOPCQFpljL5avQSzPc+QTKfbeg+v4Xqp0Hg+/qI3eh8sJzaKnsOsvXV6qu/Q57zjDHvxM2iDrMgGo/41VF2yA0nAHVdivs2GyFbYFW2LrCCpuWNoCXxFi/yLb7AwOpZw5oOTytqGPQdJPNoPoq9Dgtj99B1cFzYL71lBrDg9Xw1cevQM3pG9BSoRZc8ySss6p7+AoMB0+D5e4zas2XPTmTDAM0nbtOjol9JfvnZDDGnYXai9ehTSd8z3gSrvmqv/OAlDs0PHpGrfmyf0gi68PqEq5Bh6H7dYYDJb8BS3PpE3McxCMha8lDwsH4mt0sYi3WQtroXc7sIWNlYbdFT3Av1cmXguxh2rCdUPul6wkGnDrtLZA/+4Age5g/cx9p90HhZmnXYHxWwDaoz/Acz0BhdX3Bb9GC7GHRvH3EO0Ipdl9jjoNYBc9azujNYMvvnofWE+07aYfIAwyodjOgimC8qhAGVFsYUK23QvBqK2xZysBqnhU2zrTC+qkDW+rwR/t3sO1KYgD1VgQt345knHCRqmL5TpAM/91hc0A2bQ20m9gCUuPFROb3sHWHtbKRc8H60ftxE3sClQs3CbKHitlroLOe/XuqOXGJTC91buOZCfbUbNFTui/cgSjYxjN+OjTlevfQOi11oJm5yCUYPxF0S9eRIlQUTnxwDcarf/oVWkp6Pt67P+UXYOGq+uQfIwXAQksbs5sUSxYsO0NlD9Hq0j2vHsIMY8qPIVTJQ/Yve7x6aNpzr6nsIUJLE/+cFKqKs4doBTO9j/bQxD2ksodo+oTXYM2TM5DaIAAWWsmi/eLH9LkwARQWyYBqpxVCgq2wfSMDqrWMV7XcCpsXWCFojhU2/MbAapIVkh77fuTuC9ljchlgpTD2mbF3PLS+13hvxXGVOfGlC6yc0NLvPwtt+hqQBOCvZwugJZu0nCQ8PMl8+R6VPUSrOZEArYyXJg3AX4u28czwvjXHk1qKywQz4jnTLPKegDAdiXeBlRNa9bfuQlNmjiAQz5l+zUbxYwaF/AIs89dS+PrPcAZSaEJoNVZUkwyiu5IH3ZUk8aMEMr7Jo7KHnCEkPak06AKVPUTD3sOax6kuwXghtDq8tMRIVh4TAYuFliz4HBhuf4RMAiwRtIZtYLyD/g8eJX1qhR2bGK9qHQOqlYxXtZjxquYyXtUMBlZTrBA40QpRi3yr2O8rdWqbwLoLgZUpgFbjUc/ZT3fSRcdDyfC5FLQUi7eBNSmdwIs1IbTaKj0fiXQ7DlDZQzJLa20oNLz8CNRiC4e5a+HxVfUPnlOLLYiNnELiU56kW7nRbclDdcReqLt+hw/EuwJLNWbS32UNnOzlBgIsMbSSf4wgcaOsaYf57KGrGd94XkZpzVe5LXnASQ8YUPckxf77guwhZxV77kB9WpkLsJzQyh4f6tVzq4i6JsgecqY+ch9qP+YRYImhVTDF+8SAvlLMTjtsWcaAaj7jVc1mQDWN9arWjbfCmoCBPQqirLuKGStwQCuLsVQCrZ6o5lwiAZYYWtodsdBcWuECLCe0sFEa41OeVB13yW3JQ9XuY2TBhXixBTkWjp/bKwDYkzOoxRYILOVU7zVpOJ6GKnlgDKvjbe8+8cByhZZ2zmLxYwaF/AIsVPHmGxS0FHFszZPhSTYBliu0cmbHUcFqSowrX7z2HAUtzTnPUwxQzWojZIwIEUArI2AHCdpj9q142TEKWvrrH8WPoYStPVnDtwiglT0qmGQVsUQD41liaNU8/Cp+TL9qy3wb8arWO7yqtWOtsHr4wPcVNuyrYEBVxlgJY4WM5RFo/dHZsx+kvaYWyiYuF0IrYC40FcnIB416cwwFrZoznjsbUJj1k42bL4CWdPRsaJEpyWsQPS0xtMxX74kf0y390dEBmmVBFLTq73mvP8RmaRy37AotnF7aYahh4NwK2gUrKGjZnr8WP2ZQyG/A+t7SDsr4t5Az9yTkLjgFlTeSSRMxJ8wMFiw/C9kzj0L5ngfQZvHtaIIemjLuGeT9fhQKFp+AqnupXmMSnBpleijbmgC5v+2Dsi2XwF7qzO502JpBeegB2cRTtCSOlD34KnuJGqRBZ0jwHWdoNVU4szvYJK3cdxsKf98LkhVHwPw60+UrB07oVQVOYGA1ioHVUCs0N/r2d9ZXakgwQN0uOdTvkjGgkjImYawI/mjuuVeCatXoQRsWB+Wzg0AVFAON+c5g8vfmFqg+dR0qFgaDYlkI1N596fNrpbVCA7qQg1Axax1ot+yBZokzvoqztjBDqFy4kcyJr3v8xqsn7os6rTaoiT0FmgVrmWPeFjJS2Vfh9p2qLWGgmbMEDGF7BMsxMChvPHAUtPNXkP5DzBgOVvkNWF7FvHDw6GhJk/GZOl+FZQT1WXIGODrqKIhQtEv1UJ8uIxAaDMI4GM7bapTpBNAeaK0bbYVVQ6yQ/6X/42euqr1hAmOUCmp3KRloVTDQKifQ6i2sOKGnZUsvgFZtlfgSyfg15hSTIyJXSOm8+J2sCcPSB9y801fCGijc1IN9hwi37ui7vREaM/Oglfl68RHzj/YOsqmnKSefKrNAYZ0WFpjidAaxcLIDXmuV43OFcMW/l1ZJGTTnFZBmaX9qUAILq9YLV13gY1upI3dBzUvnPjlPqmNAlDFhN38czJ9/DFoq2bEgbSYrFC6L5wPxGWNwG0+B6AkDq9p3OZAzBqvk2eyhZNVR0p/oL53aQr/Q+1O6U0bQRenAEKlhoKUGiwNaPT0GilVz8T5zDFzAHwsxEI+ZaFRjdjHIJq9yxLbmQMWCLdCmZev2MECuWhPOB+Kl4xdBw3vPjc++qN1oZryuYD62Jf95Pti/eu455WRLSoaKidg87djGs3orP+OrXW8A7dL1fDBeOWUeyQASMWCriTkK/GKLUZOg9txl53PffADVhN8csa2JoF8fzK8Ya1MznuT85XxsSzPtd9JQ7S8NSmBJI+5R2cPkYRFeG6MRdOnjoiH5X1jawJY3oBWtZEcklwZfpbKH6QFh0GqgB7sNhDCOlR2A8S1hyYM81HMD819FpdE1UB5pAHWUHioZaFVHaaH2iO/FkN5k/ZYDJcPmsTYcjYWW6foTUkAqnbxSEIxHaClXsJX0uvA4PhDP12mNnu81g+hNuuA9VPZQPuF3MgLZk9oNRpCPmylomEarCtlLrusCt1MlD4pf5pDZXHWJj0C82ALN/vkbAyQtWWQhLnmo2X2Qfe7SdVTJg2baHLce3EBo8AGLcUdTRu0RZA85099JEd8tkPlziaNmK4SCFjZcpw4PFWQPOat56p+4Uc2Db1T2EIGVPXKLz202f0bVZLRCTrgZiiKMUBZZAxUMtDRRVdBe7SWp0k1V7r8AxRywXKClWB0BttQ8KnvIQQtbcsrGLuQD8a7QsjzynsDpSlh+IB05U5A95Kzhjee4UcPzd8KGaQe05GN+Y7ysWip7yJn9aypUbtgB4sUWaDUxh6H+3mMqe8gG5Znn6qsFgXhXw03S/tDgA9Yff0DquBiq5AGt6r5n19mSXOYAlghaP4YQ7yttRJgge8gBy/iy91XIPZHxSaoge8hZzphgKo7wV1BH8x/wNbwe0iIskB1ugYIIM0giTVCV2D/lE/rYBAIsMbSUgdFgzyx0W/KA1mFpgLLxix3AEkKr7ln3WoNchZX3stGzBNlDzqzvv4lvF6jh9SdBwzRn8rEziBclD5jqFlqNqZmg3xxGgCWGlvEgtuk8J8ASQ0s1aRZ01Jh4YImhhfEsf2jwAYtR+YFnVMlD6shoaKnyvC8Oh/9lTtpHQUuyiT2vy6ISBcBCyxwXBW21/okZ4baenDHbKWjhiOW/ktKutMDrMBt8CLfCl3DG042oh8yIOqh807/HCnuOBIqHL6CgVfvwHckQyqavp6ClDmKPWFgNLy55KJuwGNqNvo1J7kr6yCMuwGKhJZ+8iGzb8STclSj/GRe0CqFVvecoua7ftosqeVD9togE6Ruev3EATAitpsxc0oitnDCdghZWx5Pnrg+moKWds4hv6xloDUpgYWlCacgdHlrpP+0HS4pUfJtb2Yq1kP1bLA+tonUX+LntmG0s3XqFh1XW5Bioz+7/vj1Pwn7EvEkRPLTKd1yETrt/MzHe9OVOO3y7395lpj6VuXZnZzPcC22GR6FN8Iyx12GN8D7cDpnHvY8B6kvVPnwPkjFLWWiNmA/V8Td577VZqoTyOZt4aKkCd/F9hp32JtDuPMwDS/brasYr671Xgd6QbtteHlgVM1aSyQ6+CCc7KH5bykNLv2MPKXVAddRaoHJjKA8t9ZwV0CJxvGeYfyjzuSsgHzWVBda436D+gXMQYWNaFqimzuWhVR0Zw+9QxIyift0WHlhY+tBa7tuug/7QoAQWp3ZLIylt6Ek8p1FR3WU7DgKsUV7l1xICV+HP0VRe6dfsYG/UznzYfk1sg/v7W+FWeAvcCmuBR3tbIeV6OzTWd0G1ARTOYW8uVxMIuVOrivm7r3Y/JQOPhy1ydZ+/VjC7h32H3T76Mz9Ha4WKAMqd8BjXpnTWWLkKA+Wt5Qq33hGWWmBJQ1cLMdoN1SRj6G8NamD1RG1mG0jD70D62GhyPFSfeUsqylEIPt2VT5A9dT+kj44kWcMWg/OYWZ9RDoWLj5MJDwWLjkNdqnMaQ2tNPUh3XCUDAHOm7AXdpXd8ehz/qz3/hvn93ZA1NpQsbG0zOV38um8lULTwMGQMD4bipXFgzXEWGbbqa0G69Txkjd5GCktx+05fvzn+lnt11FmhcvcpUg0vnboGqs/eJnEmFP4bmG89g/KZG6Bs/CLQbDsIbVXOkUKNucWgWrGTtPIol2wHW7IzDtrBeGn6iCMg+2kRyKetAtPFRJ83QnkSZgr1IfvIAEDFjOVguX6fn2uFtVLm89dBOW0xVPz8O1Tviu0Sat0Rwg1beNS/Mh7oLzPBGHOYL3nwh/5SwMIXRf6ieL6dhzsW4joxFM7XEmcPcVopVt1jkWnq0J2C7GHakBCwFakJ8PLmxDK/tw3S/hXMm+Y020qEA//EUx4KF+D0z06yKix9qLBpOnNEMDSW68nRN/+33Y4t00HE8Giov/LO9Y/1t/pBCCTFykiq5EF/6AK5brr2SBSMnwPls9aToxJ6XKWj5/GBeGIBc5ijnYQUbyoWBwMubWVbd1jDIYC9EXqJqrlrBTPi0WoT2LFLxrhzguwh2cazfBNp6emNjPuOCILxpE4rcGv3PcM+0l8KWPXZChdYOaGVMiyc9CGmj9vNB+JdoYVbpeV77lHZQ7TyqNtg+SYhsOKMAxZ6WziVNCMAexDp0TT16WVQHnpV0DDNmfLgPTC/zXHAijMWWrhh+m/1rxoLpVT2kEArYB4JyEsnrxYBi4VWw7tkqIq9wAfiXaFVGX6UVMVzW6ZdoSUdM7dXXpYtKZWaE4/AwkA89gPKR88QZA85aPkyL6srfbfZoWLkLyJgsdBqLRVO6x0o/aWAhf2H7qY8kG08WjNZI0aVPDCAwn5DyaYEQfaQA1bJ+vNQ/SRDACweWj9uI9up3U15QDO9zIKS1ScFDdOcSbdfAsPtzyJgsdDKHLaZain6W32rhqRMKnvIQQtbeCQj2ep4MbRqE1+AdmesA1hCaKnXRUL9q88CYLlCixvw1xPVPXzpBliMjZxGJo+Ks4cctGzvv4gf5bNwu7Q4e8hZY2qG+PYB0V8KWC16C5lcKoZW9rRYcj1/CR4XRXVaP+4kvYUY2xKXPCCwtBfeQZOimixrFUOrYP4R9rmzD1HQSh/KwExjBO3pFy7AckKr6uYnsJdoGEBtpqCFM7T+Vv8K+wtLRi2moCX7bT3JqinXRFElD2jNEjmYbz93AZYTWsazt6CNgV1pwO8UtBTzgsQ/QreEvYeyAHobDy5tRSlnr6SgJR/1G7RX9aIynzk2q6bNp6ClHDsVOvsgPtYT/aWAhaq8mQzffsRCUxZWaaOjoT5HQa7ZyyohffweAbTUZ9nKZTwyFq44LQBWwZKT/IIL3aX3Dq+LhVXm+EiwFbNZE9w6nTk23AmtIcFkyzSKbONZJNzGU7LmJJ8I0MQ/E0Ar9+dwEt/6W/0v8703UDJiIQ+t0nHLwJ5ZRK5hnAqPha7QqjnNjp7BALcqMEoALcXS7XwpgPn6YygdMYeHlXTiYmgq9D5O25vE23gqJi2EFilbYtCUVwRysqTVAa2Rv0LdHe+b1L0JSx4UE37joaUcPRmsT7yvvusv/eWAhbKVVoLu+lfQJ6ZSpQ04pgaPgLprn6EhXyW4hllE0/sC0F76AKa3+VQ5BQbgK68lgeFeCl/bxQmLQA13k0F//RPYSoTpX4xdmN7kQOWlt1D7qYDKAmJgXn/1A1Tf/0ZmwP+tgVOzVAWmWy8YeL2GNoOwtKGDOcLVPnxLeg9dx9Kg8N8Qp5aaLj+A+nffqPgUjpsx33wClgevel1s6qqmwlKyiQePiOIJpu01Jqi7/5xs5Gkp67v6QmysxhaeujsP/FqDhfIrsExJpSDd+wTksS+hPlcIj0alESqOvYayqAdgeJJDvcl7qsbyKlDGvQDZrrtkVZhr9SOOm9EmfABZ1B3QXnwPHdbBXcDZXmsF3bnnZKpp1Y338L0b6848CVeNVZ55DMpdCVBz54Ng3Rm+MY33k0AVnQCVpx5Ca5Xnpl1XtTH36k/dB3X0BTA9+Ch4k+P3MCa+Za6dh6oz95k3n+9HjlatAapO3gZt9FmofZpErbDypIZPGVC5j/mecdegsUBYnNyi0ILh5HWo3HMa6l4k+S0z1hfC+irzxRtg2HMELDfv897gn01+A5Yi/gN8/mc0Y7uIfflXNAETqj5PDd+G74Ev/4zkrXjLTQFceiJLqgxShnHz4tljIdZsodobmiBr2kE+EI+WPWUftPs4OHCghdufcyeG8g3T3Dae3kKrRV0N+eO3ODZNs0taS5fsIzPm0ePEZa24YZrY0NWQP3YjNJV7X2OF9xSMDYT8oSscthzkaw+QZ2IpgGxpNPN7y3grnrAOWjTeV7Q1FpVD8ZiVUDhsMWOLiKm2xPr0WjGcuMkcBec7bcQCqHv9lVyzZxeDZNQiQckDDgL8MwonQSimLhJkDzXz1vwpoeUXYLXo6xhA7XYAywmt5FHMG669E3IWnmUgFeUwJ7RqU3qXSs2ZeVQQjOeg1ZCnBNWp185AvAu0lHHPxY8ZFFLsviFqmmahhZ5Wb1QRct4BK85YaBkffiHLWnHDNJortORB3pME8qCjkMeACs0VWpbXqWB+lET+3xVYaKqdbD+bJ8lX7XbAijMWWg1fPDe0o1dWPBzjV9hr6IRW6U8riTcvX7idyh6i2bPYGNefSTUH46nsIZrlaqL41kEvvwDL/EUKn/8RzZoIWvaKavg6JNoFWE5oaa58ET/KZ3U2tVHZQw5a+rspULIxwQEwIbRwRvxgVNH8AyJgsdCqiLwivrVbKpoeAdlD1lHQ0hy8STZMswATQqvwl63ix1Aq+nHmfYcAAEiQSURBVGUTDyxXaOlPJoL24DUHsITQkszYLn4MpaLRnHclhFb1pYfiWwWqZ46CRQRWnDmh1aquZGCG/0+XPGCG8M8m7YqtguwhB62q8P5fJ9fX8guwGitqnMBygdaXIbtJVi5zxgkRsFhoGd/37tMt4+f9bqGFY2kqDj3hPS5XaMlj7osfMyhUvuMS3zDtapXnXohv7ZZkG08QYImhVX39LeNlfeY9LldoSVccED+GkmzlfgGwOGiZHiZBzY1XLsByQqsi6LD4MZRkC8IYQC2hoGV57Xk6KAbbEVhiaGGpA2YBpdODCLDE0LJ+yRI/atCrKirWmT10gZbpTO8+3PwhvwALVbLjLgUt5Wm2FKDmdSEDqF0CYGXPO02Oi72R4VEmAZYrtAqWnyFHAByjnDY6SgCt1JER0Kxx3xTrb9lLNdQ2HoxpYSC+N7LllUPOsPUCaBVO2Qkd1kayrbp4RrgQWkPXQENasfgxlBrSiiBv2CoBsEpmhsB35pmdzLNLpm4VQKtg+Aqw53uf0FH/KdMBLCe0ZPN38j2BnqTefpSCVo3DM6t7+cXhcTmhpVgWRmUD/wxqlSuhfAxWwjuhpfhlHnSY+i57OVDyG7DwH16d8BVyFl2AvJWXQf8wWxAoNX+TQlHQDciZfwbkR15Bh83zskhfZfpQBMXrEyB3wUlQnXxN6qQ4NalNJAifO/cYlIXdhials9l1MAqhVR6SAEXzDpCYFgbi+0L2QgXIt5+Fkvl7QRVzA9pMzvR5u8XKHA9vgWTBHpBvOw22HO9Q4WTLKQPF9ngoWxgF2kPXybM4tZvqQLvvMpQtiATl9pPQWOR7Wt6aVgjK4KMgWxQB+rjrDAB9S5SgJ1Vz+THIl0eAInAvWJ4Jp36iN6XafADkS3aC4eSNLqc9/BmEhadV4QdBvWgDGPYc7V1BqR/lN2ChsGzA/FUGlvQK6Gzx/onoq9rrm8D8pRTqsir4Ak1fhZAyvS8kG6jFwvEvtV9KoCFHQT0Xf42ztfB6dzOLONmhNqkQrPmKbn+CN8oqofZ9LrRo6Xn3WJ5g+ZQPtkJln5WFoBCMlo850Fii7NNUf6veCHUfs6CpVFji4k34Z0PANSRld6scAoVws37LBVtmEXz3skC1O+qoawDbtyyykUe8jQd/3ZhXAravmVQtFapVoQHrxxRoVenElzzqj7Y2aMwuBPu3DDJ3qzvCTKLtcwo0F0m6VRYy0PIbsGrTKuDb2FhI+sduciRMn3oc7DLvaWxvMidJIGX0Xvj6zwhiWdOPel1eQcS88XD/oWv2ECeUcm9I49t8SB8VyWcP834/wm/jadaaIG8WTnNwbOMZHQHmD74Ne6t5lkEWtnIN01gVj0Wo3oSAlAVf5BumM4dsAs1xZ2Vz9b0vzJFxM589xJ2H7XW9n7dluP4GcocH8sdC6ZrD0GnrvedRdf4x5A9f6QjGL4eKoCPwvZme2yQWjogpX7EbCpgjIVrRyOVgvu9bptSakgeSn1YzR8KFxKSzNkOLonuQcKeGj2lQNn6Jo51nDsjnbeK38bTpq8l2Huc2noXQ8M4xHpl5rel3nxBMeajaf9qnD4U2dSUofl/Lj1yWT5zHANHzSHFO9U9eg3zMdD57qF2xuU9G0/SH/AIsPN4lO2DFGUIrc9Yp8a3dElaxp4zCefAsrDjLW8JuzfEkw+NMUTCehVbV3VTGo6iD1ACs3xKWPBQHnidfi1t5uN5DHlqjwgUzsdwJt02nD98uaJhGaEm3ed+aU3npjaBhmhtNgx4V2TY9dJMge0gyiLuuiR/TLdkKKiBnqGswnoUWHhF7I2tGMZU9RGjpT94V30pJE30eCoYuYY2D1ohl0CxTi28VqLPBLoAVZ+WL2a05PRVOLGXnwQunPKjWRpLr6o17+N5DfhvP2AVkgCBWxYsbptHqnnoHsHrldsGMeAKtn+a69eBc1apQk55DccmDIcJ7IsUf8guw0LtK+sceAbA4aDVX9pzspk8SBlCRDhNCy9sxTRJ8XQQsFlolmy5DzYscPhAvgNaQEDLYD5dcuDZMc2Z6myf+NgIZ7ie7nfKQyXhc3o6GJcuOipqmWWgp996CqqvvqewhAitnvPcyAU+qPPuUyh4isIp+3Sm+tVvSxd2msodoZXPDxbdSKv4pkIHVUgpaxuueyw+syXkMoBZRwEJrN/b8NVj/LoVqmCY24ncCM0kACzAxtHDKg3ZrjKBhmgMWbpj2pE7m+OlusQWa7XOq+HaB6hKfUNlDBFbF+Fk+eXYDLb8Aqz5P4wAWDS2cGNpTYWEplj9Q0PoxEjobPR8vysLvuC15KN1xE0wfCnmPyxVauDask/EWcfCfa9M0ByyMZ3lSzdMMasoDAdbYMK+V2qVr40XAYqGlOnwfqhM/C7KHnOVN9g4AT6q6/MptyUPJbNZ76Kn0Zx66LXmQLd0jvpWSZOpmB7CE0DLd8zwE0ZZd4gCWCFrDFxHvq6eyfs1yO+WhdOR8sguxdPR8B7CE0LJ+TAVd2BEBsDho6Xd5rrDH0cfSkTPcQsue5nkdV/3j14LsIWeKyfPEtw4K+QVYGH/JmHGKglb+uuviW7slzPhlTD1KQUuyzfuRpfZbGVXygGZOKiHLKzJ/jqGgRWJcjKRhNwXAQsuevBc67Z4zm9hAnTU+goKW8tAD8a2Uap6kATWaZuhm5timIIth3W3j0cY/ET+mW8K2ndyRQRS0qi73rnu/SaaB/BGrKWgZEz1DB6U/dc8FWCy0isaugTaD5x7H7y1tUDZrKwUtVbD32i9PwkyidNo6Clq6yOPkeuWeeBdgsdCSTV3FBv+/ZDg8LiG07Cmeq/ZRlaEHXYDFQksxc5XX9hsMtssnzqWgZTxxUXzroJBfgIVqVJoga/55HloF62/0yrvihEsrsuac5KFVsvUmyRr6Iv29NEgZEUWglToiEvS3ncWHthItZM84zEOrbOdNslYMhUAr236Nh1XurMNklI0vwsxg7rQYHlry6Nv8SBuPYjww3cU3kDk8mMAqe2wImF45ixobMqWQPyWSh5bqQKKgibmnqk8ugvxfdrDQGhYI2ri7Xo+vvqjuUzYU/hTEelfDV4H+9H2fjiT4Z9IevMoDCz0uW6Znz5YTBthlC0N5aGEPIi6d6K1wG4983hZnD+LOI3ypBQKN3SrNAks+ZyOZscUJBwSWjZnPeldj54PlwWv+midhVrAyZD8PLOXCjdAi9y3b2pRbRGbEc9Cq3n/C7aKKwSC/AYtTq9EG7T2ciuApVd9qtHqcttDV12IzLg4C7OpNiDErDlRi4bSHlmrPuxO7UivzdZ2N7p+L6urnRW8VV9539eZGb8u11kysrp6L8nStpdLYdRYPj7MejrSentuqN3VZXuDp63CssSevytPXthlrfa7dEsvjc6tNDKDcrzVDcOEQQXfC1x4uvOhJeUGnzU4253QpDz8v1mZ588j8Lb8Bq9Vkg6Jt9+DLsP3wdSTjzsY8J/1+vqg2TQ6Zs+NJ72HG1Dioee1bCQG+EJTx7yB13D74NiQKCtcmQJOm6xe5r8Lhf9gknTE2isS1SjZegpaqngduOSFoFMzxEGNaGIiXbr0oKHkwPs+A3KnRZIJp4byDxKvyRbj3ULHnJtkwnT1yC8hDLwkq5GsefmW8szDIGrIeShbtJ9lBTo0SNZQuPwTZQwOhgPG0qm9/4OHU0dAIysgEyBsTREwZeYn8HhFzT83t91D4SzDkDlsD0hX7odHHeqv22gZQhZ6BwtHroHDsOtDEJPi8u9GWVQLShWEkrlX62xawvHRuWMbgump7HBSNXg4lE1aDPvYKAZ8vwpKI8rnBpBpeOiMI6j84g9ttVUZQb9kPktELyUYew/FrXUK4r4RLKqrjLkL5zwtBNuZ3svsQ52Nxanj7mRwR8aioWrAeGjNy+WtY96UNDAXZyN+gYtICqL18xyPY/Cm/AAu9mOzFCfDpH3uJccfCklDPDasom9QAX4buFY6mYaw22fskB4SVOHuY+ethrwF5b6o49JgPxPPHwtmHCch6IzweiksesE4LwWv5XCSYEY+WFbANmiqqxI+hhMtaxSUPklVHiZdmfpVBQOVqOaM3M16ckRSi5o0P5mNYnOEkBwRSedAJquShPOg4ucb2IQqnPBRM2MQ80wvYmZ9JtprtQ3QteVCGeJ/k0KKohMKRKwTZQ2zhafiSQ/4Oy5dEChqm0XR7zokfQ6lJUgElIxYJGqZxw7Qts5CASc6ATDzloepIgvgxfSrDgdNQNmIGManDVIs2kSJVe2qOIBCPVj56Bql+72ywgWLaUsFiC7KN56r3khJ/yC/Aaiiu5GElgNY/90B7g+dPzvJDr9xOeSje7CWwzrxpUkZjjRZd8mDqRVM1LotIGR4uyB5y0LKklIlv91l4PEwbuk0ALA5aGPcq3XhWMCOeM81xz4H1drOVyh5y0GqU6UCy8igDqQ0UtCovPAfDzfcMoAId5gRWyYK9BGji7CEHLbyGrTziKQ8Ireqb7IjqroQBeXH2kINWu9lzjZH+xB0qe4im3BQLjQUyqmGaQGvEYubv3vNrsPLARUHDNGea0GNgS82nGqZJ8J3xtnDuV38IvSvpyNlQNpwFliu0sPK9cnsMH4h3tZq489Dw8gM1Jx6BhRAbjPILsMzJcgpYHLSaNO7P9ZwkO+9TUx4QWLnLPGc1sPXn649RguwhZ1X3e74BpL2+kcoectAy4kTTHgqPlOLsIWfoXQnnxDuBVRHNzh3vSuiBibOHHLQaMsugcNZuyCTAEkJLHZsIulOPmf/ngOWEVsGkELAXKfhfi6GF1wonbXcATAitytOevWprpoTKHnLQalZ4Tmxodl9wW/IgYzwr9LLcTXlAaLVVeYgBMVLvZI6RbkbTKAP3QN3rb4KGaVdoddb3PqnkTri4la3ZmkFBC1t8NKtDHMASQksfdRgsNx+6AdY0KB+LdViD71joF2C1WRrhy4hDFLBSJp+AP7oIHnPCJmnxlAc0Rbz3auC85Reokges0cJxN71R3rzjFLRSh4XxrTs9Ve60fRS0sI0HK+jVjCflbhsPxrU8CY/jeZMiKGjljNlGJjKo9t8mwBJDy/IhF+rTSgiwxNBSRCaQMoH8Cc7jIges/AlbyTWMZ7kbTeNt0gP+TAVj11PQKpmylZq5L1bt829UyQOa/sRtxjurc8zSEkKrbKb32V7me28JsMTQqrn0ANr0NVAyEo+LQmhVLNohfkyfSjFvIwUt6Zg5pILedPaGC7Cc0Kp/8gaaJTK323gqt+wSf4tBIb8AC2V4WQifhx7gYfV1dCxYsrwHYTErU7TltgBauUsv+hSwt8urIe2XWCe0GI9Le+WL+LZuyybRQcZPe3lopQwJJUMBeys8+mWNc9ZpYRtPzVO2PwxrvIqWHBVASxZyuctsoavq00sFdVrZAVug9h3rDeISDBy17Aotxe5r/NeqDyUKoFU8O5qf5lD3pQByR2/ioZU3Ooj5vXxyDe/BAlNXaGkOeTnGO2R5lwn5I9fysCoct56083gV83ehCj0lgJZs6S5+6kLtsy+k95CDVslPa6m57u6E8S8sgXCFlmLNbnI0Q4m38ZRNWg3Npf27vKG5WArlvyzhoYVHxLrHb8g1TCSoBV7WdKgM2cd7UOJtPMqZK8muw8EovwEL1ayzgO5uNugf50GruXtpZZzwoL2WQqaXevukdRWWOlS/yofKO2mkZquv1F7XSFp49Ikp0KigJz30VO21NlIRb7iXTPYcugr/3JYvRaC/8Yk5znlPOrgKAWJ8nALV979Cq16YKcVYC/Yk4rhlax495sVWqADDrQ+M15VDvCdXtVVbSBAeDf/fVXiv5UM2VN96B/bC7r2BsdzB9OATmB9/IaNouiNblgSMN18xx8BcqlQARyVjszTCq6O2GzVYf/wBtvRCMN18AdbkXKq8oUWpI+DCuVq4fWcghBMi6l98BMv9l2Rqqqvwz21PzoLaW4+hMZP9EHEVbtmxJD4F6/svpHJ+sMqvwKp+VQTFIQ9BEvkUalO79wLuUswLyfAsD0p2JII0+jHUZSkFlxuKtCCLeQIl226D/n6Gz7DDF2TVwwyQbL8J5XsfUivCGnKVZNpD6Y4bUP0kU+DptJmsoDr5EiRbLoP6zGvoaOj/FwQmA3BZqzT4IqgO3e+zXYeY+ay69hbKg8+C5shdaFYJoV/3OR8UEZeI4f+7Cu/VHkkEefApMFx7LciiYk2XIeEFVATHgy4uEVorhXCue58JyvBzoI6+CA0pvq9fx0kShguPQRF8jATh26qFcLa8SgZVWDxo916gCk6bJArQHUwAVcgxBj7vBLDD9p3qc/dAte0IGE6xR0xezL+95ekn0OyMIxt5GvOEK8IaC6Wg338OtKFHwfL4vQB2HbX1ZP+hZttBqDl7i0CIE35/y8M3oNsZC1UHz0FTse8fUu1GMxjjr0Ll9n1gOn+L1Gv5KiyBMOyJg6qIg2B9+1l8eUDlN2DJYt8yR8EYgekSM8W3dVtlu58ISx5wG88ztuYE14p9/RHnxbts49nqOUjNqTTkFnz7Jy5oddiPYWRuFsr4Og+SmV+7TnmQRrDbeHAvYsaE3YLsIdnGU+++oLAvhG8AXNbqGozHinhrTrn41m4JPS/J0kOCYHz2yCCwl7Dw1l98yR8HOdNfZEc24+ys3JEb+EA8WunS/eSZCC7JvGhqG09zBeslVJ68x/weTitdyVvNLc/ZRRRm+0pn7QDBNp7x66BVx8YsdQevUCUPtU+SyDVrSj4UBSxzZg9JJfxh8oHYUW+Dst+CBD2Ikl/WQHsNC0PdrlN8IJ4reah/w3ZNNHxIY46L8wUlD9pwtlewg4GebPIqlx7EOSD7dTVffa/dcZDvPSQW8Dtp5/Gm9qoaKP95kSB7qJi12ido1d1/IcgeohmPsVNK/CG/AKuJOQp+/Oc++PiPfQJgfR5+EL63db+6l5NdVk1lD9FSxh4gwfyMaXGCGfGc1WUpxI8SqCFfzUAqXAgsxjInHyAv4IyJ2GdIj6bBdh75/kdU9hANPa3+Uu3HfCp7iFa85Kj41m7J9CKdyh6iSQOPM56AHXKGb+AD8Xzwffh65pqNuecYH4h3hZb5RSoY7yUJAvEctCq2n2I8olrIHY6/XiWAFsa0uqy0d6j62gtS/iDexqPZdQ5aVHoqe4hWPG4N8WSkc0Oo7CEaHgPRsxJPeECrPJRAarTE2UO0sklryWtFOm09lT1EQ6+rKu6KC6yc0Ko+dZ0MAhQ3TKPJZ60X/7EpVe2Lp7KHaOYEz1tzsIarfNxsUUCegVbANGiv7LtwSnfkF2CZvsgIrDhzhVajwnNK2ZOqXxVS2UMOWo0qswushNCqTPQ86KzqYSZ8JcCiodWkNlIN0xy0qp9lQ+GKsw6ACaFVuvWK+Nv0mXQX3lDZQ+JlBfRuvIzmxCMqe4iWN3EH2PLlVPaQM7yWP3EbCzARtHATj/rADT4Q7wqt4hmhJIvIwUoMLW/7ENVR5x3AEkKrbGEk1H/KorKHHLQQZoXDl4qAxULLeOulYxY8PZqmYvVusLz4QmUPOWtV6/lAvBhaeDRUbdjD1myJoKXZEgO19187gEVDy1t1vmrFDrclD/rwWPGtArWqtFT2kIMWTjX1h/wCrEalWQAsDlqYNezNqGSrRO+25OHbqH0kVpU+GSc50NCypHk+KqEHhsASQyv9p33kUzNt7B630LIWqKF8z33e43KFluoEe1TqD5ne5AiyhxywChd4foF6k/FxstuSh9LVR0lrT9Yw/LUIWsMCybWy1UecXpcLtEyPv0L17fe8x+UKLfmmEyTYjt6WGFo43cFbgafh0lMXYDmhpQo7Dc242NVNyQOWOuAxtWzWNj576GoN33KhKv62A1hCaOlizjOekowASwwt3HeIrxX0tNxBy55TAvpDF3mPyxVYhmNXwJ6e7wIsJ7TKf1sj/mNT0kcfp0oe0EznPYdDMOtZPmamG2BNgzZ17yez9kR+ARZKEvWMgpbqkrPPq6cq3pZIQUt3h/Wgql8WgHgbT8Gay15rv/CFVrT+CgUtwxN27EfV/XQCLFdoSbZcJdeatWZqGw/GtDAQ31/CgLuwsJSxoVugLtm3KQZdCbN8Rb/vFUAre9hGsOawwV/tsQcEWK7Q0h5j16ThPeJtPCVzo8kzsaq/eHqYAFq5I9axM+MZafZfp6BVdd5zRT+qo95ObeMpHLUamivYN5s64iwFLeNNdlRO3YcMB7Cc0KpYs5fEBzHALvllnQBaJeNWkowjCgPxYmjVPmTrBHHRBetxOaGl3rSfvMaw4bn0p2UCaEknLmdjY8xrVL0hmoJW/esv5LmehLPhZePmC6Aln7rM6zRSlPnqPQpWhr3eF+f2l/wGLISE9lYm5K27BQWb74LhZc/bY1yFNTKaa8mQv+YqFG+9A8YPwjdpbUo5lGxPJKBSX0yilkl0JbxPcykJCtdcIvO1cH6Wq3CWvCT4BhStvQi6K0mCaQ/NOjPIdt+HwlXnSEwLA/H9LWyc1p55CSVr4kG28wpY8/omC9tpawbtycdQuiYO5GEJfMCdCHsGH30D2eZTxPD/8fc44b0VYRehbM0R0MU/EsyCR7hoj90lM+KxyLRJ5nLcY14rxnufyIbpiuCTYH7he41bu7kBdIdvQPmaAyTD2KJ0ZksxVmW89QYqNhwC5fYTUPdOGBqwZRaDeudJqAjcD9WXHglKONpqakkGUbF2L+j2nodWnbOUBf/tjdeegnLDPlCHxIFVtIUayyAwg6hcvxeMVx4JllQgtDCDqFy3C/QHzkO7wRkiwdVlxsv3QbU+GrShR8CW5nmiravaNHqo2nMS1OvCwRB7rlsrvhrefIbKHcyfc1Mk1N19ytdv+UN+A9Z/N2EZRM3LHBKIF6uFARqOU8aFrmKA4sganFyKSy3ajN2oE2KEdVum19lQl1pKvC5fhV5EQ5YMTC8zfWqmdhUuurAk5TOWRy29wGN5Q0YpmF9nUOUQ3oTgqfuUA/Vf8qCjFxNB+1JY9mB59c2nYtO+ElbSN7xPAVsK1sAJkw7fmSMyburB6aVcxtJXtemqwPruK2mUFvc8YjbR9jUDbEkp3QJdf+hvYPWzEBR4PKRKHhzHUKyIxzYe1+F/3GgaHAKIk0tdF1uYP/o2Sqfy6kfmGMg2T+OREONX3pZioHBsi2TlcX5GPFbDa449Et/mVtYsKeRN2O4Mxk/YRn4PhR5U6dIDzmD8sECoPPdM9AT3qk8uhIJxm/jsIY6osRfSBa0DJubfTrPrDB+IJyUP245Sb/S+luXxOygdhSOW2ewhDv9rq2Q9uxa5Gsqnr+UD8bjYgt/G40W1d56CdNRsPnuoWhjEj6bB1p2Kacv4dh5cbOHrNp7+0N/A6mfprn4WBeNZaOGWHqyIxzYeccmDZBM7iiR3zhHya8E2ntHeF2rYSjSQNlTYNI3QKg9l42qepD76kFpsgdCq+1YsvlUgrKXKn8zO0HK1/Mk7yTVcyCrOHqJx8a+uhADNn7BZkD1EaBVPD6WqywdKtU+TqOwhySB6WXzRG7UyRzonrJwlD+qNu8l1xZLtfCCeXyE2biF0mD2P72kpV0JZwEyq5AGnl+JxXvH7Oh5WPLR+ngedVqH3PFD6G1j9rMI1F0XAYqFVFnKTeFfi7CEB1PBQ0jjNAUwMLW/LLSqvfHA75SFrrPcVVgWz91GLLdDURzzPmbdL1FT2kDO7RAUFU0KF2UOHVZ7xHDy3Zkup7CEHrWZl946rfSV1WDyVPURgKdbvF9/aZ8KyB3H2EK105DxoM5gEgXhXaFk/pYkfJVDt7adU9hCBVT6eea62CsQN05w1pvd8Eklv9Dew+lm4PsxdyQO28TjXhwmhlTFuF2nfcV0f5gqthmzPAXTDXW59mBBaOVN2i2+lVLw0TgQsFlq6s57LMJrV1W5LHtDwWtHcPYLsIQcswzW2QbcrNTKwc1fygOZ1+F8/SbfvkiB7yJlqR/9lz7j1YWJo4cLWzsYml/VhQmjZM+i+QVfhzkN3JQ/yKUtF68OE0GouErYbDZT+BlY/y/xZQpU8JA8JI72H2DCdMdE55YGDFo5bRpXtuC4AFlre7FgqMC8WjlHOHBtOQUt73jMcUNUPU0C8jScrIBiaFF6C5MzxAYf/iaFVipNMsb/zxnsCLFdo4WSH1krPhcIYqC9dHENBCzOG/pI9rwwKR2BhqRBaDV/7z+vAmfPSX9dS0DIcZcMHlbuOuwCLhRbGuMSBebGwd9F1ygMHLePZG+Q69h6KoaVaFNTv8bqu9DewBkBYp8UVl2IbD/YecsLRNLlzjxFg4eTSitgnfFMwbuORht0iC1sRVkWrzkCz1vMbnJM1Xwn5sw4SYGUEhID6xFPfMoUMXCovv4Os0TsIrPJ+jYa6FM9HUE44AUK25SwPLdnWs/zoGYw36c4+g5xRmwi0imZEgTXLt4msrYZakK2PY4E1dC1UhJyFdkv/1bH5IsubVJBM2kCghWNpzA8/im/pc+E2noolO1hgjVoAVYcu8O1JuOyicvdJKA1AmM0B5eoIamJDV2oukYFifhCBlnT071BzPIEvtcBtPPqIwyANwKPidNBuiIB2fd9NI+mu/A6sZkMDNFf1xup5axkIM/S8hspTsSg2Q3cFlO8t7aS8oSt5mv6AAXpfJ1IIxICrWdmzFyaWM4hLGjiRwssewgYD8N76B3sifGZPPYZmpW9QEAtrwLi5XN0VLrn43ur+7wFnyuPC1p6ordLQ5d/D95YW+N7Dn7cv5RdgYdGo6nI6JI08Du//65CLHST2gbcDIttP7OM/xOa+L5E1ehQzN45ZaM7t04JKeTd9icmj9oPmyje/Zak4Ge6mQOb4XSSulfPrPrB89c0T8igGVPobHyFrXChp5ymYGQP1Gb55QtiCgwsusoYGESvfcUGwjWewCdt+KjYeARy3XDByNSks9XUbT/3HTJD8upn0HqKnhfO0fBEWn+J2nuLRyxz9h9HQ4iP0WuQaUKyKJB5W6djFpFm6L7bxNJdVgGrpNuJhycYvgJpT17oEl7/lF2ApGVi9/69YF/vzQQtbfDRXvor/aAMm09t8KnuYNjTE5wWuXanmcZqgYRotK2A7NKu9jJFmQFe65rhgRjxa6Vp2a85gE74hS+dFCGbEY+uOKvyM+FZKuMCiYLij/3CYczSNNdl75TnCStw0XTZ9k9e+SDzySX8NpKY8GI57L1XxJGzPkU1ezi5uJXEs1oznb4tvHRQacGChd/WJeFauwPpzQgs9Lfzz+E
[...]
