openapi: 3.0.1
info:
  title: 3DS 3DS actions VerifiedTokens API
  description: "Protect your business and meet regulatory requirements by verifying your customer's identity.\n\n__Authentication header__\n  ```\n    Authorization: {your_credentials}\n  ```\nReplace `{your_credentials}` with your base64-encoded Basic Auth username and password given to your by your Worldpay Implementation Manager.\n<br /> <br />\n\nYou **must** use the `Authorization` header for any request you send to our 3DS API.\n\n__Accept/Content-Type header__\n  ```\n  Content-Type: application/vnd.worldpay.verifications.customers-v3.hal+json\n  Accept: application/vnd.worldpay.verifications.customers-v3.hal+json\n  ```\nWe use the Accept header to identify which version of our API you are using. You must use the Accept header for any request you send to our 3DS API.\n\nWe require the Content-Type header if the request you're sending includes a request body, and if the HTTP method is a `POST` or a `PUT`.\n<br /><br />\n\n\n__DNS whitelisting__  \nWhitelist the following URLs:\n* `https://try.access.worldpay.com/`\n* `https://access.worldpay.com/`\n\nPlease ensure you use DNS whitelisting, not explicit IP whitelisting."
  version: '3'
  x-metadata:
    category:
    - 3DS
    - SCA Exemptions
    business:
    - Enterprise
    catalog-list: true
    generated: false
servers:
- url: https://try.access.worldpay.com
  description: Test (Try)
- url: https://access.worldpay.com
  description: Live
security:
- BasicAuth: []
tags:
- name: VerifiedTokens
paths:
  /verifiedTokens/cardOnFile:
    post:
      summary: Verified Tokens cardOnFile resource
      description: 'Create a verified cardOnFile token by sending a request to cardOnFile resource. A cardOnFile verified token allows you to take payments that are made by the customer using a stored verified token, such as in one-click or in-app purchases.


        '
      operationId: cardonfile
      requestBody:
        content:
          application/vnd.worldpay.verified-tokens-v3.hal+json:
            schema:
              $ref: '#/components/schemas/verifiedTokens_cardOnFile_request'
            examples:
              Creating a new token for cardOnFile transactions when supplying all the payment instrument details.:
                description: Creating a new token for cardOnFile transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Matching an existing token for cardOnFile transactions when supplying all the payment instrument details.:
                description: Matching an existing token for cardOnFile transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Conflicting with an existing token for cardOnFile transactions when supplying all the payment instrument details.:
                description: Conflicting with an existing token for cardOnFile transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been created.
              : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been created.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been matched.
              : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been matched.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
              : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Creating a new token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
              : description: Creating a new token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Matching a token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.:
                description: Matching a token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Conflicts with an existing token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
              : description: Conflicts with an existing token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
              : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
              : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
              : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
      responses:
        '200':
          description: The payload has been verified and a matching Token already exists. This does not include token meta data, which still may be different
          content:
            application/vnd.worldpay.verified-tokens-v3.hal+json:
              schema:
                $ref: '#/components/schemas/verifiedTokens_cardOnFile_response'
              examples:
                Matching an existing token for cardOnFile transactions when supplying all the payment instrument details.:
                  description: Matching an existing token for cardOnFile transactions when supplying all the payment instrument details.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                Matching a token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.:
                  description: Matching a token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
        '201':
          description: The payload has been verified and a Token has been created
          content:
            application/vnd.worldpay.verified-tokens-v3.hal+json:
              schema:
                $ref: '#/components/schemas/verifiedTokens_cardOnFile_response'
              examples:
                Creating a new token for cardOnFile transactions when supplying all the payment instrument details.:
                  description: Creating a new token for cardOnFile transactions when supplying all the payment instrument details.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Creating a new token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                : description: Creating a new token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
        '206':
          description: The supplied payload could not be verified. An unverified token has been created/matched
          content:
            application/vnd.worldpay.verified-tokens-v3.hal+json:
              schema:
                $ref: '#/components/schemas/verifiedTokens_cardOnFile_response'
              examples:
                ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been created.
                : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been created.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been matched.
                : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token has been matched.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
                : description: Payload cannot be verified for cardOnFile transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
                : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
                : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
                : description: Payload cannot be verified for cardOnFile transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
                  value:
                    _embedded:
                      verification:
                        outcome: not verified
                        code: '106'
                        description: INVALIDACCOUNT
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: not_matched
                          type: cvc
                        - risk: matched
                          type: avs
                          detail: postcode
                        - risk: not_matched
                          type: avs
                          detail: address
                        paymentInstrument:
                          type: card/plain
                          card:
                            brand: visa
                            fundingType: debit
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
        '409':
          description: The payload has been verified but a Token exists that conflicts with some of the details in the request
          content:
            application/vnd.worldpay.verified-tokens-v3.hal+json:
              schema:
                $ref: '#/components/schemas/verifiedTokens_cardOnFile_409_response'
              examples:
                Conflicting with an existing token for cardOnFile transactions when supplying all the payment instrument details.:
                  description: Conflicting with an existing token for cardOnFile transactions when supplying all the payment instrument details.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          tokens:conflicts:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoibjY5V0RxZUNzK3lkUXQ3aTVDYTdaNno4cHFtVWcrSlUvcU5wM1ViRE5QaGRlNDNXK1VNaWJ2UWxyRTZYcHpxUDFYcGRiTUhqbWEyMVdzdnljWU03aWRVcnY1WlVzZU1DditLZEExRGx6VUFiajNGVWpUbEVVOGN4QllnL0VoUC94bkptMVpCUERjdXYwd3JhMWdxb3FJcVI4Wjl5MW5CclRZcHFSRU5ndDIrMmNZTEFpZmJMakh0YW9taDRpNlRGaG1IK1BKZGc4UEpWNTVpV2MrbTB6UldEUmNZdHlrQ05MMTFqRnd0SEliRXlabkh2RndweEtteVBEZnk1bXgvdyJ9
                          tokens:networkToken:
                            href: https://try.access.worldpay.com/tokens/network
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
                ? Conflicts with an existing token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                : description: Conflicts with an existing token for cardOnFile transactions using a verified token or card session created by the access checkout SDK.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        schemeTransactionReference: '000000000000020005060720116005060'
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
                            href: https://try.access.worldpay.com/verifications/accounts/{resource}
                          payments:cardOnFileAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/cardOnFile/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringAuthorize:
                            href: https://try.access.worldpay.com/payments/authorizations/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          payments:recurringSale:
                            href: https://try.access.worldpay.com/payments/sales/recurring/eyJrIjoia2FhYzM1ZiIsImxpbmtWZXJzaW9uIjoiMS4wLjAifQ==.rTSaWnvtqTfgLUF9d+yia:Xr:bMt7SfZl7sgZ0yFtqVrp79hk:hZjQ1rHNZUtukWvMHHnIhvkyp4QhRO0aAcDdOsiNkkSoq+It1ADfLty7k=
                          curies:
                          - href: https://try.access.worldpay.com/rels/verifications/accounts/{rel}
                            name: verifications
                            templated: true
                      token:
                        tokenId: '9902480679618049603'
                        description: TestTokenDescription
                        tokenExpiryDateTime: '2021-08-18T14:30:40Z'
                        schemeTransactionReference: '000000000000020005060720116005060'
                        tokenPaymentInstrument:
                          type: card/tokenized
                          href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                        paymentInstrument:
                          type: card/masked
                          cardNumber: 4444********1111
                          cardHolderName: SherlockHolmes
                          cardExpiryDate:
                            month: 5
                            year: 2035
                          billingAddress:
                            address1: 221BBakerStreet
                            address2: Marylebone
                            address3: Westminster
                            postalCode: NW16XE
                            city: London
                            state: GreaterLondon
                            countryCode: GB
                          bin: '444433'
                          brand: VISA
                        _links:
                          tokens:token:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0NzI0NE1rdUtjMUFJdjYxVnlibWZuUT0ifQ
                          tokens:description:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0MWJVbkh1WTFGZExUNXJxc04va1ZoTFVzYW1OU1lxSFE2NHI1c2JkY1pWaSJ9
                          tokens:cardHolderName:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdjFnVXlzakdPSXdWWkRhZkZyUmlMd3c9PSJ9
                          tokens:cardExpiryDate:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdUpLN2N3VVc5WUk3czRUTW1RQ2JLdkVpVW5GNnBsZThNTXNQWTRGbzFzTXc9PSJ9
                          tokens:billingAddress:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoialRBL0FFelBzcnZpNCtzRGNRemh0d3ltd21ieGo3TlZLYzRYSkExOUhSdFpSdXFxbWZlNVl1TkpHZEVvZXN3MTlCU0lmdCtxSTUyVDJSdXlmSTIwM3c9PSJ9
                          tokens:schemeTransactionReference:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiSENXWFZQZjNIZ1V3dnpDMElJZS9Zdmc4M0pYM3dDWEJTVnQrWVlacXdDUXFFKzhzaC8xNSs2d3NkTTdFWUFNVU9tdXBmUlZGeVNDY2dPMkhKV2NIcGc9PSJ9
                          tokens:conflicts:
                            href: https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoibjY5V0RxZUNzK3lkUXQ3aTVDYTdaNno4cHFtVWcrSlUvcU5wM1ViRE5QaGRlNDNXK1VNaWJ2UWxyRTZYcHpxUDFYcGRiTUhqbWEyMVdzdnljWU03aWRVcnY1WlVzZU1DditLZEExRGx6VUFiajNGVWpUbEVVOGN4QllnL0VoUC94bkptMVpCUERjdXYwd3JhMWdxb3FJcVI4Wjl5MW5CclRZcHFSRU5ndDIrMmNZTEFpZmJMakh0YW9taDRpNlRGaG1IK1BKZGc4UEpWNTVpV2MrbTB6UldEUmNZdHlrQ05MMTFqRnd0SEliRXlabkh2RndweEtteVBEZnk1bXgvdyJ9
                          tokens:networkToken:
                            href: https://try.access.worldpay.com/tokens/network
                          curies:
                          - href: https://try.access.worldpay.com/rels/tokens/{rel}.json
                            name: tokens
                            templated: true
      tags:
      - VerifiedTokens
  /verifiedTokens/oneTime:
    post:
      summary: Verified Tokens oneTime resource
      description: 'Create a verified oneTime token by sending a request to oneTime resource. A oneTime verified token allows you to take payments that are made by the customer using a stored verified token, such as in one-click or in-app purchases.


        '
      operationId: onetime
      requestBody:
        content:
          application/vnd.worldpay.verified-tokens-v3.hal+json:
            schema:
              $ref: '#/components/schemas/verifiedTokens_cardOnFile_request'
            examples:
              Creating a new token for oneTime transactions when supplying all the payment instrument details.:
                description: Creating a new token for oneTime transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Matching an existing token for oneTime transactions when supplying all the payment instrument details.:
                description: Matching an existing token for oneTime transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Conflicting with an existing token for oneTime transactions when supplying all the payment instrument details.:
                description: Conflicting with an existing token for oneTime transactions when supplying all the payment instrument details.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token has been created.
              : description: Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token has been created.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token has been matched.
              : description: Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token has been matched.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
              : description: Payload cannot be verified for oneTime transactions when supplying all the payment instrument details. An unverified token with conflicts has been returned.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/plain
                    cardHolderName: SherlockHolmes
                    cardNumber: '4444333322221111'
                    cardExpiryDate:
                      month: 5
                      year: 2035
                    cvc: '123'
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Creating a new token for oneTime transactions using a verified token or card session created by the access checkout SDK.:
                description: Creating a new token for oneTime transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              Matching a token for oneTime transactions using a verified token or card session created by the access checkout SDK.:
                description: Matching a token for oneTime transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Conflicts with an existing token for oneTime transactions using a verified token or card session created by the access checkout SDK.
              : description: Conflicts with an existing token for oneTime transactions using a verified token or card session created by the access checkout SDK.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
              : description: Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token has been created.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
              : description: Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token has been matched.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
              ? Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
              : description: Payload cannot be verified for oneTime transactions using a verified token or card session created by the access checkout SDK. An unverified token with conflicts has been returned.
                value:
                  description: Token-Description
                  paymentInstrument:
                    type: card/checkout
                    cardHolderName: SherlockHolmes
                    sessionHref: https://try.access.worldpay.com/verifiedTokens/sessions/eyJrIjoxLCJkIjoiZmJIT1pOOXNRc2xFeWQ1NXc5WEVLWHppUlJUWkpiMGozZkZIdWhFdmp4QTd4UmpNcWVmL0xJQzhHUTE0MCt6NyJ9
                    billingAddress:
                      address1: 221BBakerStreet
                      address2: Marylebone
                      address3: Westminster
                      postalCode: NW16XE
                      city: London
                      state: GreaterLondon
                      countryCode: GB
                  narrative:
                    line1: TheMindPalaceLtd
                    line2: Memory265-13-08-1876
                  merchant:
                    entity: default
                  verificationCurrency: GBP
                  namespace: SHOPPER_ID_1234567890
      responses:
        '200':
          description: The payload has been verified and a matching Token already exists. This does not include token meta data, which still may be different
          content:
            application/vnd.worldpay.verified-tokens-v3.hal+json:
              schema:
                $ref: '#/components/schemas/verifiedTokens_oneTime_200_response'
              examples:
                Matching an existing token for oneTime transactions when supplying all the payment instrument details.:
                  description: Matching an existing token for oneTime transactions when supplying all the payment instrument details.
                  value:
                    _embedded:
                      verification:
                        outcome: verified
                        checkedAt: '2020-08-18T14:29:10.641180Z'
                        riskFactors:
                        - risk: matched
                          type: cvc
                        - risk: matched
                          detail: postcode
                          type: avs
                        - risk: matched
                          detail: address
                          type: avs
                        paymentInstrument:
                          type: card/plain
                          card:
                            number:
                              bin: '4444'
                              last4Digits: '1236'
                            issuer:
                              name: UNKNOWN
                            expiryDate:
                              month: 5
                              year: 2035
                            brand: visa
                            fundingType: debit
                            paymentAccountReference: reference
                        _links:
                          verifications:verification:
[...]
