openapi: 3.0.1
info:
  title: Payments
  description: >
    Use a single API that orchestrates the payment flow to include FraudSight,
    3DS and Token creation.


    __Authentication__


    Set your headers 


    ```   

    Authorization: {your_credentials}    

    Content-Type: application/json    

    WP-Api-Version: 2024-06-01

    ```    


    Replace `{your_credentials}` with your base64-encoded Basic Auth username
    and password.  


    __DNS whitelisting__


    Whitelist the following URLs:    

    * `https://try.access.worldpay.com/`

    * `https://access.worldpay.com/`


    Please ensure you use DNS whitelisting, not explicit IP whitelisting. When
    you make a request within Access Worldpay, you should always cache the
    response returned. 


    __API collection__


    A full set of API examples based on different scenarios. 

     * __[Download Postman collection](./collections/index.md)__
  version: '2024-06-01'
  x-metadata:
    category:
      - 3DS
      - SCA Exemptions
      - Card Payments
      - Risk Assessments
      - Tokens
      - Wallets
    tags:
      - Orchestration
    generated: true
    business:
      - Enterprise
      - SMB (Worldpay eCommerce)
    catalog-list: true
servers:
  - url: https://try.access.worldpay.com
    description: Test (Try)
  - url: https://access.worldpay.com
    description: Live
security:
  - BasicAuth: []
tags:
  - name: Payment
    description: Take a payment
  - name: 3DS actions
    description: If 3DS is enabled additional actions are required
  - name: Manage payments
    description: Additional payment actions following authorization
paths:
  /api/payments/{linkData}:
    get:
      tags:
        - Manage payments
      summary: Payment query request
      description: Query a payment
      operationId: queryEvents
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryEventsResponse'
              examples:
                Query Response Example:
                  $ref: '#/components/examples/query-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '04'
  /api/payments/{linkData}/settlements:
    post:
      tags:
        - Manage payments
      summary: Submit a payment settle request
      description: Settle a payment
      operationId: settle
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsSettleRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettleResponse'
              examples:
                sentForSettlement:
                  $ref: '#/components/examples/sent-for-settlement-202-2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '05'
  /api/payments/{linkData}/partialSettlements:
    post:
      tags:
        - Manage payments
      summary: Submit a payment partial settle request
      description: Partially settle a payment
      operationId: partialSettle
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsPartialSettleRequest'
            examples:
              sentForSettlement:
                $ref: '#/components/examples/partial-settle'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialSettleResponse'
              examples:
                sentForSettlement:
                  $ref: '#/components/examples/sent-for-partial-settlement-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '06'
  /api/payments/{linkData}/refunds:
    post:
      tags:
        - Manage payments
      summary: Submit a payment refund request
      description: Refund a payment
      operationId: refund
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
              examples:
                sentForRefund:
                  $ref: '#/components/examples/sent-for-refund-202'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '07'
  /api/payments/{linkData}/partialRefunds:
    post:
      tags:
        - Manage payments
      summary: Submit a payment partial refund request
      description: Partially refund a payment
      operationId: partialRefund
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsPartialRefundRequest'
            examples:
              sentForPartialRefund:
                $ref: '#/components/examples/partial-refund'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialRefundResponse'
              examples:
                sentForPartialRefund:
                  $ref: '#/components/examples/sent-for-partial-refund-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '08'
  /api/payments/{linkData}/cancellations:
    post:
      tags:
        - Manage payments
      summary: Submit a payment cancel request
      description: Cancel a payment
      operationId: cancel
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResponse'
              examples:
                sentForCancellation:
                  $ref: '#/components/examples/sent-for-cancellation-202'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '09'
  /api/payments:
    post:
      tags:
        - Payment
      summary: Payment request
      description: Initiate payment
      operationId: payment
      parameters:
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
            examples:
              Card - ecom:
                $ref: '#/components/examples/card-payment'
              Card - moto:
                $ref: '#/components/examples/card-payment_moto'
              Card - auto settlement:
                $ref: '#/components/examples/card-payment-auto-settlement'
              Card - integrated 3DS authentication:
                $ref: '#/components/examples/card-payment-integrated-3ds'
              Card - external 3DS authentication:
                $ref: '#/components/examples/card-payment-external-3ds'
              Card - SCA exemption:
                $ref: '#/components/examples/card-payment-exemption'
              Card - Fraud assessment:
                $ref: '#/components/examples/card-payment-fraud'
              Card - Payment facilitator:
                $ref: '#/components/examples/card-payment-payfac'
              Card - Account funding transaction (AFT):
                $ref: '#/components/examples/card-payment-fundsTransfer'
              Card - Preferred card brand:
                $ref: '#/components/examples/card-payment-cobranded'
              Card - Checkout SDK session:
                $ref: '#/components/examples/card-payment-checkout'
              Card - Delegate token:
                $ref: '#/components/examples/card-payment-delegate'
              Card - payment & store (Worldpay Token):
                $ref: '#/components/examples/store-card-token'
              Card - Store card (no payment):
                $ref: '#/components/examples/store-card-only-token'
              Stored - Worldpay Token (href):
                $ref: '#/components/examples/use-stored-card-token-href'
              Stored - Worldpay Token (tokenId & namespace):
                $ref: '#/components/examples/use-stored-card-token-tokenId-namespace'
              Stored - Network Token:
                $ref: '#/components/examples/use-stored-card-network-token'
              Stored - Worldpay Token & Checkout CVC session:
                $ref: '#/components/examples/use-stored-card-checkout-cvc'
              Apple Pay - encrypted:
                $ref: '#/components/examples/apple-pay-encrypted'
              Apple Pay - decrypted:
                $ref: '#/components/examples/apple-pay-decrypted'
              Google Pay - encrypted:
                $ref: '#/components/examples/google-pay-encrypted'
              Google Pay - decrypted (CRYPTOGRAM_3DS):
                $ref: '#/components/examples/google-pay-decrypted-cryptogram-3ds'
              Google Pay - decrypted (PAN_ONLY):
                $ref: '#/components/examples/google-pay-decrypted-pan-only'
              Subscription - setup:
                $ref: '#/components/examples/setup-recurring-subscription'
              Subscription - setup - (no payment):
                $ref: '#/components/examples/setup-recurring-subscription-zero'
              Subscription - subsequent:
                $ref: '#/components/examples/subsequent-recurring-subscription'
              Installment - setup (merchant):
                $ref: '#/components/examples/setup-recurring-installment-merchant'
              Installment - subsequent (merchant):
                $ref: >-
                  #/components/examples/subsequent-recurring-installment-merchant
              Installment - setup (Latin America):
                $ref: '#/components/examples/setup-recurring-installment-latam'
              Unscheduled:
                $ref: '#/components/examples/recurring-unscheduled'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse201'
              examples:
                authorized (basic):
                  $ref: '#/components/examples/authorized-201-basic'
                authorized (full):
                  $ref: '#/components/examples/authorized-201-full'
                3dsDeviceDataRequired:
                  $ref: '#/components/examples/3ds-device-data-required-201'
                fraudHighRisk:
                  $ref: '#/components/examples/fs-highrisk'
                refused:
                  $ref: '#/components/examples/refused-201'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse202'
              examples:
                sentForSettlement (basic):
                  $ref: '#/components/examples/sent-for-settlement-202-basic'
                sentForSettlement (full):
                  $ref: '#/components/examples/sent-for-settlement-202-full'
                sentForCancellation:
                  $ref: '#/components/examples/sent-for-cancellation-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '1'
  /api/payments/{linkData}/reversals:
    post:
      tags:
        - Manage payments
      summary: Submit a payment reverse request
      description: Reverse a payment
      operationId: reversal
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsReversalRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReversalResponse'
              examples:
                sentForReversal:
                  $ref: '#/components/examples/sent-for-reversal-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Not found:
                  $ref: '#/components/examples/404'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '10'
  /api/payments/{linkData}/3dsDeviceData:
    post:
      tags:
        - 3DS actions
      summary: Supply 3DS device data
      description: Gather additional device data
      operationId: supply3dsDeviceData
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDataRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDataResponse201'
              examples:
                3dsChallenged:
                  $ref: '#/components/examples/3ds-challenged-201'
                authorized:
                  $ref: '#/components/examples/authorized-3ds-frictionless-201'
                refused:
                  $ref: '#/components/examples/refused-201'
                3dsUnavailable:
                  $ref: '#/components/examples/3ds-unavailable-201'
                3dsAuthenticationFailed:
                  $ref: '#/components/examples/3ds-authentication-failed-201'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDataResponse202'
              examples:
                sentForSettlement:
                  $ref: >-
                    #/components/examples/sent-for-settlement-3ds-frictionless-202
                sentForCancellation:
                  $ref: '#/components/examples/sent-for-cancellation-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '2'
  /api/payments/{linkData}/3dsChallenges:
    post:
      tags:
        - 3DS actions
      summary: Continue with the payment after a 3DS challenge
      description: Verify authentication challenge
      operationId: complete3dsChallenge
      parameters:
        - name: linkData
          in: path
          required: true
          schema:
            type: string
        - name: WP-Api-Version
          in: header
          description: The API version
          required: true
          schema:
            type: string
            description: The API version
            enum:
              - '2024-06-01'
            example: '2024-06-01'
          example: '2024-06-01'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeResponse201'
              examples:
                authorized:
                  $ref: '#/components/examples/authorized-3ds-challenged-201'
                refused:
                  $ref: '#/components/examples/refused-201'
                3dsUnavailable:
                  $ref: '#/components/examples/3ds-unavailable-201'
                3dsAuthenticationFailed:
                  $ref: '#/components/examples/3ds-authentication-failed-201'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeResponse202'
              examples:
                sentForSettlement:
                  $ref: '#/components/examples/sent-for-settlement-3ds-challenged-202'
                sentForCancellation:
                  $ref: '#/components/examples/sent-for-cancellation-202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                Bad request:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/401'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeaderErrorResponse'
              examples:
                Not acceptable:
                  $ref: '#/components/examples/406'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Unsupported media type:
                  $ref: '#/components/examples/415'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Internal server error:
                  $ref: '#/components/examples/500'
      x-orderingPosition: '3'
components:
  schemas:
    PaymentsSettleRequest: {}
    PaymentsActionPartialRefund:
      type: object
      description: >-
        Partially refund the payment. See
        [details](/products/payments/openapi/manage-payments/partialrefund)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsActionRefund:
      type: object
      description: >-
        Fully refund the payment. See
        [details](/products/payments/openapi/manage-payments/refund)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsActionReverse:
      type: object
      description: >-
        Reverse the payment. See
        [details](/products/payments/openapi/manage-payments/reversal)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    SettleActionList:
      type: object
      properties:
        refundPayment:
          $ref: '#/components/schemas/PaymentsActionRefund'
        partiallyRefundPayment:
          $ref: '#/components/schemas/PaymentsActionPartialRefund'
        reversePayment:
          $ref: '#/components/schemas/PaymentsActionReverse'
    SettleResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForSettlement
        paymentId:
          type: string
        _links:
          $ref: '#/components/schemas/PaymentsLink'
        _actions:
          $ref: '#/components/schemas/SettleActionList'
    ErrorResponse:
      type: object
      properties:
        errorName:
          type: string
        message:
          type: string
    HeaderErrorResponse:
      type: object
      properties:
        errorName:
          type: string
        message:
          type: string
        headerName:
          type: string
    PaymentsReversalRequest: {}
    ReversalResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForReversal
        _links:
          $ref: '#/components/schemas/PaymentsLink'
    ValidationErrorResponse:
      type: object
      properties:
        errorName:
          type: string
        message:
          type: string
        jsonPath:
          type: string
        validationErrors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorResponse'
    RefundResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForRefund
        paymentId:
          type: string
        _links:
          $ref: '#/components/schemas/PaymentsLink'
    PaymentsPartialSettleRequest:
      type: object
      properties:
        reference:
          type: string
          minLength: 1
        sequence:
          $ref: '#/components/schemas/PaymentsSequence'
        value:
          $ref: '#/components/schemas/Value'
      required:
        - reference
        - value
    PaymentsSequence:
      type: object
      description: >-
        The sequence number and total number of expected partial settlement
        requests for the payment.
      properties:
        number:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      required:
        - number
        - total
    Value:
      type: object
      description: The value and currency.
      properties:
        currency:
          type: string
          description: ' The three character currency code. See list of <a href="/products/reference/supported-countries-currencies#iso-currency-codes">supported currencies</a> '
          example: USD
          minLength: 1
        amount:
          type: integer
          format: int32
          description: >-
            The payment amount. Implied decimal. For example, 250 GBP = £2.50

            When set to `0` will perform a card verification instead of a
            payment as part of a new `customerAgreement`.
          example: 250
        acceptPartialAmount:
          type: boolean
          description: >-
            Set to `true` to accept a partial authorization amount. You can
            charge the remainder of the amount using a different payment
            credential with a new authorization request.
      required:
        - amount
        - currency
    PartialSettleActionList:
      type: object
      properties:
        refundPayment:
          $ref: '#/components/schemas/PaymentsActionRefund'
        partiallyRefundPayment:
          $ref: '#/components/schemas/PaymentsActionPartialRefund'
        partiallySettlePayment:
          $ref: '#/components/schemas/PaymentsActionPartialSettle'
        cancelPayment:
          $ref: '#/components/schemas/PaymentsActionCancel'
        reversePayment:
          $ref: '#/components/schemas/PaymentsActionReverse'
    PartialSettleResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForSettlement
        paymentId:
          type: string
        _links:
          $ref: '#/components/schemas/PaymentsLink'
        _actions:
          $ref: '#/components/schemas/PartialSettleActionList'
    PaymentsActionCancel:
      type: object
      description: >-
        Cancel the payment. See
        [details](/products/payments/openapi/manage-payments/cancel)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsActionPartialSettle:
      type: object
      description: >-
        Partially settle the payment. See
        [details](/products/payments/openapi/manage-payments/partialsettle)
        including what to add in the request body.
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsPartialRefundRequest:
      type: object
      properties:
        reference:
          type: string
          minLength: 1
        value:
          $ref: '#/components/schemas/Value'
      required:
        - reference
        - value
    PartialRefundActionList:
      type: object
      properties:
        partiallyRefundPayment:
          $ref: '#/components/schemas/PaymentsActionPartialRefund'
    PartialRefundResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForPartialRefund
        paymentId:
          type: string
        _links:
          $ref: '#/components/schemas/PaymentsLink'
        _actions:
          $ref: '#/components/schemas/PartialRefundActionList'
    CancelResponse:
      properties:
        outcome:
          type: string
          enum:
            - sentForCancellation
        _links:
          $ref: '#/components/schemas/PaymentsLink'
    DeviceDataRequest:
      type: object
      properties:
        collectionReference:
          type: string
          description: >-
            Add the `sessionId` provided in the [postMessage for the device data
            collection form
            (web)](/products/payments/enable-features/3ds-authentication/web) or
            for native (iOS/Android), returned as `consumerSessionId` as part of
            [SDK
            initialization](/products/payments/enable-features/3ds-authentication/android-ios).
            <br><br>__Note:__ If device data collection fails you can attempt
            the payment without this value, but you will see an increased number
            of `challenged` and even `authenticationFailed` outcomes, if this
            happens for a lot of requests.
    Advice:
      type: object
      properties:
        code:
          type: string
    Amounts:
      type: object
      description: >-
        An object containing transaction amounts. Returned for partial
        authorizations.
      properties:
        requested:
          type: integer
          format: int32
          description: The requested amount.
          example: 1000
        totalAuthorized:
          type: integer
          format: int32
          description: The total amount authorized by the card issuer.
          example: 700
        currency:
          type: string
          description: >-
            The three character currency code. See list of <a
            href="/products/reference/supported-countries-currencies#iso-currency-codes">supported
            currencies</a>.
          example: GBP
        partialAuthorization:
          type: boolean
          description: >-
            Indicates that the authorized amount is less than what you have
            requested.
    Authentication:
      type: object
      properties:
        version:
          type: string
          description: The version of 3DS used to process the transaction.
          example: 2.2.0
          maxLength: 10
          minLength: 1
        type:
          type: string
        authenticationValue:
          type: string
        eci:
          type: string
          description: >-
            Electronic Commerce Indicator (ECI). Indicates the outcome of the
            3DS authentication.
          maxLength: 2
          minLength: 1
        transactionId:
          type: string
          description: A transaction identifier.
          maxLength: 64
          minLength: 1
        cryptogramAlgorithm:
          type: string
        challengePreference:
          type: string
        authenticationFlow:
          type: string
        networkScore:
          type: string
        brand:
          type: string
    AuthenticationUnavailable:
      type: object
      properties:
        version:
          type: string
          description: The version of 3DS used to process the transaction.
          example: 2.2.0
          maxLength: 10
          minLength: 1
        eci:
          type: string
          description: >-
            Electronic Commerce Indicator (ECI). Indicates the outcome of the
            3DS authentication.
          maxLength: 2
          minLength: 1
    AuthorizationActionList:
      type: object
      properties:
        cancelPayment:
          $ref: '#/components/schemas/PaymentsActionCancel'
        settlePayment:
          $ref: '#/components/schemas/PaymentsActionSettle'
        partiallySettlePayment:
          $ref: '#/components/schemas/PaymentsActionPartialSettle'
        reversePayment:
          $ref: '#/components/schemas/PaymentsActionReverse'
    CardAuthorizedPaymentResponse:
      properties:
        outcome:
          type: string
        paymentId:
          type: string
          description: >-
            Unique identifier generated by us for a single payment. Generated at
            authorization, and maintained through successive payment actions.
          pattern: ^[A-Za-z0-9_-]+$
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        paymentInstrument:
          $ref: '#/components/schemas/PaymentsResponsePaymentInstrument'
        updatedPaymentInstrument:
          $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        issuer:
          $ref: '#/components/schemas/Issuer'
        riskFactors:
          type: array
          description: ' Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. '
          items:
            $ref: '#/components/schemas/RiskFactor'
        fraud:
          $ref: '#/components/schemas/Fraud'
        threeDS:
          $ref: '#/components/schemas/ThreeDS'
        exemption:
          $ref: '#/components/schemas/PaymentsExemption'
        schemeReference:
          type: string
          description: An object containing information returned by the scheme.
        token:
          $ref: '#/components/schemas/Token'
        amounts:
          $ref: '#/components/schemas/Amounts'
        _links:
          $ref: '#/components/schemas/PaymentsLink'
        _actions:
          $ref: '#/components/schemas/AuthorizationActionList'
    ChallengeInfo:
      type: object
      properties:
        reference:
          type: string
          example: uswuxaOZm7onSjO664M1
        url:
          type: string
          example: https://centinelapistag.cardinalcommerce.com/V2/Cruise/StepUp
        jwt:
          type: string
          example: >-





            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJPcmdVbml0SWQiOiI2NjAzMDA3YWJlMjMxZTM1ZTNmNTRjODkiLCJPYmplY3RpZnlQYXlsb2FkIjpmYWxzZSwiaXNzIjoiNjYwMzAwN2ExNmRkOWE3ZTZhMDMzNDA3IiwiUmV0dXJuVXJsIjoiaHR0cDovL3BheW1lbnQuZXhhbXBsZS5jb20iLCJQYXlsb2FkIjoie1wiUGF5bG9hZFwiOlwiZXlKdFpYTnpZV2RsVkhsd1pTSTZJa05TWlhFaUxDSnRaWE56WVdkbFZtVnljMmx2YmlJNklqSXVNUzR3SWl3aWRHaHlaV1ZFVTFObGNuWmxjbFJ5WVc1elNVUWlPaUl4WlRNMllqUmxOeTFoTnpNMExUUXhabU10T0RrMFppMDJaVFU0TWpNMll6WXhaRFlpTENKaFkzTlVjbUZ1YzBsRUlqb2lOR1ZrT1dReU1HUXRZekEwTUMwMFlqbGhMVGd5TUdFdE9ERTFNelUwTlRoaVpqZGxJaXdpWTJoaGJHeGxibWRsVjJsdVpHOTNVMmw2WlNJNklqQTBJbjBcIixcIkFDU1VybFwiOlwiaHR0cHM6XFwvXFwvMW1lcmNoYW50YWNzc3RhZy5jYXJkaW5hbGNvbW1lcmNlLmNvbVxcL01lcmNoYW50QUNTV2ViXFwvY3JlcS5qc3BcIixcIlRyYW5zYWN0aW9uSWRcIjpcInVzd3V4YU9abTdvblNqTzY2NE0xXCJ9IiwiZXhwIjoxNzEyMzE4MjI1LCJpYXQiOjE3MTIzMTc2MjUsImp0aSI6IjJhZmQzYzBjLWYzNzEtNDNkMC1iNTkyLTJhYzY5MjkxODdmOSJ9.cL8rPZkdHmatwrmV990NzmAmPe9nxrp65A8gm6ifprQ
        payload:
          type: string
          example: >-


            eyJtZXNzYWdlVHlwZSI6IkNSZXEiLCJtZXNzYWdlVmVyc2lvbiI6IjIuMS4wIiwidGhyZWVEU1NlcnZlclRyYW5zSUQiOiIxZTM2YjRlNy1hNzM0LTQxZmMtODk0Zi02ZTU4MjM2YzYxZDYiLCJhY3NUcmFuc0lEIjoiNGVkOWQyMGQtYzA0MC00YjlhLTgyMGEtODE1MzU0NThiZjdlIiwiY2hhbGxlbmdlV2luZG93U2l6ZSI6IjA0In0
    ChallengedActionList:
      type: object
      properties:
        complete3dsChallenge:
          $ref: '#/components/schemas/PaymentsActionComplete3dsChallenge'
    ChallengedResponse:
      type: object
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        authentication:
          $ref: '#/components/schemas/Authentication'
          description: Object that contains authentication related information.
        challenge:
          $ref: '#/components/schemas/ChallengeInfo'
        _actions:
          $ref: '#/components/schemas/ChallengedActionList'
    DeviceDataResponse201:
      type: object
      discriminator:
        propertyName: outcome
        mapping:
          authorized: '#/components/schemas/CardAuthorizedPaymentResponse'
          refused: '#/components/schemas/PaymentRefusedResponse'
          3dsChallenged: '#/components/schemas/ChallengedResponse'
          3dsAuthenticationFailed: '#/components/schemas/UnsuccessfulAuthenticationResponse'
          3dsUnavailable: '#/components/schemas/UnavailableAuthenticationResponse'
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
    ExpiryDate:
      type: object
      description: Contains your customer's card or token expiry date.
      properties:
        year:
          type: integer
          format: int32
          example: 2028
        month:
          type: integer
          format: int32
          example: 6
      required:
        - month
        - year
    Fraud:
      type: object
      description: Details of the outcome of the Fraud assessment
      properties:
        outcome:
          type: string
          description: ' outcome of the fraud assessment. `highRisk` outcomes stop the transaction before payment. '
          enum:
            - lowRisk
            - highRisk
            - review
            - lowRisk(silentMode)
            - highRisk(silentMode)
            - review(silentMode)
        score:
          type: number
          format: double
          description: >-
            The score calculated by the fraud assessment. Set score thresholds
            to define lowRisk, highRisk and review outcomes
          example: 44
    Issuer:
      type: object
      properties:
        authorizationCode:
          type: string
    PaymentRefusedResponse:
      properties:
        outcome:
          type: string
        paymentId:
          type: string
          description: >-
            Unique identifier generated by us for a single payment. Generated at
            authorization, and maintained through successive payment actions.
          pattern: ^[A-Za-z0-9_-]+$
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        refusalDescription:
          type: string
          description: Additional context on the refusal.
        refusalCode:
          type: string
          description: Response code for the request.
        advice:
          $ref: '#/components/schemas/Advice'
        paymentInstrument:
          $ref: '#/components/schemas/PaymentsResponsePaymentInstrument'
        updatedPaymentInstrument:
          $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        riskFactors:
          type: array
          description: ' Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. '
          items:
            $ref: '#/components/schemas/RiskFactor'
        fraud:
          $ref: '#/components/schemas/Fraud'
        threeDS:
          $ref: '#/components/schemas/ThreeDS'
        exemption:
          $ref: '#/components/schemas/PaymentsExemption'
        token:
          $ref: '#/components/schemas/Token'
    PaymentsActionComplete3dsChallenge:
      type: object
      description: >-
        Resume the payment following the 3DS challenge being completed by the
        customer. See
        [details](/products/payments/openapi/3ds-actions/complete3dschallenge)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsActionSettle:
      type: object
      description: >-
        Fully settle the payment. See
        [details](/products/payments/openapi/manage-payments/settle)
      properties:
        href:
          type: string
        method:
          type: string
          default: POST
    PaymentsBillingAddress:
      type: object
      description: Contains the billing address information.
      properties:
        address1:
          type: string
          description: Address line 1
          maxLength: 80
          minLength: 1
        address2:
          type: string
          description: Address line 2
          maxLength: 80
          minLength: 1
        address3:
          type: string
          description: Address line 3
          maxLength: 80
          minLength: 1
        postalCode:
          type: string
          description: 'Required for all countries except the following: IE'
          maxLength: 15
          minLength: 1
        city:
          type: string
          description: Address city
          maxLength: 50
          minLength: 1
        state:
          type: string
          description: Address state
          maxLength: 30
          minLength: 1
        countryCode:
          type: string
          format: ISO 3166-1 alpha-2
          description: >-
            Must be provided in [ISO 3166-1 alpha-2
            format](/products/reference/supported-countries-currencies#iso-country-codes).
          minLength: 1
      required:
        - address1
        - city
        - countryCode
    PaymentsExemption:
      type: object
      description: An object containing information about the exemption.
      properties:
        granted:
          type: boolean
          description: Was an exemption returned by Worldpay's TRA assessment.
        placement:
          type: string
          description: >-
            Indicates whether the exemption has been placed in a payment
            authorization request or 3DS authentication request.
          enum:
            - authorization
          x-enumDescriptions:
            authorization: Exemption applied in the payment authorization.
            authentication: Exemption applied in the payment authentication.
        type:
          type: string
          description: The type of applied exemption.
          enum:
            - lowRisk
            - lowValue
          x-enumDescriptions:
            lowValue: Applied a `lowValue` exemption
            lowRisk: Applied a `lowRisk` exemption
        result:
          type: string
          description: The result of the exemption placement request.
          enum:
            - honored
            - outOfScope
            - rejected
            - unknown
          x-enumDescriptions:
            rejected: >-
              Possible __reason__: `issuerRejected`, `highRisk`, `invalid`,
              `unsupportedScheme`, `notSubscribed`, `unsupportedAcquirer` or
              `unknown`
            honored: 'Possible __reason__: `issuerHonored` or `unknown`'
            outOfScope: >-
              Possible __reason__: `merchantInitiatedTransaction`, `oneLegOut`,
              `moto`, `contactless` or `unknown`
            unknown: 'Possible __reason__: `unknown`'
        reason:
          type: string
          description: The reason returned by the card issuer.
          enum:
            - issuerHonored
            - merchantInitiatedTransaction
            - oneLegOut
            - issuerHonored
            - moto
            - contactless
            - issuerRejected
            - highRisk
            - invalid
            - unsupportedScheme
            - unsupportedAcquirer
            - unknown
    PaymentsPlainMaskedUpdatedPaymentInstrument:
      allOf:
        - $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        - type: object
          properties:
            appliedNetworkToken:
              type: boolean
            type:
              type: string
              enum:
                - card/plain+masked
            cardBin:
              type: string
              description: The updated card BIN (Bank Identification Number).
              example: '444433'
            lastFour:
              type: string
              description: >-
                The four digits of the updated card. Some characters may be
                obfuscated with a * if the PAN length is less than 16
                characters.
              example: '1111'
            accountUpdaterMessage:
              type: string
              description: Details on the type of payment instrument update.
              enum:
                - The merchant is not registered in the update program
                - The account number was changed
                - The account was closed
                - The expiry was changed
                - The issuing bank does not participate in the update program
                - Contact the cardholder for updated information
                - No match found
                - No changes found
              example: The account number was changed
              x-enumDescriptions:
                The issuing bank does not participate in the update program: >-
                  Returned for Real Time Account Updater only. It is not known
                  whether an account update is available.
                Contact the cardholder for updated information: >-
                  A match was found but you may need to contact the cardholder
                  for updated card details. This could be due to cardholder
                  opt-out or other reasons.
                The account number was changed: A new card has been issued with a change in the card number.
                No changes found: No changes to the card account were found.
                The account was closed: >-
                  The account is closed and the card is no longer valid. Ask
                  your customer for an alternative payment method.
                The merchant is not registered in the update program: >-
                  Returned for Real Time Account Updater only. Contact Worldpay
                  to enroll in the service.
                The expiry was changed: >-
                  A new card has been issued with an updated expiry date. In
                  most cases the card number remains unchanged.
                No match found: >-
                  The BIN range is enrolled for account updates, but no match
                  was found for the card account. One reason for this may be
                  that the card issuer has recently changed.
            expiryDate:
              $ref: '#/components/schemas/ExpiryDate'
            cardBrand:
              type: string
              description: >-
                The brand of the updated card. In rare circumstances a card may
                be reissued under a different brand.
            fundingType:
              type: string
              description: How the card is funded.
            countryCode:
              type: string
      discriminator:
        propertyName: type
      required:
        - type
    PaymentsPlainUpdatedPaymentInstrument:
      allOf:
        - $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        - type: object
          properties:
            appliedNetworkToken:
              type: boolean
            type:
              type: string
              enum:
                - card/plain
            cardNumber:
              type: string
            accountUpdaterMessage:
              type: string
              description: Details on the type of payment instrument update.
              enum:
                - The merchant is not registered in the update program
                - The account number was changed
                - The account was closed
                - The expiry was changed
                - The issuing bank does not participate in the update program
                - Contact the cardholder for updated information
                - No match found
                - No changes found
              example: The account number was changed
              x-enumDescriptions:
                The issuing bank does not participate in the update program: >-
                  Returned for Real Time Account Updater only. It is not known
                  whether an account update is available.
                Contact the cardholder for updated information: >-
                  A match was found but you may need to contact the cardholder
                  for updated card details. This could be due to cardholder
                  opt-out or other reasons.
                The account number was changed: A new card has been issued with a change in the card number.
                No changes found: No changes to the card account were found.
                The account was closed: >-
                  The account is closed and the card is no longer valid. Ask
                  your customer for an alternative payment method.
                The merchant is not registered in the update program: >-
                  Returned for Real Time Account Updater only. Contact Worldpay
                  to enroll in the service.
                The expiry was changed: >-
                  A new card has been issued with an updated expiry date. In
                  most cases the card number remains unchanged.
                No match found: >-
                  The BIN range is enrolled for account updates, but no match
                  was found for the card account. One reason for this may be
                  that the card issuer has recently changed.
            expiryDate:
              $ref: '#/components/schemas/ExpiryDate'
            cardBrand:
              type: string
              description: >-
                The brand of the updated card. In rare circumstances a card may
                be reissued under a different brand.
            fundingType:
              type: string
              description: How the card is funded.
            countryCode:
              type: string
      discriminator:
        propertyName: type
      required:
        - type
    PaymentsResponsePaymentInstrument:
      type: object
      description: Details of the paymentInstrument used.
      properties:
        type:
          type: string
        cardBin:
          type: string
          description: >-
            The card BIN (Bank Identification Number) is the first six or eight
            digits of the card number, and can be used to identify the card
            issuer, the card brand(s) (eg Visa, Cartes Bancaires) and the
            country. Card BINs are used to route transactions, check card
            capabilities and in fraud assessments.
          example: '444433'
          pattern: ^[0-9*]+$
        lastFour:
          type: string
          description: >-
            The last four digits of the card. Some characters may be obfuscated
            with a `*` if the PAN length is less than 16 characters.
          example: '1111'
          pattern: ^[0-9*]+$
        countryCode:
          type: string
          description: >-
            The [ISO 3166-1 Alpha-2
            format](/products/reference/supported-countries-currencies#iso-country-codes)
            country code that the card was issued in. May return `N/A` where the
            country is unknown.
          example: GB
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        cardBrand:
          type: string
          description: >-
            The card brand that the transaction was processed with. Sometimes
            referred to as the network or scheme.
          enum:
            - visa
            - mastercard
            - amex
            - maestro
            - visaElectron
            - diners
            - discover
            - jcb
            - argencard
            - cabal
            - carteBleue
            - cartesBancaires
            - carnet
            - cencosud
            - coopeplus
            - credimas
            - dankort
            - elo
            - eftposAU
            - hipercard
            - italcred
            - naranja
            - nativa
            - nevada
            - nexo
            - tarjeta
            - unionPay
        fundingType:
          type: string
          description: How the card is funded.
          enum:
            - credit
            - debit
            - prepaid
            - chargeCard
            - deferredDebit
            - unknown
        category:
          type: string
          description: >-
            Whether the card is classed as a consumer card or a card for
            commercial use.
          enum:
            - commercial
            - consumer
        issuerName:
          type: string
          description: The name of the card issuer.
          example: AN ISSUING BANK LTD
        paymentAccountReference:
          type: string
          description: >-
            The Payment Account Reference (PAR) is a non-financial reference
            that uniquely identifies the underlying cardholder account. This
            allows you to correlate payments made from the same account with
            differing instruments, where the same account funds the transaction.
            You cannot use a PAR to initiate a payment.
          example: Q1HJZ28RKA1EBL470G9XYG90R5D3E
    PaymentsUpdatedPaymentInstrument:
      type: object
      discriminator:
        propertyName: type
        mapping:
          card/plain: '#/components/schemas/PaymentsPlainUpdatedPaymentInstrument'
          card/plain+masked: '#/components/schemas/PaymentsPlainMaskedUpdatedPaymentInstrument'
      properties:
        type:
          type: string
          description: The type of updated instrument.
      required:
        - type
    RiskFactor:
      type: object
      properties:
        risk:
          type: string
          enum:
            - notChecked
            - notMatched
            - notSupplied
            - verificationFailed
        detail:
          type: string
          enum:
            - address
            - postcode
        type:
          type: string
          enum:
            - avs
            - cvc
            - riskProfile
    ThreeDS:
      type: object
      properties:
        type:
          type: string
          description: >-
            Used to describe if the authentication was done by a third party or
            internally.
          enum:
            - external
            - integrated
        outcome:
          type: string
          description: >-
            Indicates the outcome of the authentication request. `authenticated`
            indicates a successful authentication. {% admonition type="warning"
            name="Note" %} The `authenticationOutage` outcome is not enabled by
            default. Please contact your Worldpay Implementation Manager if you
            would like to be set up to receive `authenticationOutage` responses.
            By applying the authentication outage exemption the issuer is more
            likely to authorize the payment, but it will not be eligible for
            liability shift.{% /admonition %}
          enum:
            - authenticated
            - authenticationOutage
        issuerResponse:
          type: string
          description: >-
            If the issuer decides to challenge the customer or proceed.
            (frictionless)
          enum:
            - frictionless
            - challenged
        version:
          type: string
          description: The version of 3DS used to process the transaction.
          maxLength: 10
          minLength: 1
        eci:
          type: string
          description: >-
            Electronic Commerce Indicator (ECI). Indicates the outcome of the
            3DS authentication.


            | ECI | Meaning |

            | --- | --- |

            | 02 or 05 | Fully authenticated transaction

            | 01 or 06 | Attempted authentication transaction

            | 00 or 07 | Non 3-D Secure transaction


            | Scheme | Value |

            | --- | --- |

            | Mastercard | 02, 01, 00 |

            | Visa | 05, 06, 07 |

            | Amex | 05, 06, 07 |

            | JCB | 05, 06, 07 |

            | Diners | 05, 06, 07 |
          maxLength: 2
          minLength: 1
        acsTransactionId:
          type: string
          description: >-
            An identifier assigned by the Access Control Server (ACS) to
            identify a single transaction. Used primarily for Mastercard 3RI
            subsequent transactions to link the subsequent transaction back to a
            previous cardholder authentication. Can be disregarded unless
            otherwise needed.
          maxLength: 36
          minLength: 1
        dsTransactionId:
          type: string
          description: >-
            Directory server transaction Id, if provided should be used in the
            payment authorization authentication object.
          maxLength: 64
          minLength: 1
        status:
          type: string
          description: >
            Indicates the outcome of the authentication or verification request.

            - `Y` - Successful authentication

            - `N` - Failed authentication

            - `U` - Unable to complete authentication

            - `A` - Successful attempts authentication

            - `C` - Challenged authentication

            - `R` - Authentication rejected (merchant _must not_ submit for
            authorization)

            - `I` - Exemption acknowledged
          maxLength: 2
          minLength: 1
        challengePreference:
          type: string
          description: >-
            Indicates the preferred challenge behavior. __Returned for Cartes
            Bancaires authentications only__ and must be applied in the
            following authorization request.

            - `noPreference`

            - `noChallengeRequested`

            - `challengeRequested`

            - `challengeMandated`

            - `noChallengeRequestedTRAPerformed`
          maxLength: 64
          minLength: 1
    Token:
      type: object
      description: An object including the token details you have asked us to create.
      properties:
        href:
          type: string
          description: The token href you can save for use in future payment requests.
          example: >-
            https://try.access.worldpay.com/tokens/eyJrIjoxLCJkIjoiUW5rZHBXZDZ1MzBBY0I0MTVJQUdPeGE3ZkFobE1lTjJyYk05eDZxQUJ2RT0ifQ
        tokenId:
          type: string
          description: The unique ID of the token.
          example: '9997095516055002467'
        tokenExpiryDateTime:
          type: string
          description: The date and time the token expires.
          example: '2024-04-12T11:49:56Z'
        cardNumber:
          type: string
          description: The masked card number associated with this token.
          example: 4000********1091
        cardHolderName:
          type: string
          description: The name of the cardholder.
          example: Sherlock Holmes
        cardExpiry:
          $ref: '#/components/schemas/ExpiryDate'
        bin:
          type: string
          example: '400000'
        fundingType:
          type: string
          example: debit
        countryCode:
          type: string
        schemeReference:
          type: string
          example: '060720116005060'
        conflicts:
          $ref: '#/components/schemas/TokenResponseConflicts'
    TokenConflictPaymentInstrument:
      type: object
      properties:
        type:
          type: string
        cardNumber:
          type: string
        cardHolderName:
          type: string
        cardExpiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        billingAddress:
          $ref: '#/components/schemas/PaymentsBillingAddress'
    TokenResponseConflicts:
      type: object
      properties:
        conflictsExpiryDateTime:
          type: string
        schemeReference:
          type: string
        paymentInstrument:
          $ref: '#/components/schemas/TokenConflictPaymentInstrument'
    UnavailableAuthenticationResponse:
      type: object
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        authentication:
          $ref: '#/components/schemas/AuthenticationUnavailable'
          description: Object that contains authentication related information.
    UnsuccessfulAuthenticationResponse:
      type: object
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        authentication:
          $ref: '#/components/schemas/Authentication'
          description: Object that contains authentication related information.
    DeviceDataResponse202:
      type: object
      discriminator:
        propertyName: outcome
        mapping:
          sentForSettlement: '#/components/schemas/SentForSettlementResponse'
          sentForCancellation: '#/components/schemas/SentForCancellationResponse'
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
    SentForCancellationResponse:
      properties:
        outcome:
          type: string
        paymentId:
          type: string
          description: >-
            Unique identifier generated by us for a single payment. Generated at
            authorization, and maintained through successive payment actions.
          pattern: ^[A-Za-z0-9_-]+$
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        paymentInstrument:
          $ref: '#/components/schemas/PaymentsResponsePaymentInstrument'
        updatedPaymentInstrument:
          $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        issuer:
          $ref: '#/components/schemas/Issuer'
        riskFactors:
          type: array
          description: ' Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. '
          items:
            $ref: '#/components/schemas/RiskFactor'
        fraud:
          $ref: '#/components/schemas/Fraud'
        threeDS:
          $ref: '#/components/schemas/ThreeDS'
        exemption:
          $ref: '#/components/schemas/PaymentsExemption'
        schemeReference:
          type: string
          description: An object containing information returned by the scheme.
        token:
          $ref: '#/components/schemas/Token'
        amounts:
          $ref: '#/components/schemas/Amounts'
        _links:
          $ref: '#/components/schemas/PaymentsLink'
    SentForSettlementActionList:
      type: object
      properties:
        refundPayment:
          $ref: '#/components/schemas/PaymentsActionRefund'
        partiallyRefundPayment:
          $ref: '#/components/schemas/PaymentsActionPartialRefund'
        reversePayment:
          $ref: '#/components/schemas/PaymentsActionReverse'
    SentForSettlementResponse:
      properties:
        outcome:
          type: string
        paymentId:
          type: string
          description: >-
            Unique identifier generated by us for a single payment. Generated at
            authorization, and maintained through successive payment actions.
          pattern: ^[A-Za-z0-9_-]+$
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        paymentInstrument:
          $ref: '#/components/schemas/PaymentsResponsePaymentInstrument'
        updatedPaymentInstrument:
          $ref: '#/components/schemas/PaymentsUpdatedPaymentInstrument'
        issuer:
          $ref: '#/components/schemas/Issuer'
        riskFactors:
          type: array
          description: ' Any risk factors which have been identified for the authorization. This section will not appear if no risks are identified. '
          items:
            $ref: '#/components/schemas/RiskFactor'
        fraud:
          $ref: '#/components/schemas/Fraud'
        threeDS:
          $ref: '#/components/schemas/ThreeDS'
        exemption:
          $ref: '#/components/schemas/PaymentsExemption'
        schemeReference:
          type: string
          description: An object containing information returned by the scheme.
        token:
          $ref: '#/components/schemas/Token'
        amounts:
          $ref: '#/components/schemas/Amounts'
        _links:
          $ref: '#/components/schemas/PaymentsLink'
        _actions:
          $ref: '#/components/schemas/SentForSettlementActionList'
    ChallengeResponse201:
      type: object
      discriminator:
        propertyName: outcome
        mapping:
          authorized: '#/components/schemas/CardAuthorizedPaymentResponse'
          refused: '#/components/schemas/PaymentRefusedResponse'
          3dsAuthenticationFailed: '#/components/schemas/UnsuccessfulAuthenticationResponse'
          3dsUnavailable: '#/components/schemas/PaymentsResponse'
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
    PaymentsResponse:
      type: object
      properties:
        outcome:
          type: string
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
    ChallengeResponse202:
      discriminator:
        propertyName: outcome
        mapping:
          sentForSettlement: '#/components/schemas/SentForSettlementResponse'
          sentForCancellation: '#/components/schemas/SentForCancellationResponse'
    AccountHistory:
      type: object
      properties:
        createdAt:
          type: string
          description: Date the customer account was created.
        modifiedAt:
          type: string
          description: Date the customer account was last modified.
        passwordModifiedAt:
          type: string
          description: Date the password for the customer account was last modified.
        paymentAccountEnrolledAt:
          type: string
          description: Date the payment account was added to the cardholder account.
    Cancellation:
      type: object
      properties:
        cvcNotMatched:
          type: string
          description: >-
            By default a payment will be `sentForCancellation` if the CVC is
            `notMatched`, set `disabled` to continue with `sentForSettlement`.
          enum:
            - enabled
            - disabled
        avsNotMatched:
          type: string
          description: >-
            By default a payment will be `sentForCancellation` if the `address`
            or `postcode` AVS is `notMatched`, set `disabled` to continue with
            `sentForSettlement`.
          enum:
            - enabled
            - disabled
    Challenge:
      type: object
      properties:
        returnUrl:
          type: string
          description: ' Once the customer completes the challenge page the issuer redirects/posts to the returnUrl in order for you to resume the session. It must be the full URL path.  '
          minLength: 1
        windowSize:
          type: string
          default: 390x400
          description: ' Specify the challenge window size (width x height) that the issuer should use. This is to better tailor the experience to the customers device. Default is 390x400. '
          enum:
            - 250x400
            - 390x400
            - 600x400
            - 500x600
            - fullPage
        preference:
          type: string
          description: ' Set a preference for how the Issuer decides on a 3DS challenge.'
          enum:
            - noPreference
            - noChallengeRequested
            - challengeRequested
            - challengeMandated
            - noChallengeRequestedTRAPerformed
      required:
        - returnUrl
    Custom:
      type: object
      properties:
        number1:
          type: integer
          format: int32
        number2:
          type: integer
          format: int32
        number3:
          type: integer
          format: int32
        number4:
          type: integer
          format: int32
        number5:
          type: integer
          format: int32
        number6:
          type: integer
          format: int32
        number7:
          type: integer
          format: int32
        number8:
          type: integer
          format: int32
        number9:
          type: integer
          format: int32
        string1:
          type: string
          maxLength: 100
          minLength: 1
        string2:
          type: string
          maxLength: 100
          minLength: 1
        string3:
          type: string
          maxLength: 100
          minLength: 1
        string4:
          type: string
          maxLength: 100
          minLength: 1
        string5:
          type: string
          maxLength: 100
          minLength: 1
        string6:
          type: string
          maxLength: 100
          minLength: 1
        string7:
          type: string
          maxLength: 100
          minLength: 1
        string8:
          type: string
          maxLength: 100
          minLength: 1
        string9:
          type: string
          maxLength: 100
          minLength: 1
    Customer:
      type: object
      properties:
        customerId:
          type: string
          description: |-
            Unique identifier used by the ecommerce system for the customer.

            __Used for:__ Risk assessment
          maxLength: 128
          minLength: 1
        firstName:
          type: string
          description: |-
            Customer's first name.

            __Used for:__ 3DS authentication | Risk assessment
          maxLength: 22
          minLength: 1
        lastName:
          type: string
          description: |-
            Customer's last name.

            __Used for:__ 3DS authentication | Risk assessment
          maxLength: 22
          minLength: 1
        phone:
          type: string
          description: >-
            Customer's phone number.


            __Used for:__ 3DS authentication | Risk assessment | Card
            authorization
          maxLength: 20
          minLength: 4
          pattern: ^[0-9]*$
        dateOfBirth:
          type: string
          format: date
          description: |-
            Customer's date of birth.

            __Used for:__ Risk assessment
        email:
          type: string
          description: >-
            Customers's email address used for the ecommerce account.


            __Used for:__ 3DS authentication | Risk assessment | Card
            authorization
          maxLength: 128
          minLength: 1
          pattern: ^.+@.+$
        ipAddress:
          type: string
          description: >2-
             A unique identifier for your customer's physical location that can be used by the issuer in risk analysis. Must be in IPv4 or IPv6 format. E.g. 192.0.0.0.

            __Used for:__ 3DS authentication | Risk assessment | Card
            authorization
        documentReference:
          type: string
          description: Required for domestic processing in some Latin American countries.
          maxLength: 50
          minLength: 1
          pattern: ^[-A-Za-z0-9_\-/\\*~+.,&()]*$
    DeviceData:
      type: object
      properties:
        acceptHeader:
          type: string
          description: ' Used by the issuer to check if the customer''s browser is compatible with the issuer 3DS challenge display. '
          maxLength: 2048
          minLength: 1
        userAgentHeader:
          type: string
          description: ' Used by issuers as part of risk analysis and correctly displaying the challenge. Must conform to RFC 7321. '
          maxLength: 2048
          minLength: 1
        browserLanguage:
          type: string
          description: ' Your customer''s browser language that can be used by the issuer in risk analysis. Must conform to the language tags defined by IETF. E.g. en-GB, fr-FR. '
          maxLength: 8
          minLength: 1
        browserJavaEnabled:
          type: boolean
          description: Defines whether Java is enabled on your customers browser.
        browserColorDepth:
          type: string
          description: The color depth of your customers browser
          enum:
            - '1'
            - '4'
            - '8'
            - '15'
            - '16'
            - '24'
            - '32'
            - '48'
        browserScreenHeight:
          type: integer
          format: int32
          description: Defines the pixel height of the customers browser.
        browserScreenWidth:
          type: integer
          format: int32
          description: Defines the pixel width of the customers browser.
        timeZone:
          type: string
          description: |2-
             Time zone offset in minutes between UTC and your customer's browser local time.  
            Example time zone offset values in minutes:  
            If UTC -5 hours:  
            `300`  
            `+300`  
            If UTC +5 hours:  
            `-300`  
             
          pattern: ^[+-]?\d{1,4}$
        browserJavascriptEnabled:
          type: boolean
          description: Defines whether Javascript is enabled on your customers browser.
        channel:
          type: string
          description: >-
            Determines the channel that the transaction came through. `native`
            should only be set if using the Cardinal 3DS SDK (iOS/Android)
          enum:
            - browser
            - native
      required:
        - acceptHeader
        - userAgentHeader
    Exemption:
      type: object
      description: >-
        An object used to request or specify an SCA Exemption. 


        Read more on how to set it up under our [__SCA
        Exemptions__](/products/payments/enable-features/sca-exemptions) guide.
      properties:
        type:
          type: string
          description: >-
            Ask for an SCA exemption recommendation directly from Worldpay
            (integrated) or use a 3rd party TRA solution.<br>__Note:__ Only type
            `integrated` is supported for now.
          enum:
            - integrated
        mode:
          type: string
          description: Specify which transactions to request SCA Exemptions for.
          enum:
            - always
        capability:
          type: string
          description: >-
            Indicates whether the exemption requested from Worldpay can return a
            placement of authorization (payment) and/or authentication (3DS).
          enum:
            - authorizationAndAuthentication
            - authorizationOnly
            - authenticationOnly
          example: authenticationOnly
          x-enumDescriptions:
            authenticationOnly: >-
              The SCA Exemptions service can only return a `placement` of
              `authentication`.
            authorizationOnly: >-
              The SCA Exemptions service can only return a `placement` of
              `authorization`.
            authorizationAndAuthentication: >-
              The SCA Exemptions service can return either a `placement` of
              `authorization` or `authentication`.
        request:
          $ref: '#/components/schemas/PaymentsExemptionRequest'
      required:
        - capability
        - mode
        - type
    InstallmentPlan:
      type: object
      properties:
        numberOfInstallments:
          type: integer
          format: int32
          description: >-
            Number of installments that the requested amount should be broken
            into.
      required:
        - numberOfInstallments
    Merchant:
      type: object
      description: An object that contains information about the merchant.
      properties:
        entity:
          type: string
          description: ' Used to route the request in Access Worldpay, created as part of on-boarding. '
          example: default
          maxLength: 32
          minLength: 1
          pattern: ^([A-Za-z0-9]+[A-Za-z0-9 ]*)?$
        mcc:
          type: string
          description: ' You can apply a merchant category code (mcc) to an individual request. You can only provide an mcc if we have enabled the dynamic mcc feature during boarding. If enabled but not provided, merchant.mcc defaults to a configured value. '
          pattern: ^\d{4}$
        paymentFacilitator:
          $ref: '#/components/schemas/PaymentsPaymentFacilitator'
          description: >-
            An object containing Payment Facilitator information. This
            information is required for every authorization [__only if you are a
            Payment
            Facilitator__](/products/payments/enable-features/payment-facilitator)
      required:
        - entity
    Narrative:
      type: object
      description: >-
        The text that appears on your customer's statement. Used to identify the
        merchant.
      properties:
        line1:
          type: string
          description: line1 is used to provide basic details about the merchant.
          maxLength: 24
          minLength: 1
          pattern: ^[a-zA-Z0-9 ,./-]*$
        line2:
          type: string
          description: ' line2 is used for additional context about the payment or merchant. E.g. Order number or Merchant phone number. '
          maxLength: 24
          minLength: 1
          pattern: ^[a-zA-Z0-9 ,./-]*$
      required:
        - line1
    PaymentRequest:
      properties:
        transactionReference:
          type: string
          description: ' A unique reference generated by you that is used to identify a payment throughout its lifecycle. '
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~`/+]*$
        orderReference:
          type: string
          description: >-
            A reference that you can apply to one or more payments according to
            your business needs. You may reuse the same reference across
            multiple payments, for example where:

            - the total amount for a single order is split across multiple
            payments

            - you use a single reference for each payment in a recurring
            agreement or split shipment scenario
          maxLength: 64
          minLength: 1
          pattern: ^[-A-Za-z0-9_!@#$%()*=.:;?\[\]{}~/+]*$
        merchant:
          $ref: '#/components/schemas/Merchant'
        instruction:
          $ref: '#/components/schemas/PaymentsInstruction'
        channel:
          type: string
          description: >-
            Interaction between the cardholder and you. Supply a value of `ecom`
            to process an eCommerce authorization. Supply a value of `moto` to
            process an authorization as a [__Mail Order or Telephone
            Order__](/products/payments/enable-features/moto) transaction.


            __Note: 3DS authentication cannot be supplied for MOTO payments__.
          enum:
            - ecom
            - moto
      required:
        - instruction
        - merchant
        - transactionReference
    PaymentsApplepayInstruction:
      properties:
        method:
          type: string
          description: The method of instruction.
          enum:
            - applepay
        paymentInstrument:
          discriminator:
            propertyName: type
            mapping:
              encrypted: '#/components/schemas/PaymentsEncryptedPaymentInstrument'
              decrypted: '#/components/schemas/PaymentsDecryptedPaymentInstrument'
          properties:
            type:
              type: string
              description: The type of instrument.
          required:
            - type
        narrative:
          $ref: '#/components/schemas/Narrative'
        value:
          $ref: '#/components/schemas/Value'
        debtRepayment:
          type: boolean
          description: >-
            A flag which identifies a payment as being for the purpose of
            repaying a debt.
        fraud:
          $ref: '#/components/schemas/PaymentsFraud'
        settlement:
          $ref: '#/components/schemas/Settlement'
        customer:
          $ref: '#/components/schemas/Customer'
        shipping:
          $ref: '#/components/schemas/Shipping'
        recipient:
          $ref: '#/components/schemas/PaymentsRecipient'
        consumerBillPayment:
          type: boolean
          description: >-
            An attribute that identifies a bill payment paid by providers on
            behalf of consumers. If you are registered with Visa as a Consumer
            of the Bill Payment Service (CBPS), you must set this to `true` for
            any payments associated with the CBPS.
        fundsTransfer:
          $ref: '#/components/schemas/PaymentsFundsTransfer'
      required:
        - method
        - narrative
        - paymentInstrument
        - value
    PaymentsBankAccount:
      allOf:
        - $ref: '#/components/schemas/PaymentsRecipientAccount'
        - type: object
          properties:
            type:
              type: string
              enum:
                - bankAccount
            identifierType:
              type: string
              enum:
                - iban
                - swift
                - routingNumber
                - accountNumber
            iban:
              type: string
              description: >-
                The International Bank Account Number (IBAN) of the recipient.
                Required if `identifierType` is `iban`
              example: IE12BOFI90000112345678
              maxLength: 34
              minLength: 1
              pattern: ^[A-Za-z0-9]*$
            accountNumber:
              type: string
              description: >-
                The account number of the recipient. Required if
                `identifierType` is `routingNumber`, `swift` or `accountNumber`
              example: '01234567'
              maxLength: 39
              minLength: 1
              pattern: ^(?!\s*$)[a-zA-Z0-9\s@!£*#$)(\-_=.,/;:'"]*$
            swiftBic:
              type: string
              description: >-
                The SWIFT Bank Identification Code (BIC) of the recipient.
                Required if `identifierType` is `swift`. Must be either 8 or 11
                alphanumeric characters.
              example: BEASUS33xxx
              maxLength: 11
              minLength: 8
              pattern: ^[A-Za-z0-9]*$
            routingNumber:
              type: string
              description: >-
                The ABA (American Bankers Association) Routing Transit Number
                (RTN). Identifies the Financial Insititution of the recipient's
                account. Required if `identifierType` is `routingNumber`. Must
                be 9 numeric characters.
              example: '111000025'
              maxLength: 9
              minLength: 9
              pattern: '[0-9]*$'
      required:
        - identifierType
        - type
    PaymentsCardAccount:
      allOf:
        - $ref: '#/components/schemas/PaymentsRecipientAccount'
        - type: object
          properties:
            type:
              type: string
              enum:
                - card
            cardNumber:
              type: string
              description: Recipient's card number.
              maxLength: 19
              minLength: 12
              pattern: ^[0-9]+$
      required:
        - cardNumber
        - type
    PaymentsCardInstruction:
      properties:
        method:
          type: string
          description: The method of instruction.
          enum:
            - card
        paymentInstrument:
          discriminator:
            propertyName: type
            mapping:
              plain: '#/components/schemas/PaymentsCardPlainPaymentInstrument'
              token: '#/components/schemas/TokenPaymentInstrument'
              checkout: '#/components/schemas/SessionPaymentInstrument'
              delegate: '#/components/schemas/SessionsDelegatePaymentInstrument'
              networkToken: '#/components/schemas/PaymentsNetworkTokenPaymentInstrument'
          properties:
            type:
              type: string
              description: The type of instrument.
          required:
            - type
        narrative:
          $ref: '#/components/schemas/Narrative'
        tokenCreation:
          $ref: '#/components/schemas/TokenCreation'
        value:
          $ref: '#/components/schemas/Value'
        debtRepayment:
          type: boolean
          description: >-
            A flag which identifies a payment as being for the purpose of
            repaying a debt.
        fraud:
          $ref: '#/components/schemas/PaymentsFraud'
        threeDS:
          $ref: '#/components/schemas/PaymentsThreeDS'
        exemption:
          $ref: '#/components/schemas/Exemption'
        settlement:
          $ref: '#/components/schemas/Settlement'
        customer:
          $ref: '#/components/schemas/Customer'
        shipping:
          $ref: '#/components/schemas/Shipping'
        customerAgreement:
          $ref: '#/components/schemas/PaymentsCustomerAgreement'
        recipient:
          $ref: '#/components/schemas/PaymentsRecipient'
        consumerBillPayment:
          type: boolean
          description: >-
            An attribute that identifies a bill payment paid by providers on
            behalf of consumers. If you are registered with Visa as a Consumer
[...]
